/* layout */
#contents {
}
#section1 {
    height: 100vh;
    background-color: #131A26;
}
#section2 {
    background-color: #131A26;
}
#section3 {
    height: 5000px;
    background-color: #131A26;
}
#section4 {}
#section5 {}
#section6 {}

/* header */
#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    backdrop-filter: blur(10px);
    background: #131a2649;
    border-bottom: 1px solid #ffffff;
    z-index: 1000000;
    display: flex;
    justify-content: space-between;
}
#header h1 {
    padding: 13px 10px 10px 16px;
    font-family: 'Syncopate';
    font-size: 20px;
    text-transform: capitalize;
    color: #fff;
}
#header h1 .star {
    display: inline-block;
}
#header h1 .star svg {
    width: 30px;
}
#header nav {
    border-left: 1px solid #ffffff;
    width: 72.5px;
    position: relative;
}
#header nav span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 3px;
    background: #fff;
    display: inline-block;
}
#header nav span::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 6px;
    width: 20px;
    height: 3px;
    background: #fff;
}
#header nav span::after {
    content: '';
    position: absolute;
    left: 0;
    top: 6px;
    width: 20px;
    height: 3px;
    background: #fff;
}

/* section1 */
.text_wrap {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%); 
    z-index: 100;
    width: 100%;
    overflow: hidden;
    text-align: center;
}
.text_wrap > div {
    font-family: 'Syncopate';
    font-size: 8vw;
    line-height: 1;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}
.text_wrap > div:nth-child(1){margin-right: 20vw;}
.text_wrap > div:nth-child(2){margin-left: 20vw;}
.text_wrap > div:nth-child(3){margin-right: 20vw;}
.text_wrap > div:nth-child(4){margin-left: 20vw;}

.sec1 .circle {
    position: absolute;
    right: 50px;
    bottom: 50px;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    background: url(https://images.unsplash.com/photo-1660230855022-a24f71059183?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=959&q=80) no-repeat center;
    background-size: cover;
    filter: grayscale(100%);
    z-index: 10000;
}

/* sec2_text */
.sec2 {
    text-align: center;
    padding-top: 200px;
}
.sec2 h2 {
    border: 1px solid #fff;
    width: 20vw;
    height: 20vw;
    line-height: 20vw;
    border-radius: 50%;
    color: #fff;
    font-family: 'Syncopate';
    margin: 0 auto;
}
.sec2_text {
    font-family: 'GmarketSans';
    color: #fff;
    font-weight: 300;
    padding: 10% 10% 10% 10%;
    font-size: 36px;
    word-break: keep-all;
}
.sec2_text2 {
    width: 100%;
    overflow: hidden;
}
.sec2_text2 > div {
    width: 120%;
    transform: rotate(-13deg);
    margin-top: 200px;
    margin-left: -10%;
    padding-bottom: 200px;
}
.sec2_text2 > div > div {
    font-size: 7vw;
    color: #fff;
    font-family: 'GmarketSans';
    text-transform: uppercase;
    font-weight: 800;
    white-space: nowrap;
    margin-left: -100px;
}
.sec2_text3 {
    position: relative;
    text-align: center;
    width: 100%;
    overflow: hidden;
    padding-bottom: 50vw;
}
.sec2_text3 .text1 {
    font-size: 2vw;
    color: #fff;
    font-family: 'GmarketSans';
    font-weight: 300;
    padding-top: 20vw;
}
.sec2_text3 .img1 {
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    background: url(https://images.unsplash.com/photo-1514993805013-c428d7f63ad4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80);
    background-size: cover;
    position: absolute;
    left: -10vw;
    top: 30vw;
}
.sec2_text3 .img2 {
    width: 35vw;
    height: 35vw;
    border-radius: 50%;
    background: url(https://images.unsplash.com/photo-1515036813970-3beada24ab5b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80);
    background-size: cover;
    margin: 0 auto;
    position: absolute;
    right: -10vw;
    top: 0;
}



/* sec3_text1 */
.sec3_text1 {
    text-align: center;
    position: relative;
}
.sec3_text1 h2 {
    color: #fff;
    font-family: 'Syncopate';
    font-size: 8vw;
    line-height: 0.8;
    text-transform: uppercase;
    font-weight: bold;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.sec3_text2 {
    position: fixed;
    left: 69.4%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0.6vw;
    height: 0vh;
    background: #fff;
}
