/* section1 */
#section1 {
    height: 25000px;
    background: #ccc;
}

/* sec1 */
.sec1-1 {
    display: flex;
    flex-wrap: wrap;
}
.sec1-1 .left {
    width: 50%;
    position: sticky;
    top: 0px;
    height: 100vh;
    overflow: hidden;
    background: #F4B5C6;
}
.sec1-1 .left .about img {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0 5vw;
    z-index: 100;
}

.sec1-1 .left .about .title {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
    font-size: 15vw;
    font-family: 'Thesignature';
    font-weight: normal;
    z-index: 10;
}
.sec1-1 .right {
    width: 50%;
    height: 5000px;
    background: #58BEF1;
}
.title-wrap {
    font-family: 'OKChan';
    font-size: 8vw;
    margin: 1.7vw 2vw;
    line-height: 1;
    color: #fff;
}
.title-wrap>div {
    -webkit-text-stroke: 0.4px #FC80A1;
    text-shadow: -2px 0 #fc80a1, 0 2px #fc80a1, 2px 0 #fc80a1, 0 -2px #fc80a1;
}
.title-wrap .title4 {
    font-family: 'NanumBarunpen';
    font-size: 24px;
    line-height: 1.3;
    padding-left: 15vw;
    word-break: keep-all;
    text-shadow: none;
    -webkit-text-stroke: 0;
    margin-top: 30vh;
}

.about-wrap {
    border-top: 1px solid #fff;
    font-family: 'OKChan';
    font-size: 8vw;
    margin: 5vw 2vw 1.7vw 2vw;
    padding-top: 15vw;
    line-height: 1;
    color: #fff;
}
.about-wrap>div {
    position:sticky;
    left: 0;
    height: 50vh;
    -webkit-text-stroke: 0.4px #FC80A1;
    text-shadow: -2px 0 #fc80a1, 0 2px #fc80a1, 2px 0 #fc80a1, 0 -2px #fc80a1;
}
.about-wrap .about1 {
    top: 1.7vw;
}
.about-wrap .about2 {
    top: 10.2vw;
}
.about-wrap .about3 {
    top: 19.2vw;
}
.about-wrap .about4 {
    top: 80.7vw;
    font-family: 'NanumBarunpen';
    font-size: 24px;
    line-height: 1.3;
    padding-left: 15vw;
    word-break: keep-all;
    text-shadow: none;
    -webkit-text-stroke: 0;
    margin-top: 30vh;
}
.pic1 {
    width: 40%;
    margin: 0 auto;
    position: relative;
}
.pic1 img {
    border: 0.7vw solid #FF8B39;
    border-radius: 15px;
}
.pic1 p {
    font-family: 'NanumBarunpen';
    color: #fff;
    font-weight: 700;
    padding-top: 10px;
}
.pic1 .icon1 {
    position: absolute;
    left: -3vw; top: -3vw;
    display: inline-block;
    background: url(https://kwonhyehyeon.github.io/portfolio/assets/img/sun_3d.png) no-repeat;
    background-size: cover;
    width: 7vw;
    height: 7vw;
}




/* sec2 */
.sec1-2 {
    display: flex;
    flex-wrap: wrap;
}
.sec1-2 .left {
    width: 50%;
    height: 5000px;
    background: #58BEF1;
}
.sec1-2 .right {
    position: sticky;
    top: 0px;
    width: 50%;
    height: 100vh;
    background: #FAE94B;
    overflow: hidden;
}

/* sec3 */
.sec1-3 {
    display: flex;
    flex-wrap: wrap;
}
.sec1-3 .left {
    width: 50%;
    height: 100vh;
    position: sticky;
    top: 0px;
    background: #F4B5C6;
    overflow: hidden;
}
.sec1-3 .right {
    width: 50%;
    height: 5000px;
    background: #58BEF1;
}


.sec1-4 {
    display: flex;
    flex-wrap: wrap;
}
.sec1-4 .left {
    width: 50%;
    height: 5000px;
    background: #58BEF1;
   
}
.sec1-4 .right {
    position: sticky;
    top: 0px;
    width: 50%;
    height: 100vh;
    background: #000;
    overflow: hidden;
}




/* section2 */
#section2 {
    height: 4000px;
    background: #ccc;
}
#section2 h3 {
    border: 2px solid #000;
    font-size: 16px;
    line-height: 1.2;
    font-family: 'Lexend';
    font-weight: normal;
    text-transform: capitalize;
    padding: 5px;
    margin-bottom: 10px;
    position: sticky;
    top: 0px;
    background: #fff;
    z-index: 1000;
}


