@import url('https://fonts.googleapis.com/css2?family=Abel&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: 'iceJaram-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/iceJaram-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    background: #F2EEE4;
    color: #F14620;
}

#header {
    position: fixed;
    left: 20px;
    right: 20px;
    top: 0;
    width: calc(100% - 40px);
    background-color: transparent;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #F14620;
    font-family: 'PPSupplyMono';
    z-index: 1000;
}

#header .left {
    display: flex;
    align-items: center;
}

#header .left h1 {
    margin-right: 20px;
    margin-left: 20px;
}

#header .left ul {
    display: flex;
}

#header .left ul li a {
    display: inline-block;
    padding: 10px 20px;
}

#header .right {
    padding-right: 20px;
    text-align: right;
}


.weather {
    position: fixed;
    top: 80px;
    right: 20px;
    border: 1px solid #F14620;
    z-index: 10000;
    background-color: transparent;
    backdrop-filter: blur(10px);
    padding: 10px 20px;

    font-family: 'PPSupplyMono';
}

#section1 {
    padding: 7% 5%;
}

#section1 .desc {
    font-size: 3.8vw;
    line-height: 1.2;
    font-family: 'PPSupplyMono';
    font-weight: 100;
    letter-spacing: -0.2vw;
}

#section1 .text {
    margin-top: 10%;
    font-size: 26vw;
    line-height: 0.8;
    font-family: Poppins;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
}

#section1 .text .img {
    position: absolute;
    left: 50vw;
    top: 5vw;
    width: 40vw;
    background-color: #000;
    overflow: hidden;
    border: 20px solid #F14620;
}


#section2 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#section2 .about1 {
    font-family: 'iceJaram-Rg';
    text-align: center;
}


#section2 .about2 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #cccccc49;
}

#section2 .about2>div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 400px;
    background-color: #fff;
}

#section2 .about2>div.img1 {}

#section2 .about2>div.img2 {}

#section2 .about2>div.img3 {}

#section2 .about2>div.img4 {}

#section2 .about2>div.img5 {}

#section2 .about2>div.img6 {}

#section2 .about2>div.img7 {}

#section2 h4 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

#section2 p {
    font-size: 20px;
    font-weight: bold;
}

#section3 {}

#section3 h4 {
    padding: 16px 23px 0;
    font-size: 20px;
    font-weight: bold;
    font-family: 'iceJaram-Rg';
}

.port-wrap {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 20px;
    width: 400%;
}

.port-wrap .port {
    width: calc(50vw - 60px);
    margin-right: 20px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.port-wrap .port::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.534) 0%, rgba(0, 0, 0, 0) 100%);
}

.port-wrap .port .info {
    position: absolute;
    left: 20px;
    top: 10px;
    z-index: 10;
}

.port-wrap .port .info h5 {
    color: #fff;
    width: 100%;
    padding: 0;
    font-family: 'iceJaram-Rg';
    font-size: 50px;

}

.port-wrap .port .info p {
    color: #fff;
    font-family: 'IropkeBatang';
    width: 100%;
}

.port-wrap .port .mp3 {
    position: absolute;
    z-index: 100;
    left: 50%;
    top: 54%;
    transform: translate(-50%, -50%);
    width: 36%;
}

.port-wrap .port img {
    filter: sepia(20%);
}

.port-wrap .port .skill {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.port-wrap .port .skill span {
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    display: block;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    margin-top: 10px;
    font-family: 'PPSupplyMono';
}




#section4 {
    padding: 7% 5%;
}

#section4 .desc {
    font-size: 3.8vw;
    line-height: 1.2;
    font-family: 'PPSupplyMono';
    font-weight: 100;
    letter-spacing: -0.2vw;
}

#section4 .text {
    margin-top: 10%;
    font-size: 26vw;
    line-height: 0.8;
    font-family: Poppins;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 100px;
}

#section4 .list li {
    border-bottom: 1px solid #F14620;
    position: relative;
}

#section4 .list li span {
    margin-top: 20px;
    display: block;
    margin-bottom: 10px;
}

#section4 .list li em {
    display: block;
    font-weight: bold;

}

#section4 .list li strong {
    font-family: 'IropkeBatang';
    padding-bottom: 10px;
    display: block;
}

#section4 .list li .icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#section4 .list li .icon svg {
    fill: #F14620
}



/* section5 */
#section5 {
    padding: 20% 5% 7% 5%;
    background-color: #F14620;
    color: #fff;
}

#section5 .desc {
    font-size: 3.8vw;
    line-height: 1.2;
    font-family: 'PPSupplyMono';
    font-weight: 100;
    letter-spacing: -0.2vw;
}


.sec5-text {
    display: flex;
    margin-top: 14%;
}

.sec5-text .text-left {
    width: 55%;
    /* background-color: #cccc; */


}

.sec5-text .text-left h3 {
    font-family: 'Poppins';
    color: #fff;
    font-size: 8vw;
    line-height: 0.9;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: -0.7vw;
    position: sticky;
    left: 0;
    top: 90px;
}

.sec5-text .text-right {
    width: 45%;
    margin-top: -1.2vw;
}

.sec5-text .text-right dt {
    font-family: 'iceJaram-Rg';
    font-size: 50px;
    margin-top: 50px;
}

.sec5-text .text-right dt.noTop {
    margin-top: 0;
}

.sec5-text .text-right dd {
    font-family: 'IropkeBatang';
    font-size: 20px;
    margin-bottom: 5px;
    position: relative;
    padding-left: 28px;
}

.sec5-text .text-right dd::before {
    content: '';
    background-image: url(../img/check.svg);
    width: 18px;
    height: 18px;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 5px;
    border-radius: 3px;
}



/* section6 */
#section6 {
    padding: 5% 5% 7% 5%;
    background-color: #222;
    color: #F2EEE4;
}

#section6 .desc {
    font-size: 3.8vw;
    line-height: 1.2;
    font-family: 'PPSupplyMono';
    font-weight: 100;
    letter-spacing: -0.2vw;
}

.sec6-text {
    display: flex;
    margin-top: 14%;
}

.sec6-text .text-left {
    width: 55%;

}

.sec6-text .text-left h3 {
    font-family: 'Poppins';
    color: #F2EEE4;
    font-size: 8vw;
    line-height: 0.9;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: -0.7vw;
    position: sticky;
    left: 0;
    top: 90px;
}

.sec6-text .text-right {
    width: 45%;
    margin-top: -1.2vw;
}

.sec6-text .text-right dt {
    font-family: 'iceJaram-Rg';
    font-size: 50px;
    margin-top: 50px;
}

.sec6-text .text-right dt.noTop {
    margin-top: 0;
}

.sec6-text .text-right dd {
    font-family: 'IropkeBatang';
    font-size: 20px;
    margin-bottom: 5px;
    position: relative;
    padding-left: 28px;
}

.sec6-text .text-right dd::before {
    content: '';
    background-image: url(../img/check.svg);
    width: 18px;
    height: 18px;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 5px;
    border-radius: 3px;
}

.comment-wrap {}

.comment-wrap .comment {
    margin-top: 100px;
}

.comment-wrap .comment.noTop {
    margin-top: 0;
}

.comment-wrap .comment .title {
    font-size: 8vw;
    line-height: 1;
    font-family: 'iceJaram-Rg';
    display: inline-block;
}

.comment-wrap .comment .title em {
    font-size: 30px;
}

.comment-wrap .comment .auth {
    display: inline-block;
    font-family: 'IropkeBatang';
    margin-bottom: 10px;
    font-size: 14px;
    opacity: 0.4;
}

.comment-wrap .comment .cont {
    position: relative;
    padding-left: 40px;
    font-family: 'IropkeBatang';
    font-size: 20px;
    word-break: keep-all;
}

.comment-wrap .comment .cont::before {
    content: '';
    background-image: url(../img/terminal.svg);
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #F2EEE4;
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.comment-wrap .comment form {}

.comment-wrap .comment form legend {
    display: none;
}

.comment-wrap .comment form fieldset {
    padding: 10px;
    border: 1px solid #cccccc7c;
}

.comment-wrap .comment form fieldset label {
    display: none;
}

.comment__form .input {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'IropkeBatang';
    margin-bottom: 10px;
}

.comment__form .input input {
    border: 0;
    background: transparent;
    border: 1px solid #cccccc7c;
    width: 49%;
    padding: 10px;
    font-family: 'IropkeBatang';
}

.comment__form .text textarea {
    border: 0;
    background: transparent;
    border: 1px solid #cccccc7c;
    width: 100%;
    resize: none;
    padding: 10px;
    font-family: 'IropkeBatang';

}

.comment__form button {
    border: 0;
    background: transparent;
    border: 1px solid #cccccc7c;
    width: 100%;
    padding: 10px;
    color: #cccccc7c;
    font-family: 'IropkeBatang';
}


#section7 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 30px;
    font-family: 'PPSupplyMono';
}

#section7 {
    position: relative;
}

#section7 .bottom {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#section7 .bottom ul {
    display: inline-block;
}

#section7 .bottom li {
    display: inline;
}

#section7 .bottom li a {
    font-size: 16px;
    text-emphasis-style: dot;
}

#section7 .bottom li a:hover {
    text-emphasis-color: #000;
}


.modal__wrap {
    display: none;
}

.modal__wrap .modal {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 19000;
    transform: translate(-50%, -50%);
    background-color: #0000008e;
    width: 100%;
    height: 100vh;

}

.modal__wrap .modal .modal__inner {
    position: absolute;
    left: 50%;
    top: 53%;
    z-index: 10001;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 85vh;
    border: 1px solid #ffffffaf;
    border-radius: 10px;
    overflow: hidden;

}

.modal__inner {
    display: flex;
}

.modal__inner .modal__left {
    width: 50%;
    height: 100%;
    background-image: url('https://springsummer.imgix.net/uploads/Magasin-01.png?auto=compress%2Cformat&fit=clip&q=35&w=2600');
    background-image: url('../img/Frame02.jpg');
    background-position: center center;
    background-size: cover;
    position: relative;
}

.modal__inner .modal__left img {
    width: 40%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal__inner .modal__right {
    width: 50%;
    height: 100%;
    background-color: #ffffff;
    backdrop-filter: blur(20px);
    padding: 20px;

}

.modal__inner .modal__right h4 {
    font-family: 'iceJaram-Rg';
    font-size: 30px;
}

.modal__inner .modal__right p {
    margin-bottom: 10px;
}