@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

/* fonts */
.PPEiko-BlackItalic {
    font-family: 'PPEiko-BlackItalic';
}
.PPEiko-Heavy {
    font-family: 'PPEiko-Heavy';
}
.PPEiko-LightItalic {
    font-family: 'PPEiko-LightItalic';
}
.PPEiko-Medium {
    font-family: 'PPEiko-Medium';
}
.PPEiko-Thin {
    font-family: 'PPEiko-Thin';
}

/* header */
#header {
    position: fixed;
    left: 0;
    top: -100px;
    width: 100%;
    background: rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
    z-index: 1000;
    font-family: 'Abel';
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: #fff;
}
#header nav li {
    display: inline;
}
#header nav li a {
    padding: 10px;
}

/* section1 */
#section1 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
#webgl {
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
}
.text__inner {
    text-align: center;
    position: relative;
    z-index: 100;
}
.text__inner > div {
    color: #fff;
    font-family: 'PPEiko-Thin';
    font-size: 6vw;
    line-height: 1.2;
    color: #E1D8CD;
}
.text__inner > div:nth-child(2){
    font-family: 'PPEiko-LightItalic';
}
.text__inner > div:nth-child(4){
    font-family: 'PPEiko-LightItalic';
}




/* section2 */
#section2 {
    padding: 20vw 0;
}
.about__inner {
    text-align: center;
    font-size: 9vw;
    color: #000;
    font-family: 'PPEiko-Thin';
    line-height: .71;
    position: relative;
}
.about__inner .txt1 {
    margin-left: -70vw;
}
.about__inner .txt2 {
    margin-left: 5vw; 
    margin-top: 2vw; 
    position: relative; 
    z-index: 100;
}
.about__inner .txt3 {
    margin-left: -30vw;
}
.about__inner .desc {
    margin-top: 8vw;
    font-size: 16px;
    font-family: "SCoreDream";
    line-height: 1.5;
    font-weight: 200;
    margin-left: 25vw;
    text-align: left;
    position: relative;
}
.about__inner .desc::before {
    content: '';
    width: 10vw;
    height: 1px;
    background: #000;
    position: absolute;
    left: -5vw;
    top: -3vw;
}
.about__inner .img1 {
    width: 30vw;
    position: absolute;
    right: 10vw;
    top: 15vw;
}


/* section3 */
#section3 {
    height: 4000px;
    background: #ccc;
}