#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 10000;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 20px 50px;
}

#header .left {
    display: flex;
    align-items: flex-end;
}

#header .left span {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;

}

#header .left h1 {
    font-family: Josefin Slab;
    text-transform: uppercase;
    padding-right: 3vw;
    margin-bottom: -5px;
    font-size: 30px;
}

#header .left p {
    font-family: GmarketSans;
    font-weight: 100;
    margin-bottom: 2px;
}

#header .left span img {
    width: 100%;
}

#header .right ul {
    display: flex;
}

#header .right ul li a {
    font-family: GmarketSans;
    font-weight: 500;
    display: inline-block;
    margin-left: 40px;
}

#section1 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 150px 50px 50px 50px;
}

.sec1__text {
    font-family: 'GmarketSans';
    text-align: left;
    font-size: 9vw;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 900;
    position: relative;
}

.sec1__text .img {
    width: 12vw;
    height: 7.4vw;
    background-image: url(https://source.unsplash.com/500x500/?water);
    background-size: cover;
    background-position: center;
    display: block;
    position: absolute;
    left: 0.6vw;
    top: 0.6vw;
    border-radius: 10px;
}

.sec1__text>div:nth-of-type(1) {
    padding-left: 13vw;
}

.sec1__intro {
    font-family: 'IropkeBatang';
    line-height: 1.6;
}



#section2 {
    padding: 0 0 100px;
    position: relative;
    overflow: hidden;
}

#section2 .imgWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    width: 200%;
    margin-left: -20%;
    white-space: nowrap;
}

#section2 .imgWrap>div {
    width: 800px;
    height: 500px;
    margin: 10px;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
}

#section2 .imgWrap>div:nth-child(1) {
    background-image: url(https://images.unsplash.com/photo-1635438909544-3f1e87c206eb?q=80&w=4074&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

#section2 .imgWrap>div:nth-child(2) {
    background-image: url(https://images.unsplash.com/photo-1702221422565-60f734cd90b1?q=80&w=4000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

#section2 .imgWrap>div:nth-child(3) {
    background-image: url(https://images.unsplash.com/photo-1683009427619-a1a11b799e05?q=80&w=4170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.text-title {
    position: relative;
}

.text-title p {
    padding: 3% 5% 0 10%;
    font-family: 'GmarketSans';
    font-weight: 900;
    font-size: 4vw;
    line-height: 1.2;
    text-align: right;
}

.text-title .svg {
    position: absolute;
    left: 5%;
    top: 14%;
}

.text-title .svg svg {
    width: 4.5vw;
    height: 4.5vw;
}

.text-title .desc2 {
    font-family: 'IropkeBatang';
    line-height: 1.6;
    font-size: 16px;
    color: #202020;
    font-weight: normal;
}

.text-title .desc2 i {
    font-style: normal;
    text-decoration: underline;
    text-underline-position: under;
    display: block;
    margin-bottom: 20px;
}








@media (max-width: 1000px) {
    #header .left p {
        display: none;
    }
}

@media (max-width: 700px) {
    #header {
        padding: 20px 20px;
    }

    #header .right {
        display: none;
    }

    #section1 {
        padding: 120px 2px 50px 20px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #section1 br {
        display: none;
    }

    .sec1__text {
        text-align: center;
    }

    .sec1__intro p {
        display: none;
    }
}


#section3 {
    padding: 20% 0 10%;
}

#section3 .title {
    font-family: 'GmarketSans';
    text-align: left;
    font-size: 8vw;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 900;
    position: relative;
    margin-bottom: 10%;
    padding: 0 5%;
}

#section3 .title .t1 {
    padding-left: 14vw;
}

#section3 .title .img {
    width: 12vw;
    height: 6.6vw;
    background-image: url(https://source.unsplash.com/500x500/?color);
    background-size: cover;
    background-position: center;
    display: block;
    position: absolute;
    left: 5.5%;
    top: 0.6vw;
    border-radius: 10px;
    background-color: #000;
}

#section3 .title .desc {
    font-family: 'IropkeBatang';
    line-height: 1.6;
    font-size: 16px;
    color: #202020;
    font-weight: normal;
    padding-left: 0.5vw;
    text-decoration: underline;
    text-underline-position: under;
}

#section3 .title .desc2 {
    padding-top: 30px;
    font-family: 'IropkeBatang';
    line-height: 1.6;
    font-size: 16px;
    color: #202020;
    font-weight: normal;
    padding-left: 0.5vw;
}

.site__wrap {}

.site__wrap .site {
    display: flex;
    height: 100vh;
}

.site__wrap .site .num {
    width: 15vw;
    font-size: 15vw;
    font-family: 'GmarketSans';
    font-weight: 900;
    line-height: .861;
}

.site__wrap .site .subTitle {
    width: 30%;
    font-family: 'IropkeBatang';
    text-align: center;
}

.site__wrap .site .tit {
    width: 50%;
}

.site__wrap .site .tit .h4 {
    font-size: 4vw;
    margin-top: -0.8vw;
    line-height: 1.3;
    font-family: 'GmarketSans';
    font-weight: 100;
    text-transform: capitalize;
}

.site__wrap .site .tit .img {
    margin-top: 5%;
    width: 50%;
    height: 300px;
    background-color: #ccc;
}

.site__wrap .site .tit .img-wrap {
    display: flex;
}

.site__wrap .site .tit .img-wrap .img {
    width: 60%;
    background-size: cover;
    background-position: center center;
    background-image: url(https://images.unsplash.com/photo-1484807352052-23338990c6c6?q=80&w=3540&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.site__wrap .site .tit .img-wrap .desc {
    width: 36%;
    margin-left: 4%;
    margin-top: 60px;
    font-family: 'IropkeBatang';
}

.site__wrap .site .tit .img-wrap .desc h4 {
    text-decoration: underline;
    text-underline-position: under;
    margin-bottom: 10px;
}

.site.s1 {
    position: sticky;
    left: 0;
    top: 100px;
    background-color: #dedede;
    z-index: 900;
    padding: 5%;
}

.site.s2 {
    position: sticky;
    left: 0;
    top: 100px;
    z-index: 1000;
    padding: 5%;
    background-color: #fff;
}

.site.s3 {
    position: sticky;
    left: 0;
    top: 100px;
    background-color: #dedede;
    z-index: 2000;
    padding: 5%;
}



#section4 {
    padding: 20% 0 10%;
    height: 4000px;
}

#section4 .title {
    font-family: 'GmarketSans';
    text-align: left;
    font-size: 8vw;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 900;
    position: relative;
    margin-bottom: 10%;
    padding: 0 5%;
}

#section4 .title .t1 {
    padding-left: 14vw;
}

#section4 .title .img {
    width: 12vw;
    height: 6.6vw;
    background-image: url(https://source.unsplash.com/500x500/?color);
    background-size: cover;
    background-position: center;
    display: block;
    position: absolute;
    left: 5.5%;
    top: 0.6vw;
    border-radius: 10px;
    background-color: #000;
}

#section4 .title .desc {
    font-family: 'IropkeBatang';
    line-height: 1.6;
    font-size: 16px;
    color: #202020;
    font-weight: normal;
    padding-left: 0.5vw;
    text-decoration: underline;
    text-underline-position: under;
}

#section4 .title .desc2 {
    padding-top: 30px;
    font-family: 'IropkeBatang';
    line-height: 1.6;
    font-size: 16px;
    color: #202020;
    font-weight: normal;
    padding-left: 0.5vw;
}

.about-wrap {
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
}

.about-wrap .left {
    width: 50%;
    padding-bottom: 60%;
    background-image: url(../img/dd.jpg);
    background-size: cover;
    background-position: center center;
}

.about-wrap .right {
    width: 45%;
}

.about-wrap .right dl {}

.about-wrap .right dt {
    font-family: "Josefin Slab";
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}

.about-wrap .right dd {
    font-family: 'IropkeBatang';
    margin-bottom: 50px;
    line-height: 1.7;
}