/* section1 */
#section1 {
    background: #8219C6 url(../img/svg_bg.svg) no-repeat center center;
    background-size: cover;
    width: 101%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-blend-mode: hard-light;
    animation: hue-rotate 13s linear infinite;
}
@keyframes hue-rotate {
    from {
      -webkit-filter: hue-rotate(0);
      -moz-filter: hue-rotate(0);
      -ms-filter: hue-rotate(0);
      filter: hue-rotate(0);
    }
    to {
      -webkit-filter: hue-rotate(360deg);
      -moz-filter: hue-rotate(360deg);
      -ms-filter: hue-rotate(360deg);
      filter: hue-rotate(360deg);
    }
  }
.bg {
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.center {
    display: flex;  
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    position: relative;
    z-index: 10;
}

.center h1 .bg1 {
    background: url(https://garenchoi.github.io/portfolio/img/basketball1.png);
    background-size: contain;
    width: 9.4vw;
    height: 9.4vw;
    display: block;
    position: absolute;
    left: 7vw; top: 0;
}


#section1 h1 {
    font-size: 9.5vw;
    color: #fff;
    font-family: 'GmarketSans';
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
    position: relative;
}
#section1 p {
    font-size: 2.5vw;
    font-weight: bold;
    font-family: 'GmarketSans';
    color: #fff;
    margin-bottom: 2vw;
}
#section1 a {
    width: 10vw;
    height: 10vw;
    background-color: #30EB00;
    border-radius: 50%;
    display: flex;
    align-items: center;    
    justify-content: center;
    font-family: 'GmarketSans';
    font-size: 3vw;
    white-space: nowrap;
}

