@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap");
@import url("https://webfontworld.github.io/BMJua/BMJua.css");

#webgl {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

#main {
  min-height: 100vh;
  font-family: "Quicksand";
  font-size: 20px;
}
.contaienr {
  width: 96%;
  margin: 0 auto;
}
#header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1vw;
  padding-right: 2%;
}
#header h1 {
  font-size: 4vw;
  line-height: 1;
  text-transform: capitalize;
  padding: 2%;
}
nav a {
  display: inline-block;
  font-size: 30px;
  text-transform: uppercase;
}

.font1 {
  font-family: "Quicksand";
  font-weight: 100;
}

.title {
  padding-top: 30vh;
  padding-bottom: 5vw;
}
.title li {
  display: inline;
}
.title li a {
  border: 2px solid #000;
  padding: 10px 40px;
  display: inline-block;
  border-radius: 50px;
  font-family: "Quicksand";
  font-weight: 500;
  text-transform: uppercase;
}

.keyword {
}
.keyword > div {
  font-size: 3vw;
  display: inline-block;
  margin-right: 2vw;
  margin-bottom: 1vw;
  position: relative;
}
.keyword > div .modal {
  background: rgba(211, 205, 190, 0.7);
  backdrop-filter: blur(10px);
  width: 80%;
  height: 80%;
  position: fixed;
  top: 100%;
  left: 10%;
  z-index: 1000;
  font-family: "BMJua";
  border-radius: 20px;
  padding: 2%;
  transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
}
.keyword > div .modal h3 {
  line-height: 1;
  font-size: 30px;
  margin-bottom: 30px;
}
.keyword > div .modal .desc {
  display: flex;
  justify-content: space-between;
}
.keyword > div .modal .desc .left {
  width: 50%;
}
.keyword > div .modal .desc .left img {
  border-radius: 10px;
}
.keyword > div .modal .desc .right {
  width: 47%;
  font-size: 16px;
}
.keyword > div .modal .desc .right .btn {
  margin-top: 20px;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.keyword > div .modal .desc .right .btn a {
  background: #000;
  color: #fff;
  padding: 10px 30px;
  display: inline-block;
  border-radius: 50px;
}

.keyword > div .modal .close {
  position: absolute;
  right: 30px;
  top: 20px;
  font-size: 20px;
}
.keyword > div.open .modal {
  top: 10%;
}

.keyword > div span {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%) translateY(-35px);
  white-space: nowrap;
  font-size: 20px;
  font-family: "BMJua";
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.keyword > div a:hover + span {
  transform: translateX(-50%) translateY(-15px);
  opacity: 1;
}

.keyword > div a:before,
.keyword > div a:after {
  content: "";
  border-bottom: solid 2px #000;
  position: absolute;
  bottom: 0;
  width: 0;
}

.keyword > div a:before {
  left: 0;
}
.keyword > div a:after {
  right: 0;
}

.keyword > div a:hover:before,
.keyword > div a:hover:after {
  width: 50%;
}

.keyword > div a:before,
.keyword > div a:after {
  transition: all 0.2s ease;
}

.study.up {
  background: #000;
}
.site.up {
  background: #000;
}
.photoshop.up {
  background: #000;
}