@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

body {
    background-color: #1C1E21;
}

#header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0px;
    z-index: 10000;
    background-color: #00000000;
    backdrop-filter: blur(10px);
    font-family: Abel;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header h1 {
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 3px;
    color: #E9DFCE;
}

#header nav {
    color: #E9DFCE;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 3px;
}

#footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0px;
    font-family: Abel;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #00000000;
    backdrop-filter: blur(10px);
}

#footer .left {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 3px;
    color: #E9DFCE;
}

#footer .right {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 3px;
    color: #E9DFCE;
}

#section1 {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

#section1 canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

#section1 .text {
    color: #E9DFCE;
}

#section1 .text>div:nth-child(1) {
    font-family: "PartizenoRegular";
    font-size: 13vw;
    line-height: 0.7;
}

#section1 .text>div:nth-child(2) {
    font-family: "PartizenoRegular";
    font-size: 15vw;
    line-height: 0.9;
}

#section1 .text>div:nth-child(3) {
    font-size: 5vw;
    font-family: "Orbitron";
    font-style: italic;
    line-height: 1;
    margin-top: 5px;
}

#section1 .text>div:nth-child(4) {
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 10px;
}

#section2 {
    height: 2000px;
    padding: 30vh 0;
}

#section2 .star {
    width: 30px;
    margin: 10vh auto;
}

#section2 .desc {
    color: #E9DFCE;
    font-family: "IropkeBatang";
    margin: 10vh auto;
    text-align: center;
    word-break: keep-all;
    line-height: 1.6;
}

#section3 {
    height: 3000px;
    overflow: hidden;
}

#section3 .text {
    font-size: 30vw;
    font-family: "PartizenoRegular";
    color: #E9DFCE;
    white-space: nowrap;
    font-style: italic;
    margin-left: -20%;
    position: relative;
    margin-bottom: 20%;
}

#section3 .text .list {
    position: absolute;
    right: 20px;
    top: 30vw;
    font-size: 14px;
    font-family: 'Abel';
}

.site-wrap {
    color: #E9DFCE;
}

.site-wrap .site {
    width: 100%;
    margin-left: 6vw;
    position: relative;
}

.site-wrap .site .imgWrap {
    width: 55%;
    height: 63vh;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
}

.site-wrap .site .imgWrap .img {
    width: 100%;
    height: 100%;
    background-image: url(../img/img.png);
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
}

.site-wrap .site .title {
    font-family: "PartizenoRegular";
    font-size: 8vw;
    line-height: 1;
    margin-top: -5vw;
    position: relative;
    z-index: 10;
    margin-left: 30vw;
}

.site-wrap .site .desc {
    font-family: "IropkeBatang";
    font-size: 16px;
    margin-left: 31vw;
    position: relative;
}

.site-wrap .site .desc .btn {
    position: absolute;
    right: 20%;
    top: 0;
    display: inline-block;
    width: auto;
    z-index: 10000;
}

.site-wrap .site .desc .btn a {
    background-color: #E9DFCE;
    color: #000;
    padding: 10px 50px;
    display: inline-block;
    border-radius: 50px;
    text-transform: uppercase;
    font-family: "Orbitron";
}