/* layout */
#section1 {
    background: #f1f1f1;
}

#section2 {
    background: #f1f1f1;
    height: 2000px;
}

#section3 {
    background: #f1f1f1;
    height: 2000px;
}

/* scroll */
.scroll {
    position: fixed;
    left: 10px;
    bottom: 10px;
    width: 40px;
    height: 40px;
    background-color: rgba(0,0,0,0.3);
    text-align: center;
    line-height: 40px;
    z-index: 10000;
    color: #fff;
}

/* header */
#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 10px 20px;
    box-sizing: border-box;
    font-family: 'Abel';
    z-index: 10000;
}
#header .nav li {
    display: inline-block;
}
#header .nav li:last-child {
    margin-left: 200px;
    text-decoration: underline;
}
#header .nav li a {
    padding: 10px;
    font-size: 18px;
}

/* sec_text1 */
.sec1_text1 {
    padding: 200px 5%;
    font-family: 'Jost', sans-serif;
    font-size: 7vw;
    line-height: 1.1;
    font-weight: 100;
    letter-spacing: -2px;
    text-transform: uppercase;
}
.eye-wrap {
    width: 20vw;
    height: 5vw;
    background: #B7D454;
    display: inline-block;
    margin-right: 2vw;
    border-radius: 50px;
}
.eye-wrap .eyes {
    position: relative;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}
.eye-wrap .eyes .eye {
    position: relative;
    top: 3px;
    width: 70px;
    height: 70px;
    display: block;
    margin: 5px;
    background: #fff;
    border-radius: 50%;
}
.eye-wrap .eyes .eye:before {
    content: '';
    position: absolute;
    top: 50px;
    left: 25px;
    transform: translate(-50%,-50%);
    width: 35px;
    height: 35px;
    background: #333;
    border-radius: 50%;
}


.sec1_text2 {
    padding: 70px 20px 250px;
    border-top: 1px solid #dcdcdc;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 2px;
    color: #666;
    font-size: 14px;
    position: relative;
}
.sec1_text2 .arrow {
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -20px;
    border: 2px solid #666;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='19' viewBox='0 0 18 19' fill='none'%3E%3Cpath d='M7.75 1.542L16.75 10.015L7.75 18.042' stroke='%23666' stroke-width='1.667'/%3E%3Cpath d='M16.083 10H1.5' stroke='%23666' stroke-width='1.667' stroke-linecap='square'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    line-height: 40px;
    transform: scale(0.8) rotate(90deg);
}

/* sec2 */
.sec2_title {
    background-color: #004D43;
    color: #fff;
    font-size: 20vw;
    text-transform: uppercase;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    padding: 3vw 5vw;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    letter-spacing: -1vw;
    border-radius: 60px 60px 0 0;
}
.sec2_title span {
    display: inline-block;
    margin: 30px;
}
.sec2_about {
    background-color: #CDEA68;
    padding: 10%;
    font-family: 'GmarketSans';
    font-size: 40px;
    font-weight: 300;
    border-radius: 60px 60px 0 0;
    margin-top: -100px;
}
.sec2_about .title {
    padding-bottom: 100px;
    margin-bottom: 100px;
    border-bottom: 1px solid #000;;
}
.sec2_about .intro {
    display: flex;
    justify-content: space-between;
}
.sec2_about .intro .left {
    width: 53%;
}
.sec2_about .intro .left h3 {
    font-size: 5vw;
    font-weight: 300;
}
.sec2_about .intro .left h3 em {
    display: block;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 3vw;
    padding-bottom: 4vw;
}
.sec2_about .intro .left p {
    font-size: 26px;
}
.sec2_about .intro .left .skill {
    display: flex;
    margin-top: 5vw
}
.sec2_about .intro .left .skill dl {
    margin-right: 5vw;
}
.sec2_about .intro .left .skill dd {
    font-size: 18px;
    line-height: 1.9;
}
.sec2_about .intro .left .skill dt {
    font-size: 23px;
    font-weight: 400;
    line-height: 1.9;
}


.sec2_about .intro .right {
    width: 44%;
    max-height: 500px;
    background-image: url(https://images.unsplash.com/photo-1573140247632-f8fd74997d5c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80);
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    position: relative;
}



@media (max-width: 800px){
    #header nav {
        display: none;
    }
    .sec1_text1 {
        font-size: 60px;
        text-align: center;
        position: relative;
    }
    .sec1_text1 span {
        position: absolute;
        right: 10px;
        bottom: 30px;
        width: 300px;
        height: 60px;
    }
    .sec1_text2 {
        flex-direction: column;
    }
    .sec1_text2 .arrow {
        top: 90px;
    }

    /* .sec2_about .intro {
        flex-direction: column-reverse;
    } */
    .sec2_about .intro {
        flex-direction: column-reverse;
    }
    .sec2_about .intro .left {
        width: 100%;
        margin-top: 40px;
    }
    .sec2_about .intro .right {
        width: 100%;
        min-height: 350px;
    }
    .sec2_about .intro .right span {
        bottom: auto;
        top: -50px;
        font-size: 24px;
    }
    .sec2_about .intro .left h3 {
        font-size: 40px;
    }
    .sec2_about .intro .left p {
        font-size: 18px;
    }
    .sec2_about .intro .left .skill dt {
        font-size: 18px;
    }
    .sec2_about .intro .left .skill dd {
        font-size: 18px;
    }
}


/* sec3 */
.sec3 {}
.sec3_site {
    background-color: #fff;
    border-radius: 60px 60px 0 0;
}
.sec3_site h3 {
    padding: 40px;
    font-family: 'Jost', sans-serif;
    font-size: 3vw;
    line-height: 1.1;
    font-weight: 100;
    text-transform: uppercase;
}
.site__wrap {
    border-top: 1px solid #000;
    display: flex;
    justify-content: space-between;
    padding: 5%;
}
.site__wrap .site {
    width: 49%;
    height: 500px;
    background-color: #F2A4A1;
    border-radius: 30px;
}
.site__wrap .site1 {
    background-image: url(http://songsj.woobi.co.kr/img/loeuvre.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.site__wrap .site2 {
    background-image: url(http://songsj.woobi.co.kr/img/laka.svg);
    background-repeat: no-repeat;
    background-position: center bottom -200px;
    background-size: 80%;
}

.sec4 {
    background: #000;
    width: 1400px;
    margin: 0 auto;
}
.grid {
    width: 100%;
    display: grid;
    gap: 1%;
    grid-template-areas: 
        'box1 box1 box3 box4'
        'box1 box1 box7 box8'
        'box9 box10 box11 box8'
        'box13 box14 box15 box16'
    ;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 200px 100px 100px 200px;
    
}
.grid > div {background: #ccc;}
.grid > div:nth-child(1) {grid-area: box1}
.grid > div:nth-child(2) {grid-area: box2}
.grid > div:nth-child(3) {grid-area: box3}
.grid > div:nth-child(4) {grid-area: box4}
.grid > div:nth-child(5) {grid-area: box5}
.grid > div:nth-child(6) {grid-area: box6}
.grid > div:nth-child(7) {grid-area: box7}
.grid > div:nth-child(8) {grid-area: box8}
.grid > div:nth-child(9) {grid-area: box9}
.grid > div:nth-child(10) {grid-area: box10}
.grid > div:nth-child(11) {grid-area: box11}
.grid > div:nth-child(12) {grid-area: box12}
.grid > div:nth-child(13) {grid-area: box13}
.grid > div:nth-child(14) {grid-area: box14}
.grid > div:nth-child(15) {grid-area: box15}
.grid > div:nth-child(16) {grid-area: box16}