.container {
    width: 1400px;
    margin: 0 auto;
    position: relative;
}
#header {
    font-family: "AfricaTrial-Rainfall";
    position: fixed;
    left: 0%;
    top: 0;
    z-index: 10900;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#header h1 {
    font-family: "AfricaTrial-Rainfall";
    font-size: 30px;
    line-height: 1;
    padding: 20px;
}
#header h1 span {
    display: block;
}
#header nav ul {
    display: flex;
    margin-right: 30px;
}
#header nav li {
    font-family: "NeoGeoTrial-Light";
    padding: 10px;
    font-size: 18px;
}

#section1 {
    width: 100%;
    height: 100vh;
    background-image: url(../img/bg-min.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "IropkeBatang";
    text-align: center;
    z-index: 13000;
}
#section1 .desc {
    font-size: 16px;
}
#section1 .scroll {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    line-height: 90px;
    background-color: #000;
    border-radius: 50%;
    color: #fff;
    font-family: "Abel";
    text-transform: uppercase;
    background: #000 url(../img/arrow.svg) no-repeat;
    background-position: center bottom 20px;
    background-size: 20px;
}

#section2 {
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 20% 5%;
    position: relative;
    z-index: 2000;
    /* margin-bottom: 100vh; */
}
.about .title {
    font-family: "Abel";
    color: #999;
}
.about .desc1 {
    padding: 10% 0 10% 40%;
    font-size: 30px;
    font-family: "NeoGeoTrial-Light";
}
.about .desc2 {
    padding: 0 0 0 60%;
    font-family: "IropkeBatang";
    word-break: keep-all;
    font-size: 16px;
    line-height: 1.7;
    color: #f1f1f1;
}
.about .img {
    width: 550px;
    height: 760px;
    background-color: #fff;
    margin: 150px auto;
    position: relative;
}
.about .img .img1 {
    width: 100%;
    height: 100%;
    background-image: url(../img/jin.jpg);
    background-size: cover;
    background-position: center;
}

.about .img .img2 {
    width: 80%;
    height: 90%;
    background-image: url(https://www.danilodemarco.com/img/mystory/albe.webp);
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 10%;
    top: 5%;
    transform: rotate(45deg);
}

.about2 {
    margin-top: 400px;
}
.about2 .title {
    margin-top: 100px;
}

/* skillWrap */
.skillWrap {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 1fr;
    gap: 20px;
    margin-top: 100px;
}

.skillWrap .skill .num {
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 16px;
    font-family: "Abel";
    color: #555;
}
.skillWrap .skill {
    position: relative;
    perspective: 1000px;
    width: 100%;
    aspect-ratio: 1 / 1;
}
.skillWrap .skill .front,
.skillWrap .skill .back {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: transform 1s;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 20px;
    padding: 7%;
    border: 1px solid #363636;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Flamenco";
    font-size: 50px;
}
.skillWrap .skill .back {
    transform: rotateY(-180deg);
    font-size: 14px;
}
.skillWrap .skill:hover .front {
    transform: rotateY(180deg);
}
.skillWrap .skill:hover .back {
    transform: rotateY(0);
}

#section3 {
    width: 400%;
    height: 100vh;
    background-image: url(../img/bg-min.jpg);
    background-repeat: repeat-x;
    background-size: cover;
    /* position: fixed;
    left: 0;
    top: 0; */
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
}
#section3 h3 {
    font-size: 30vw;
    font-family: "NeoGeoTrial-ExtraLight";
    text-transform: uppercase;
    padding-left: 50vw;
    letter-spacing: 2vw;
    color: #fff;
}

#section3 .sec3-desc {
    position: absolute;
    left: 1%;
    top: 10%;
}

#section3 .sec3-desc p {
    width: 800px;
}

.projectWrap {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    /* background-color: #ccc; */
}
.projectWrap .project {
    width: 600px;
    height: 800px;
    background-color: #00000032;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
}
.projectWrap .project.p1 {
    left: 40%;
    top: 50%;
}
.projectWrap .project.p2 {
    left: 60%;
    top: 60%;
}
.projectWrap .project.p3 {
    left: 80%;
}
.projectWrap .project.p4 {
    left: 100%;
}
.projectWrap .project.p5 {
    left: 120%;
}

#section4 {
    padding: 20px;
    width: 100%;
    background-color: #000;
    color: #fff;
}
#section4 .title {
    margin-top: 100px;
    color: #999;
}
#section4 .desc2 {
    padding: 0 0 0 60%;
    font-family: "IropkeBatang";
    word-break: keep-all;
    font-size: 16px;
    line-height: 1.7;
    color: #f1f1f1;
}
#section4 .comments {
    margin-top: 100px;
}

.masonry {
    column-count: 1;
    column-gap: 0;
    counter-reset: item-counter;
}
@media screen and (min-width: 400px) {
    .masonry {
        column-count: 2;
    }
}
@media screen and (min-width: 600px) {
    .masonry {
        column-count: 3;
    }
}
@media screen and (min-width: 800px) {
    .masonry {
        column-count: 4;
    }
}
@media screen and (min-width: 1100px) {
    .masonry {
        column-count: 5;
    }
}

.item {
    box-sizing: border-box;
    -moz-column-break-inside: avoid;
    break-inside: avoid;
    padding: 10px;
}
.item__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    box-sizing: border-box;
    color: #fff;
    background-color: #ffffff27;
    backdrop-filter: blur(10px);
    padding: 20px;
    z-index: 10;
}
.item__content::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #0000007e;
    backdrop-filter: blur(10px);
    background-size: cover;
    z-index: -1;
}

.item:nth-child(1) .item__content {
    background-image: url("https://plus.unsplash.com/premium_photo-1675011288741-f86047b7ef29?q=80&w=4287&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.item:nth-child(2) .item__content {
    background-image: url("https://images.unsplash.com/photo-1721566364814-7345a56e7ab0?q=80&w=4287&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.item:nth-child(3) .item__content {
    background-image: url("https://images.unsplash.com/photo-1721032608880-b82c45362c23?q=80&w=4254&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.item.i4 .item__content {
    background-image: url("https://images.unsplash.com/photo-1720857018297-1fd008d44b07?q=80&w=3592&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.item.com .item__content h3 {
    font-size: 16px;
    font-family: "IropkeBatang";
    color: #ffffff5e;
    margin-bottom: 10px;
    font-size: 14px;
}
.item.com .item__content input {
    border: 0;
    margin-bottom: 5px;
    background-color: transparent;
    border: 1px solid #ffffff50;
    padding: 3px 10px;
    font-family: "IropkeBatang";
    font-size: 14px;
    width: 100%;
}
.item.com {
    padding: 10px;
}
.item.com .item__content button {
    width: 100%;
    display: block;
    font-family: "IropkeBatang";
    background: transparent;
    padding: 1px 3px;
    border: 0;
    color: #fff;
}

.comment-desc {
    font-family: "IropkeBatang";
    word-break: keep-all;
    font-size: 16px;
    line-height: 1.7;
    color: #f1f1f1;
    position: relative;
    z-index: 100;
}
.comment-author {
    font-family: "IropkeBatang";
    word-break: keep-all;
    font-size: 16px;
    line-height: 1.7;
    color: #f1f1f1;
    position: relative;
    z-index: 100;
}
.comment-author span {
    margin-right: 10px;
}

.item__content:hover {
    background: #9b0034;
}
.item__content:before {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 13px;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}
.item__content--small {
    height: 100px;
}

.item__content--medium {
    height: 175px;
}

.item__content--large {
    height: 280px;
}
