.container {
    width: 1400px;
    margin: 0 auto;
    position: relative;
}
#header {
    font-family: "AfricaTrial-Rainfall";
    position: fixed;
    left: 0%;
    top: 0;
    z-index: 10900;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#header h1 {
    font-family: "AfricaTrial-Rainfall";
    font-size: 30px;
    line-height: 1;
    padding: 20px;
}
#header h1 span {
    display: block;
}
#header nav ul {
    display: flex;
    margin-right: 30px;
}
#header nav li {
    font-family: "NeoGeoTrial-Light";
    padding: 10px;
    font-size: 18px;
}
#header nav li a {
}

#section1 {
    width: 100%;
    height: 100vh;
    background-image: url(../img/bg-min.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "IropkeBatang";
    text-align: center;
}
#section1 .desc {
    font-size: 16px;
}
#section1 .scroll {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    line-height: 90px;
    background-color: #000;
    border-radius: 50%;
    color: #fff;
    font-family: "Abel";
    text-transform: uppercase;
    background: #000 url(../img/arrow.svg) no-repeat;
    background-position: center bottom 20px;
    background-size: 20px;
}

#section2 {
    width: 100%;
    height: 4000px;
    background-color: #000;
    color: #fff;
    padding: 20% 5%;
}
.about .title {
    font-family: "Abel";
    color: #999;
}
.about .desc1 {
    padding: 10% 0 10% 40%;
    font-size: 30px;
    font-family: "NeoGeoTrial-Light";
}
.about .desc2 {
    padding: 0 0 0 60%;
    font-family: "IropkeBatang";
    word-break: keep-all;
    font-size: 16px;
    line-height: 1.7;
    color: #f1f1f1;
}
.about .img {
    width: 550px;
    height: 760px;
    background-color: #fff;
    margin: 150px auto;
    position: relative;
}
.about .img .img1 {
    width: 100%;
    height: 100%;
    background-image: url(../img/jin.jpg);
    background-size: cover;
    background-position: center;
}

.about .img .img2 {
    width: 80%;
    height: 90%;
    background-image: url(https://www.danilodemarco.com/img/mystory/albe.webp);
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 10%;
    top: 5%;
    transform: rotate(45deg);
}
