

    
/* layout */
body {
    background-color: #D8D1C8;
}

/* header */
#header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.679);
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
#header h1 {
    font-family: 'Chomsky';
    padding: 10px 0;
}
#header span {
    font-family: 'abel';
    text-transform: uppercase;
    letter-spacing: .5vw;
    font-size: 14px;
}



/* section1 */
#section {}

.sec1 {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin: 2vw;
}
.sec1 > div {
    width: 32%;
    border: 1px solid #000;
}
.sec1 > div:nth-child(2){
    border: 0
}
.sec1 > div:nth-child(2) h2 {
    font-family: 'theramy';
    text-align: center;
    font-size: 6.7vw;
    line-height: 1;
}
.sec1 > div:nth-child(2) p {
    font-family: 'ChosunNm';
}
.sec1 > div:nth-child(1){
    background: url(https://images.unsplash.com/photo-1652270430489-0ea0f45344f3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=985&q=80) no-repeat;
    background-size: cover;
    background-position: center center;
}
.sec1 > div:nth-child(3){
    background: url(https://images.unsplash.com/photo-1652458301645-bde64fcc5712?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80) no-repeat;
    background-size: cover;
    background-position: center center;
}

/* sec2 */
.sec2 {
    margin: 2vw;
}
.sec2 .title {
    background: #000;
    font-size: 19.3vw;
    line-height: 1.3;
    color: #fff;
    font-family: 'theramy';
    padding: 3vw 6vw;
    overflow: hidden;
}

.sec2 .about {
    display: flex;
    justify-content: space-between;
    margin-top: 2vw;
    align-items: stretch;
}
.sec2 .about .left {
    width: 40%;
    height: 50vw;
    background: url(https://images.unsplash.com/photo-1653002456763-6e2cb2a21b90?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1015) no-repeat center center;
    background-size: cover;
    border: 1px solid #000;
}
.sec2 .about .right {
    width: 58%;
    height: 50vw;
}
.sec2 .about .right .r1 div {
    font-family: 'theramy';
    text-align: center;
    font-size: 6.7vw;
    line-height: 1;
    text-align: left;
}
.sec2 .about .right .r1 div:nth-child(2) {
    padding-left: 13vw;
}
.sec2 .about .right .r1 div:nth-child(3) {
    padding-left: 6vw;
}
.sec2 .about .right .r1 p {
    font-family: 'ChosunNm';
    text-align: justify;
    margin-bottom: 2vw;
}
.sec2 .about .right .r2 {
    display: flex;
}
.sec2 .about .right .r2 > div:nth-child(1) {
    background: #000;
    height: 40.2vh;
    width: 50%;
    overflow: hidden;
    object-fit: cover;
}
.sec2 .about .right .r2 > div {
    background: #ccc;
    height: 100px;
    width: 50%;
}


#section3 {
    height: 400px;
}