

/* header */
#header {
    position: fixed;
    left: 0;
    top: -100px;
    z-index: 10000;
    padding: 20px;
}
#header nav li {
    display: inline-block;
}
#header nav li a {
    color: #fff;
    font-family: "Montserrat";
    font-size: 20px;
    text-transform: uppercase;
    display: inline-block;
    padding: 0 20px;
}

/* section1 */
#section1 {
    height: 100vh;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url(https://younghwan12.github.io/portfolio/assets/img/cloud-section.svg) ;
    background-position: center bottom -1px;
    background-size: contain;
    background-repeat: no-repeat;
}
#canvas {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0; top: 0;
    opacity: 0;
}
svg {
    transition: fill 0.3s ease-out;
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    transform: translateZ(0px);
    fill: #444444;
}

svg.highlight {
    fill: #fff;
}
.title__inner {
    color: #fff;
    text-align: center;
    font-family: "116watermelon";
    font-size: 7vw;
    line-height: 0.9;
    position: relative;
    z-index: 100;
}
.title__inner .about {
    position: relative;
}
.title__inner .about::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5vw;
    transform: translatex(-50%);
    background: url(https://younghwan12.github.io/portfolio/assets/img/bottle-cloud-big.svg) no-repeat;
    background-size: contain;
    background-position: center center;
    width: 22vw;
    height: 15vw;
}
.title__inner img {
    width: 20vw;
    margin-top: 2vw;
}
.title__inner .txt1 {
    overflow: hidden;
}
.title__inner .txt1 span {
    display: inline-block;
    transform: translateY(300px) translateX(30px);
    min-width: 2vw;
}
.title__inner .txt2 {
    overflow: hidden;
}
.title__inner .txt2 span {
    display: inline-block;
    transform: translateY(300px);
    min-width: 2vw;
}
.title__inner .about {
    transform: scale(0);
}

.img__inner {
    display: none;
}
.img__inner > img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}
.img__inner .img1 {
    left: 45%;
    top: 60%;
    width: 30vw;
}
.img__inner .img2 {
    top: 70%;
    left: 55%;
    width: 25vw;
}
.img__inner .img3 {
    top: 47%;
    left: 55%;
    width: 23vw;
}
.img__inner .img4 {
    top: 53%;
    width: 20vw;
}
.img__inner .img5 {
    top: 70%;
    left: 40%;
    width: 20vw;
}
.img__inner .img6 {
    top: 75%;
    left: 60%;
    width: 23vw;
}


/* section2 */
#section2 { 
    height: 2000px;
    background: #fff;

}



#section2 {
    text-align: center;
    padding: 40vh 0;
}
#section2 h2 {
    font-family: "116watermelon";
    font-size: 4vw;
    line-height: 0.9;
    padding-bottom: 20vh;
    overflow: hidden;
}
#section2 h2 span {
    display: inline-block;
    min-width: 1vw;
    opacity: 0;
}
#section2 .text1 {
    font-size: 22px;
    font-family: "IropkeBatang";
    line-height: 1.5;
    text-align: left;
    padding-left: 20vw;
}
#section2 .text1 div span {
    opacity: 0;
    display: inline-block;
    transform: translateY(10px);
    min-width: 0.3vw;
}
#section2 .text2 div span {
    opacity: 0;
    display: inline-block;
    transform: translateY(10px);
    min-width: 0.3vw;
}
#section2 .text2 {
    font-size: 22px;
    font-family: "IropkeBatang";
    line-height: 1.5;
    text-align: left;
    padding-left: 40vw;
    padding-top: 10vh;
}

