:root {
    --color-background: #31037D;
    --axis-x: 1px;
    --axis-y: 1rem;
    --delay: 10;
    --color-black: #000;
    --color-white: #fff;
    --color-orange: #D49C3D;
    --color-red: #D14B3D;
    --color-violet: #CF52EB;
    --color-blue: #44A3F7;
    --color-green: #5ACB3C;
    --color-yellow: #DEBF40;
    --color-foreground: var(--color-white);
    --font-name: Righteous;
}

#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header .left {}

#header .right {}

#header span {
    display: inline-block;
    width: 40px;
    height: 40px;
    display: inline-block;
    background-color: #ccc;
    border: 2px solid #000;
    border-radius: 5px;
    box-shadow: 0 3px;
    transition: all 0.3s;
}

#header span img {
    padding: 8px;
}

#header span:hover {
    box-shadow: 0 0;
    cursor: pointer;
}

#header span.music {
    background-color: #537293;
}

#header span.list {
    background-color: #935392;
}

#section1 {
    width: 100vw;
    height: 100vh;
    background-color: #c8e8ff;
    position: relative;
    overflow: hidden;
    font-family: var(--font-name);
}

#section1 .bar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background-color: #111;
    color: #fff;
    z-index: 10000;
    font-family: "Gilroy";
    font-size: 60px;
}

#section1 .bg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#section1 .text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#section1 .left-jandi {
    position: absolute;
    left: -26vw;
    bottom: -30px;
    width: 70vw;
    z-index: 2000;
}

#section1 .right-jandi {
    position: absolute;
    right: -30vw;
    bottom: -30px;
    width: 70vw;
    z-index: 2000;
}

#section1 .sun {
    position: absolute;
    left: 50%;
    bottom: -50%;
    transform: translateX(-50%);
    z-index: 1200;

}

#section1 .sun svg {
    animation: rotating 60s linear infinite;
}

#section1 .bg img {
    max-width: 200%;
    height: 300%;
    position: absolute;
    bottom: -150%;
    animation: rotating 60s linear infinite;
}

.confetti {
    width: 100%;
    position: absolute;
    left: 50%;
    user-select: none;
    z-index: 10;
}

.confetti__item {
    display: inline-block;
    font-size: 2.5rem;
    position: absolute;
}

@keyframes rotating {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.c-rainbow {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;
}

.c-rainbow__layer {
    font-size: 11rem;
    color: var(--text-color);
    text-shadow: -1px -1px 0 var(--color-black), 1px -1px 0 var(--color-black), -1px 1px 0 var(--color-black), 1px 1px 0 var(--color-black), 4px 4px 0 rgba(0, 0, 0, 0.2);
    animation: rainbow 1.5s ease-in-out infinite;
}

.c-rainbow__layer:nth-child(1) {
    animation-delay: calc(1 / var(--delay) * 1s);
    left: calc(var(--axis-x) * 1);
}

.c-rainbow__layer:nth-child(2) {
    animation-delay: calc(2 / var(--delay) * 1s);
    left: calc(var(--axis-x) * 2);
}

.c-rainbow__layer:nth-child(3) {
    animation-delay: calc(3 / var(--delay) * 1s);
    left: calc(var(--axis-x) * 3);
}

.c-rainbow__layer:nth-child(4) {
    animation-delay: calc(4 / var(--delay) * 1s);
    left: calc(var(--axis-x) * 4);
}

.c-rainbow__layer:nth-child(5) {
    animation-delay: calc(5 / var(--delay) * 1s);
    left: calc(var(--axis-x) * 5);
}

.c-rainbow__layer:nth-child(6) {
    animation-delay: calc(6 / var(--delay) * 1s);
    left: calc(var(--axis-x) * 6);
}

.c-rainbow__layer:nth-child(7) {
    animation-delay: calc(7 / var(--delay) * 1s);
    left: calc(var(--axis-x) * 7);
}

.c-rainbow__layer:not(:first-child) {
    position: absolute;
    top: 0;
}

.c-rainbow__layer--white {
    --text-color: var(--color-white);
}

.c-rainbow__layer--orange {
    --text-color: var(--color-orange);
}

.c-rainbow__layer--red {
    --text-color: var(--color-red);
}

.c-rainbow__layer--violet {
    --text-color: var(--color-violet);
}

.c-rainbow__layer--blue {
    --text-color: var(--color-blue);
}

.c-rainbow__layer--green {
    --text-color: var(--color-green);
}

.c-rainbow__layer--yellow {
    --text-color: var(--color-yellow);
}

@keyframes rainbow {

    0%,
    100% {
        transform: translatey(var(--axis-y));
    }

    50% {
        transform: translatey(calc(var(--axis-y) * -1));
    }
}


@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.bar {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
}

.bar span {
    display: inline-block;
    padding-right: 20px;
    /* Adjust as needed for spacing */
}

.bar span:last-child::after {
    content: " ";
    display: inline-block;
    padding-right: 100%;
    /* Create enough space for the loop */
}

.bar span {
    animation: scroll 2s linear infinite;
    /* Adjust duration as needed */
}


#section2 {
    background-color: #111;
    color: #fff;
    text-align: center;
    font-family: 'dajungDagam';
}

#section2 p {
    width: 90vw;
    margin: 0 auto;
    font-size: 40px;
    padding: 6% 0;
}

#section2 .img {
    background-image: url(../img/image.jpg);
    width: 40vw;
    height: 40vw;
    background-size: cover;
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 200px;
}

.sec-div {
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: 0;
    margin-left: -100%;
}

.sec-div__inner {
    animation: marqueeRight 120s linear infinite;
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    gap: 0;
}

.div-red {
    background-image: url(https://cdn.prod.website-files.com/649648f235c798d320f96696/6514549a36331dc4198b06e0_bg-div-red.svg);
    background-position: 50% 100%;
    background-repeat: repeat-x;
    background-size: auto;
    width: 1448px;
    height: 100px;
    position: relative;
    bottom: -1px;
}

@keyframes marqueeRight {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}


#section3 {
    background-color: #A24436;
    height: 3000px;
}