#section1 {
    background-color: #fcd8da;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    fill: #ed412d;
}

.pentahedron {
    position: absolute;
    width: 100%;
    height: 100%;
    fill: #3e82f7;
}

.rhombus {
    fill: #2da94f;
    stroke: #2da94f;
}
.x {
    fill: #fdbd00;
}
.bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
}
.bg svg {
    display: block;
    width: 360px;
    height: 360px;
    position: absolute;
    transform: translateZ(0px);
}
#section1 .sun {
    position: absolute;
    z-index: 1000;
    left: 50%;
    bottom: 80px;
    transform: translateX(-50%);
    width: 100%;
}

#section1 .sun svg {
    width: 100%;
}
#section1 .sun .glass {
    display: none;
}
#section1 .sun .noon {
    animation: no 2s infinite ease;
}

@keyframes no {
    0% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-10px);
    }
}

#section1 .bar {
    width: 100%;
    height: 80px;
    background-color: #37bff3;
    position: absolute;
    z-index: 1000;
    left: 0;
    bottom: 0;
    border-top: 4px solid #000;
    border-bottom: 4px solid #000;
}

#section1 .title {
    font-size: 10vw;
    padding-bottom: 30vh;
    font-family: "lotteriaChab";
    text-transform: uppercase;
    z-index: 1000;
    color: #f1574f;
    -webkit-text-stroke: 2px #000;
}
#section1 .sun {
    width: 450px;
    margin: 0 auto -30px;
}
#Layer_1 {
    position: relative;
    z-index: 1000;
}
#Layer_2 {
    animation: rotation 4s infinite;
}
#Layer_3 {
    animation: upDown 3s infinite;
    position: relative;
    z-index: -1;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes upDown {
    0% {
        transform: translateY(0) rotate(0deg);
    }
    50% {
        transform: translateY(-30px) rotate(5deg);
    }
    100% {
        transform: translateY(0) rotate(0deg);
    }
}

#section2 {
    background-color: #fcd8da;
    width: 100%;
    height: 100vh;
    padding-top: 40px;
}
#section2 > div {
    font-size: 10vw;
    line-height: 0.8;
    /* background-color: #ccc; */
    font-family: "Bebas Neue", sans-serif;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding-top: 1vw;
}
#section2 > div .box {
    width: 400px;
    height: 7.1vw;
    margin: 0 10px;
    display: inline-block;
    background-color: #000;
}
