:root {
    --color-background: #31037D;
    --axis-x: 1px;
    --axis-y: 1rem;
    --delay: 10;
    --color-black: #000;
    --color-white: #fff;
    --color-orange: #D49C3D;
    --color-red: #D14B3D;
    --color-violet: #CF52EB;
    --color-blue: #44A3F7;
    --color-green: #5ACB3C;
    --color-yellow: #DEBF40;
    --color-foreground: var(--color-white);
    --font-name: Righteous;
}

#section1 {
    width: 100dvw;
    height: 100vh;
    background-color: #c8e8ff;
    position: relative;
    overflow: hidden;
    font-family: var(--font-name);
}

#section1 .bg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#section1 .text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#section1 .left-jandi {
    position: absolute;
    left: -26vw;
    bottom: -30px;
    width: 70vw;
    z-index: 2000;
}

#section1 .right-jandi {
    position: absolute;
    right: -30vw;
    bottom: -30px;
    width: 70vw;
    z-index: 2000;
}

#section1 .sun {
    position: absolute;
    left: 50%;
    bottom: -50%;
    transform: translateX(-50%);
    z-index: 1200;

}

#section1 .sun svg {
    animation: rotating 60s linear infinite;
}

#section1 .bg img {
    max-width: 200%;
    height: 300%;
    position: absolute;
    bottom: -150%;
    animation: rotating 60s linear infinite;
}

@keyframes rotating {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.c-rainbow {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;
}

.c-rainbow__layer {
    font-size: 11rem;
    color: var(--text-color);
    text-shadow: -1px -1px 0 var(--color-black), 1px -1px 0 var(--color-black), -1px 1px 0 var(--color-black), 1px 1px 0 var(--color-black), 4px 4px 0 rgba(0, 0, 0, 0.2);
    animation: rainbow 1.5s ease-in-out infinite;
}

.c-rainbow__layer:nth-child(1) {
    animation-delay: calc(1 / var(--delay) * 1s);
    left: calc(var(--axis-x) * 1);
}

.c-rainbow__layer:nth-child(2) {
    animation-delay: calc(2 / var(--delay) * 1s);
    left: calc(var(--axis-x) * 2);
}

.c-rainbow__layer:nth-child(3) {
    animation-delay: calc(3 / var(--delay) * 1s);
    left: calc(var(--axis-x) * 3);
}

.c-rainbow__layer:nth-child(4) {
    animation-delay: calc(4 / var(--delay) * 1s);
    left: calc(var(--axis-x) * 4);
}

.c-rainbow__layer:nth-child(5) {
    animation-delay: calc(5 / var(--delay) * 1s);
    left: calc(var(--axis-x) * 5);
}

.c-rainbow__layer:nth-child(6) {
    animation-delay: calc(6 / var(--delay) * 1s);
    left: calc(var(--axis-x) * 6);
}

.c-rainbow__layer:nth-child(7) {
    animation-delay: calc(7 / var(--delay) * 1s);
    left: calc(var(--axis-x) * 7);
}

.c-rainbow__layer:not(:first-child) {
    position: absolute;
    top: 0;
}

.c-rainbow__layer--white {
    --text-color: var(--color-white);
}

.c-rainbow__layer--orange {
    --text-color: var(--color-orange);
}

.c-rainbow__layer--red {
    --text-color: var(--color-red);
}

.c-rainbow__layer--violet {
    --text-color: var(--color-violet);
}

.c-rainbow__layer--blue {
    --text-color: var(--color-blue);
}

.c-rainbow__layer--green {
    --text-color: var(--color-green);
}

.c-rainbow__layer--yellow {
    --text-color: var(--color-yellow);
}

@keyframes rainbow {

    0%,
    100% {
        transform: translatey(var(--axis-y));
    }

    50% {
        transform: translatey(calc(var(--axis-y) * -1));
    }
}

#section2 {
    height: 2000px;
    background-color: #2f2f2f;
}