/* layout */
#contents {}
#section1 {
    width: 100%;
    height: 100vh;

}
#section2 {
    width: 100%;
    background-color: #000;
    padding-bottom: 300px;
    overflow: hidden;
}
#section3 {
   
}
#section4 {
    height: 3000px;
    background: #1B2133;
}
#section5 {
    height: 5000px;
    position: relative;
    z-index: 4000;

}
#section6 {
    height: 5000px;
    background: red;
    position: relative;
    z-index: 5000;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

/* header */
#header {
    position: fixed;
    left: 0; top: 0;
    background: rgba(0, 0, 0, 0.359);
    backdrop-filter: blur(10px);
    z-index: 100000;
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    border-radius: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 10px;
}
#header .logo {
    width: 20%;
    padding-left: 10px;
    padding-top: 2px;
}
#header .logo span {
    display: inline-block;
    vertical-align: 5px;
    font-size: 14px;
    padding-left: 5px;
}
#header .center {
    width: 60%;
    font-family: 'Saira Condensed';
    font-size: 20px;
    text-align: center;
}
#header .menu {
    width: 20%;
    text-align: right;
}
#header .menu .ham {
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    margin-top: 2px;
}
#header .menu .ham span {
    display: inline-block;
    width: 16px;
    height: 1px;
    background: #000;
    border-radius: 4px;
    margin-top: 13px;
    position: absolute;
    left: 7px;
    top: 2px;
}
#header .menu .ham span::before {
    content: '';
    width: 16px;
    height: 1px;
    background: #000;
    border-radius: 4px;
    position: absolute;
    left: 0;
    bottom: 4px;
}
#header .menu .ham span::after {
    content: '';
    width: 16px;
    height: 1px;
    background: #000;
    border-radius: 4px;
    position: absolute;
    left: 0;
    top: 4px;
}

/* section1 */
#section1 {
    background: url(../img/background_img.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#section1 h1 {
    position: relative;
    color:#fff;
    z-index: 100;
    font-size: 30px;
    font-family: 'Saira Condensed';
    font-weight: 100;
    text-align: center;
}
#section1 em {
    display: block;
    font-size: 2vw;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 900;
    font-family: 'Michroma';
}
#section1::after {
    content: '';
    width: 100%;
    height: 100vh;
    /* background: #3b045466; */
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}
#section1 .sl {
    transform-origin: center;
    width: 10vw;
    height: 23vw;
}
#section1 .sl svg {
    width: 100%;
}

/* sec2 */
.sec2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 200px 0;
}
.sec2 .left {
    width: 50%;
    height: 500px;
}
.sec2 .left .de {
    color: #fff;
    font-family: 'GmarketSans';
    font-weight: 300;
    width: 600px;
    padding-top: 100px;
    padding-left: 100px;
    font-size: 18px;
    word-break: keep-all;
    text-align: right;
}
.sec2 .right {
    width: 50%;
    height: 500px;
    position: relative;
}
.sec2 h2 {
    font-size: 3vw;
    font-family: 'Michroma';
    text-transform: uppercase;
    color: #fff;
}
.sec2 .img1 {
    width: 340px;
    height: 340px;
    background: url(https://images.unsplash.com/photo-1663326223952-f984974cfe8c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1335&q=80) no-repeat center;
    background-size: cover;
    border-radius: 50%;
    transform-origin: center;
}
.sec2 .img2 {
    position: absolute;
    left: -40px;
    top: 400px;
    width: 300px;
    height: 300px;
    background: url(https://images.unsplash.com/photo-1663275164457-ee8ae128eeb2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=963&q=80) no-repeat center;
    background-size: cover;
    transform: rotate(-30deg);
    transform-origin: left top;
    border-radius: 50%;
}
.sec2 .img3 {
    position: absolute;
    right: 20px;
    top: 380px;
    width: 340px;
    height: 340px;
    background: url(https://dapper-malabi-7e9fb8.netlify.app/asset/img/main2_img3.jpg) no-repeat center bottom -70px;
    background-size: cover;
    transform: rotate(30deg);
    border-radius: 50%;
}
.about2 {
    margin-top: 200px;
    height: 500px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.about2 .view {
    height: 500px;
    width: 200%;
}
.about2 .view > div {
    float: left;
    white-space: nowrap;
    width: 240px;
    height: 400px;
    background: #ccc;
    margin: 10px;
    background-size: cover;
    background-position: center;
}
.about2 .view > div:nth-child(1){
    background-image: url(https://dapper-malabi-7e9fb8.netlify.app/asset/img/main3_img2.jpg);
}
.about2 .view > div:nth-child(2){
    background-image: url(https://dapper-malabi-7e9fb8.netlify.app/asset/img/main3_img1.jpg);
}
.about2 .view > div:nth-child(3){
    background-image: url(https://dapper-malabi-7e9fb8.netlify.app/asset/img/main3_img3.jpg);
}
.about2 .view > div:nth-child(4){
    background-image: url(https://images.unsplash.com/photo-1661347334008-da5448d2a6cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80);
}
.about2 .view > div:nth-child(5){
    background-image: url(https://images.unsplash.com/photo-1663711905018-527724559da2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80);
}
.about2 .view > div:nth-child(6){
    background-image: url(https://images.unsplash.com/photo-1663947010000-3096c03d5ef5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=988&q=80);
}
.about2 .view > div:nth-child(7){
    background-image: url(https://images.unsplash.com/photo-1663873881284-6dd4aeacdac9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80);
}
.about2 .desc {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 3vw;
    line-height: 1.2;
    font-family: 'Michroma';
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}

#section3 {
    
}
#section3 .img {
    height: 100vh;
    background-image:url(https://images.unsplash.com/photo-1663858461640-00aab2bcd8a3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2272&q=80);
    background-size: cover;
    background-position: center center;
    position: sticky;
    top: 0;
}
#section3 .view {
    width: 100%;
    background-color: #1B2133;
    position: relative;
    z-index: 1000;
    padding: 10vw;
}
#section3 .view .logo svg {
    width: 80px;
    height: 80px;
}
#section3 .view h3 {
    font-size: 3vw;
    font-family: 'Michroma';
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 4vw;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
#section3 .view .last {
    padding-top: 200px;
    color: #fff;
    font-family: 'GmarketSans';
    margin-left: 60%;
    font-weight: 300;
    word-break: keep-all;
    text-align: right;
    font-size: 20px;
    line-height: 1.7;
}

.sec4 { }
.site-wrap {}
.site-wrap .site {
    color: #fff;
    position: relative;
    width: 100%;
}
.site-wrap .site.s1 {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
}
.site-wrap .site.s1 .left {
    position: relative;
    width: 50%;
}
.site-wrap .site.s1 .left .img1 {
    position: absolute;
    left: 10px; top: 100px;
    width: 100%;
    height: 400px;
    background-image: url(https://images.unsplash.com/reserve/LJIZlzHgQ7WPSh5KVTCB_Typewriter.jpg?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=996&q=80);
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
}
.site-wrap .site.s1 .left .img2 {
    position: absolute;
    right: -140px; top: 0px;
    z-index: 100;
    width: 60%;
    height: 300px;
    background-image: url(https://images.unsplash.com/photo-1484807352052-23338990c6c6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80);
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
}
.site-wrap .site.s1 .left .sl {
    position: absolute;
    right: -40px; bottom: -100px;
    background: #DE554E;
    padding: 60px 100px;
    border-radius: 100px;
    font-family: 'Michroma';
    font-size: 40px;
    transform: rotate(-10deg);
}

.site-wrap .site.s1 .right {
    position: absolute;
    right: 0;
    top: 0;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    /* background: #14133F; */
    z-index: 10000;
    font-family: 'Michroma';
}
.site-wrap .site.s1 .right .link1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 200px;
    background: #F1A248;
    text-align: center;
    line-height: 200px;
    border-radius: 50%;
}
.site-wrap .site.s1 .right .link2 {
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    height: 200px;
    background: #064587;
    border-radius: 50%;
    text-align: center;
    line-height: 200px;
}
.site-wrap .site.s1 .right .link3 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 200px;
    background: #3F694C;
    border-radius: 50%;
    text-align: center;
    line-height: 200px;
}


.site-wrap .site.s2 {
    width: 700px;
    height: 500px;
    background: #ccc;
    margin-left: 50%;
    margin-top: 200px;
}
.site-wrap .site.s3 {
    width: 700px;
    height: 500px;
    background: #ccc;
}
.site-wrap .site.s4 {
    width: 700px;
    height: 500px;
    background: #ccc;
    margin-left: 50%;
    margin-top: -200px;
}



.sec5 {
    display: flex;
    position: fixed;
    left: 90%;
    top: 0;
    z-index: 100000;
}

.sec5 > div {
    width: 100px;
    height: 100vh;
    background: yellowgreen;
    margin-right: 20px;
}