@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,500;0,6..96,600;0,6..96,700;0,6..96,800;0,6..96,900;1,6..96,400;1,6..96,500;1,6..96,600;1,6..96,700;1,6..96,800;1,6..96,900&family=Shrikhand&display=swap');
@import url(https://websfont.github.io/nanumSquareNeo/nanumSquareNeo.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;900&display=swap');
@import url('https://webfontworld.github.io/Cafe24Simplehae/Cafe24Simplehae.css');

.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

.header__left {
    display: flex;
    align-items: center;
    margin: 30px;
    background: rgba(242, 215, 186, 0.50);
    backdrop-filter: blur(30px);
    border-radius: 50px;
    padding: 10px 40px;
    font-family: 'Poppins';
}

.header__left h1 {
    text-transform: uppercase;
    font-weight: 900;
    color: #6B51FE;
    margin-right: 30px;
}

.header__left nav li {
    display: inline;
    color: #6B51FE;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    margin-right: 20px;
}

.header__right {
    margin-right: 30px;
    margin-top: 10px;
}

.header__right li {
    display: inline;
    width: 100px;
    height: 100px;
    margin-left: 5px;
}

.header__right li {
    width: 66px;
    height: 66px;
    border-radius: 100px;
    display: inline-block;
    background-image: url(https://images.unsplash.com/photo-1526510747491-58f928ec870f?q=80&w=3387&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
}

.header__right li:nth-child(2) {
    background-image: url(https://images.unsplash.com/photo-1700123287639-b8ffc3f50f02?q=80&w=3174&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.header__right li:nth-child(3) {
    background-image: url(https://images.unsplash.com/photo-1684530607818-bcfd35f497b3?q=80&w=3174&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

#section1 {
    background: linear-gradient(180deg, #F9EDDE 0%, #F5DFC9 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: hidden;
}

#section1 .arrow1 {
    position: absolute;
    left: 10%;
    top: 10%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    z-index: 100;
    background-size: cover;
    background-image: url("data:image/svg+xml,%3csvg%20width='514'%20height='512'%20viewBox='0%200%20514%20512'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3cpath%20d='M142.537%20227.8L364.234%20311.338L374.549%20283.963L148.89%20199.867L139.486%20211.02L142.537%20227.8Z'%20fill='%236B51FE'/%3e%3cpath%20d='M351.802%20302.07L385.674%20357.392L513.24%20350.747L421.778%20261.565L359.82%20280.778L351.802%20302.07Z'%20fill='%23FFAD6C'/%3e%3cpath%20d='M89.0984%20249.38L94.8775%20262.819L108.316%20257.04L114.2%20270.721L181.291%20241.584L175.512%20228.145L186.061%20215.646L162.945%20161.89L149.506%20167.669L143.727%20154.23L130.288%20160.009L121.619%20139.851L108.18%20145.63L102.401%20132.191L88.9621%20137.97L83.183%20124.531L56.305%20136.089L79.4212%20189.845L25.6651%20212.961L37.2232%20239.839L50.6622%20234.06L56.4413%20247.499L69.8803%20241.72L75.6594%20255.159L89.0984%20249.38Z'%20fill='%23FFE375'/%3e%3c/svg%3e");
}



#section1 canvas {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    z-index: 1;
}

#section1 .center h2 {
    font-size: 13vw;
    font-family: 'Shrikhand';
    font-family: 'Bodoni Moda';
    font-style: italic;
    font-weight: 800;
    line-height: 1.2;
    color: #6B51FE
}

#section1 .center p {
    text-align: right;
    font-family: 'nanumSquareNeo';
    font-family: 'Cafe24Simplehae';
    color: #4C46E6;
    font-size: 24px;
    line-height: 1.5;
}

#section2 {
    background: rgba(242, 215, 186, 0.50);
    padding: 200px 0;
    overflow: hidden;
}

.about {
    font-size: 40px;
    line-height: 1.7;
    font-family: 'Cafe24Simplehae';
    margin-bottom: 200px;
    word-break: keep-all;
    text-align: center;
}

.about em {
    background-color: #FDDE79;
    padding: 10px 5px;
    border-radius: 10px;
    box-shadow: 3px 3px 0px 2px #f0c63d;
}

.about strong {
    background-color: #F9BE88;
    padding: 10px 5px;
    border-radius: 10px;
    box-shadow: 3px 3px 0px 2px #ff9b3e;
}

.about b {
    position: relative;
}

.about b::before {
    content: '';
    width: 100%;
    height: 10px;
    background-color: #a696ff;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 5px;
    z-index: -1;
}

.about span {
    background-color: #FFADAE;
    padding: 4px 20px;
    border-radius: 50px;
    border: 1px solid #ffa0a1;
    box-shadow: inset 13px 13px 10px #ffa0a1;
    transform: rotate(-10deg);
    display: inline-block;
    color: #d41518
}

#section2>div {
    font-size: 10vw;
    font-family: 'Poppins';
    color: #6B51FE;
}

#section2 .line1 {
    width: 200%;
    background-color: #9DECFA;
    font-weight: 900;
    transform: rotate(-1deg);
    text-transform: uppercase;
    white-space: nowrap;
}

#section2 .line1 span {
    width: 3vw;
    height: 3vw;
    display: inline-block;
    font-size: 6vw;
    margin-right: 2vw;
}

#section2 .line2 {
    width: 200%;
    background-color: #FFADAD;
    font-weight: 100;
    transform: rotate(1deg);
    margin-left: -5%;
}

#section2 .line2 span {
    width: 3vw;
    height: 3vw;
    display: inline-block;
    font-size: 6vw;
    margin-right: 2vw;
}

#section2 .line3 {
    width: 200%;
    background-color: #FFE375;
    font-weight: 500;
    transform: rotate(-1deg);
    margin-left: -5%;
}

#section2 .line3 span {
    width: 3vw;
    height: 3vw;
    display: inline-block;
    font-size: 6vw;
    margin-right: 2vw;
}

#section3 {
    padding: 300px 0;
    background: linear-gradient(180deg, rgba(242, 215, 186, 0.50) 0%, #F5DFC9 100%);
}

#section3 .about {
    color: #6B51FE;
    text-align: center;
    word-break: keep-all;
}

.site-wrap {}

.site-wrap .site {
    width: 100%;
    height: 800px;
    background-color: #fff;
    margin-bottom: 100px;
    border-radius: 30px;
    padding: 5%;
    position: relative;
}

.site-wrap .site h3 {
    text-align: center;
    font-size: 7vw;
    font-family: 'Bodoni Moda';
    color: #4C46E6;
}

.site-wrap .site p {
    font-family: 'Cafe24Simplehae';
    color: #4C46E6;
    padding-left: 50%;
    line-height: 1.6;
    word-break: keep-all;
    font-size: 18px;
}

.site-wrap .site .tag {
    width: 89%;
    position: absolute;
    bottom: 80px;
    left: 80px;
    display: flex;
    justify-content: space-between;
}

.site-wrap .site .tag span {
    background-color: #4C46E6;
    color: #fff;
    font-family: 'Cafe24Simplehae';
    padding: 10px 20px;
    border-radius: 50px;
}

.site-wrap .site.s1 {
    background-color: #FDDE79;
}