#section1 {
    width: 100%;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1507295386538-ddd5e86cd597?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1632&q=80);
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;    
    justify-content: center;
    position: relative;
    z-index: 100;
}
#section1 .sec1-box {
    width: 60vw;
    height: 60vh;
    background-color: #fff;
    font-family: 'NeueMontreal';
    font-weight: 400;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#section1 .sec1-wrap {
    width: 100%;
    height: 100%;
    background-color: #ccdeff33;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
}
#section1 .sec1-box .text {
    line-height: 1.2;
    margin-bottom: 2vw;
    text-align: center;
    font-size: 18px;
}
#section1 .sec1-box .logo img {
    width: 300px;
    margin-bottom: 5vw;
}
#section1 .sec1-box a {
    border: 1px solid #4B8FB6;
    color: #4B8FB6;
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px 50px;
}




#section2 {
    padding-top: 60vh;
    padding-bottom: 80vh;
    background-color: #F9F8F6;
    position: relative;
    z-index: 1000;
}
#section2 .sec2-text {
    font-size: 10vw;
    font-family: 'NeueMontreal';
    font-weight: 300;
    line-height: 0.9;
    padding-left: 1vw;
    margin-bottom: 25vw;
}
#section2 .sec2-text .line {
    /* background-color: #000; */
    margin-bottom: 5px;
    overflow: hidden;
}
#section2 .sec2-text2 {
    width: 30vw;
    margin: 0 auto 1vw;
}

#section2 .sec2-text3 {
    width: 55vw;
    margin: 0 auto 5vw;
}
#section2 .sec2-img2 {
    width: 25vw;
    margin: 0 auto;
}
#section2 .sec2-text4 {
    width: 30vw;
    margin: 3vw auto 5vw;
    text-align: center;
    font-family: 'IropkeBatang';
    color: #333;
    line-height: 1.5;
}