
/* container */
.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.3);
    height: inherit;
}
.fixed {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.scroll {
    position: fixed;
    left: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
    background: rgba(0,0,0,0.3);
    color: #fff;
    z-index: 10000;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    font-family: 'GmarketSans';
}

/* layout */
#section1 {
    height: 3000px;
}
#section2 {
    height: 5000px;
}
#section3 {
    height: 5000px;
    background: #ddd;
}


/* section1 */
.sec1 {
    background: url("https://gwni0214.github.io/webs_class//portfolio/assets/img/bigmac.webp") no-repeat center center;
    background-size: 50%;
    width: 100%;
    height: 100vh;
    position: relative;
    transform: translate(-50%, -50%) scale(1);
    position: fixed;
    left: 50%; top: 50%;
}
.sec1_text {
    position: fixed;
    left: 50%; top: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    transform: translate(-50%, -50%) scale(0.4);
    width: 50%;
    height: 400px;
}
.sec1_text img {
    width: 10vw; 
    margin: 0 auto;
    border-radius: 50%;
}
.sec1_text span {
    font-size: 1vw;
    margin-top: 1vw;
}
.sec1_text h1 {
    font-size: 5vw;
    font-weight: 700;
    white-space: nowrap;
    color: #353945;
}
.sec1_bg {
    width: 100%;
    height: 100vh;
    background: #fff;
}
.sec1_bg .bg {
    background: -webkit-linear-gradient( 114deg, rgba(234, 162, 110, 1) 0%, rgba(234, 110, 177, 1) 24%, rgba(42, 140, 195, 1) 44%, rgba(234, 110, 177, 1) 68%, rgba(234, 162, 110, 1) 86%, rgba(234, 110, 177, 1) 100% );
    width: 100%;
    height: 100vh;
}
.sec1_bg > div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    white-space: nowrap;
}
.sec1_bg > div > div {
    font-size: 6vw;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}
.sec1_bg > div.bgx {
    z-index: 10;
}
.sec1_bg > div.bgo {
    z-index: 5;
}
.sec1_bg > div.bgx > div > span {
    background: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sec1_bg > div.bgo > div > span {
    background: -webkit-linear-gradient( 30deg, rgba(234, 162, 110, 1) 0%, rgba(234, 110, 177, 1) 24%, rgba(42, 140, 195, 1) 44%, rgba(234, 110, 177, 1) 68%, rgba(234, 162, 110, 1) 86%, rgba(234, 110, 177, 1) 100% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}




















/* .sec2 h2 {
    font-size: 6vw;
    color: #353945;
    left: 32vw;
    top: 24vh;
}
.sec2_txt1 {
    left: auto;
    right: 5vw;
    font-size: 1vw;
    top: 60vh;
    line-height: 1.4;
}
.sec2_img1 {
    width: 800px;
    height: 800px;
    transform: translate(-50%, -50%) rotate(0deg);
    left: 20%;
    top: 60%;
}
.sec2_img1 .imgWrap {
    width: 80vw;
}
.sec2_img1 img {
    width: 100%;
} */