.horizontal-scroll {
    height: 100vh;
    overflow: hidden;
    display: flex;
    left: 0;
}
.section5, .section7 {
    width: 100%;
    height: 100vh;
    background: #111;
    color: #fff;
}
.section6 .pin-wrap {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.section6 .pin-wrap > div {
    min-width: 60vw;
}


body {
    background: #EBEBEB;
}

/* header */
#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 10000;
}
#nav {
    text-align: center;
    margin: 5px;
}
#nav ul {
    display: flex;
    align-items: center;            
    justify-content: center;
}
#nav ul li a {
    display: inline-block;
    padding: 20px 30px;
    color: #3C6B56;
    font-family: 'Jura';
    font-size: 22px;
}

/* container */
.container {
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
}


/* sec1_1  */
.section1 {
    
    position: relative;
}

.sec1_text {
    height: 100vh;
    position: relative;
}
.sec1_text_wrap {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}
.sec1_text h1 {
    white-space: nowrap;
}
.sec1_text em {
    font-size: 17vw;
    color: #3c6b56;
    font-family: "Partizeno";
}
.sec1_text em span {
    display: inline-block;
}
.sec1_text p {
    position: absolute;
    left: 0;
    bottom: -5vh;
    font-size: 1.3vw;
    font-family: 'GmarketSans';
    font-weight: 300;
    color: #3c6b56;
}
.sec1_text p span {
    display: block;
}
.sec1_text strong {
    font-size: 3vw;
    color: #B99E56;
    font-family: "Saint Monica";
}
#canvas_bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.sec1_about {
    padding: 200px 0;
    width: 100%;
    overflow: hidden;
}
.sec1_about h2 {
    font-size: 14vw;
    color: #3c6b56;
    font-family: "Partizeno";
    line-height: 1.2;
}
.sec1_about p {
    color: #3C6B56;
    font-family: 'IropkeBatang';
    font-size: 20px;
    line-height: 1.6;
}
.sec1_about .imgWrap {
    margin: 100px 0 100px -300px;
    height: 400px;
    overflow: hidden;
    width: 3000px;
}
.sec1_about .imgWrap > div {
    float: left;
    width: 700px;
    height: 100%;
    margin-right: 1%;
    background: url(https://images.unsplash.com/photo-1621762782296-a131155befee?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80) no-repeat center center;
    background-size: cover;
}
.sec1_about .imgWrap > div:nth-child(2){
    background: url(https://images.unsplash.com/photo-1558220829-f1856c69ee83?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80) no-repeat center top -500px;
}
.sec1_about .imgWrap > div:nth-child(3){
    background: url(https://images.unsplash.com/photo-1652553344265-22cef245efff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80) no-repeat center top -200px;
}


/* section2 */
.section2 {
    position: relative;
}
.section2 .pin-wrap {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.section2 .pin-wrap .sec2_1  {
    min-width: 90vw;
    height: 80vh;
    margin-top: 20vh;
}
.section2 .pin-wrap .sec2_2  {
    min-width: 90vw;
    height: 80vh;
    margin-top: 20vh;
}
.section2 .pin-wrap .sec2_3  {
    min-width: 90vw;
    height: 80vh;
    margin-top: 20vh;
}
.section2 .pin-wrap .sec2_4  {
    min-width: 90vw;
    height: 80vh;
    margin-top: 20vh;
}
.section2 .sec2_title {
    position: absolute;
    left: 0; top: 0;
    color: #3c6b56;
    font-family: "Partizeno";
    font-size: 10vh;
    height: 20vh;
    padding-left: 3vh;
    padding-right: 3vh
}
.site {
    display: flex;
    flex-wrap: wrap;
}
.site .left {
    width: 80%;
    height: 100%;
}
.site .left.bg1 {
    background: url(https://pkh2860.github.io/webs_class/portfolio/assets/img/web.jpg) no-repeat;
    background-size: cover;
}
.site .left.bg2 {
    background: url(https://pkh2860.github.io/webs_class/portfolio/assets/img/web2.jpg) no-repeat;
    background-size: cover;
}
.site .left.bg3 {
    background: url(https://images.unsplash.com/photo-1499951360447-b19be8fe80f5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80) no-repeat;
    background-size: cover;
}
.site .left.bg4 {
    background: url(https://pkh2860.github.io/webs_class/portfolio/assets/img/web2.jpg) no-repeat;
    background-size: cover;
}
.site .right {
    width: 20%;
    height: 100%;
    white-space: normal;
    padding: 0 2% 2% 2%;
}
.site .right h3 {
    color: #3c6b56;
    font-family: "Partizeno";
    font-size: 2vw;
    line-height: 1;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.site .right p {
    color: #3C6B56;
    font-family: 'IropkeBatang';
    font-size: 16px;
    line-height: 1.6;
}
.site .right ul {
    margin-top: 20px;
    padding-left: 20px;
}
.site .right li {
    color: #3C6B56;
    font-family: 'IropkeBatang';
    font-size: 16px;
    line-height: 1.6;
    list-style-type: disc;
}
.site .right .btn {
    margin-top: 20px;
}
.site .right .btn a {
    background: #3C6B56;
    color: #fff;
    display: block;
    margin-bottom: 5px;
    text-align: center;
    padding: 5px;
    text-transform: uppercase;
}

/* section3 */
.section3 {
    height: 500px;
}


/* section4 */
.section4 {
    position: relative;
}
.section4 .sec4_title {
    position: absolute;
    left: 0; top: 0;
    color: #3c6b56;
    font-family: "Partizeno";
    font-size: 10vh;
    height: 20vh;
    padding-left: 3vh;
    padding-right: 3vh
}
.section4 .pin-wrap {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.section4 .pin-wrap .sec4_1 {
    min-width: 70vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 10vh;
    height: 60vh;
}
.section4 .pin-wrap .sec4_2 {
    min-width: 60vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 10vh;
    height: 60vh;
}
.section4 .pin-wrap .sec4_3 {
    min-width: 60vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 10vh;
    height: 60vh;
}
.section4 .pin-wrap .sec4_4 {
    min-width: 60vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 10vh;
    height: 60vh;
}

.script > div .script_img {
    width: 100%;
    height: 45vh;
}
.script > div .script_img iframe {
    width: 100%;
    height: 100%;
}
.script > div h3 {
    color: #3c6b56;
    font-family: "Partizeno";
    font-size: 3vw;
    line-height: 1;
    text-transform: capitalize;
    margin: 4vh 0 2vh;
    text-align: center;

}
.script > div p {
    color: #3C6B56;
    font-family: 'IropkeBatang';
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    width: 40vw;
    margin: 0 auto;
}
