/* layout */
.section {
    height: 100vh;
    background: #EBEBEB;
}
#section2 {
    height: 100vh;
    overflow: hidden;
    display: flex;
    left: 0;
}
.horizontal {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.horizontal .section {
    width: 80vw;
    background: #999;
}
.horizontal .sec2_1 {
    background: yellow;
}
.horizontal .sec2_2 {
    background: blue;
}
.horizontal .sec2_3 {
    background: burlywood;
}


body {
    background: #EBEBEB;
}

/* header */
#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 10000;
}
#nav {
    text-align: center;
    margin: 5px;
}
#nav ul {
    display: flex;
    align-items: center;            
    justify-content: center;
}
#nav ul li a {
    display: inline-block;
    padding: 30px;
    color: #3C6B56;
    font-family: 'Jura';
    font-size: 22px;
}

/* container */
.container {
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
}


/* sec1_1  */
.sec1_1 {
    height: 100vh;
    position: relative;
}
.sec1_text {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}
.sec1_text h1 {
    white-space: nowrap;
}
.sec1_text em {
    font-size: 17vw;
    color: #3c6b56;
    font-family: "Partizeno";
}
.sec1_text em span {
    display: inline-block;
}
.sec1_text p {
    position: absolute;
    left: 0;
    bottom: -5vh;
    font-size: 1.3vw;
    font-family: 'GmarketSans';
    font-weight: 300;
    color: #3c6b56;
}
.sec1_text p span {
    display: block;
}
.sec1_text strong {
    font-size: 3vw;
    color: #B99E56;
    font-family: "Saint Monica";
}
#canvas_bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}


/* sec2 */
.sec2 {
    padding: 200px 0 0 0;
}
.sec2 h2 {
    font-size: 14vw;
    color: #3c6b56;
    font-family: "Partizeno";
    line-height: 1.2;
}
.sec2 p {
    color: #3C6B56;
    font-family: 'IropkeBatang';
    font-size: 20px;
    line-height: 1.6;

}
.sec2_img {
    height: 400px;
    background: #ccc;
}


.sec2_1 {
    width: 80vw;
    height: 20vh;
}
.sec2_2 {
    width: 80vw;
    height: 20vh;
}
.sec2_3 {
    width: 80vw;
    height: 20vh;
}