#header {
    position: fixed;
    top: 50%;
    left: 20px;
    background-color: #0000005a;
    backdrop-filter: blur(10px);
    z-index: 100;
    transform: translate(-50%) rotate(-90deg);
    padding: 0 10px;
}
#header .nav {}
#header .nav li {
    display: inline;
}
#header .nav li a {
    color: #fff;
    font-weight: bold;
    color: #AFFF89;
}

#section1 {
    width: 100%;
    height: 100vh;
    background-image: url(../img/section01.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}
#section1 .text {
    padding: 5vw;
    font-size: 10vmax;
    line-height: 1;
}
#section1 .text .t4 {
    padding-left: 10vw;
}

#section2 {
    background-color: #000;
    padding-bottom: 30%;
}
#section2 h2 {
    color: #AFFF89;
    padding: 9vw;
    padding-bottom: 0;
    line-height: 1.2;
    font-size: 2vw;
    letter-spacing: -0.1vw;
}
#section2 .desc {
    padding: 9vw;
    padding-top: 5vw;
    color: #fff;
}
#section2 .desc > div {
    font-size: 5vw;
    line-height: 1.1;
}
#section2 .img {
    width: 30vw;
    color: #fff;
    margin-left: auto;
    margin-right: 10vw;
    margin-top: -30vw;
}
#section2 .img .intro {
    font-family: 'ChosunNm';
    padding-top: 10px;
    text-align: justify;
    padding-right: 10px;
}


@media (max-width: 1000px){
    #section1 .text {
        text-align: center;
        width: 100%;
        font-size: 80px;
    }
    #section1 .text .t4 {
        padding-left: 0;
    }
}
@media (max-width: 800px){
    #section1 .text {
        font-size: 40px;
    }
}
@media (max-width: 600px){ 
    #header {
        top: 10px;
        left: 0;
        transform: translate(0) rotate(0);
        width: auto;
        display: inline-block;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #header .nav li {
        display: block;
    }
    #section2 h2 {
        font-size: 30px;
    }
    #section2 .desc > div {
        font-size: 26px;
    }
    #section2 .img {
        margin-top: 0;
        width: 80%;
    }
}