@import url('https://fonts.googleapis.com/css2?family=Abel&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://webfontworld.github.io/TheJamsil/TheJamsil.css');
@import url('https://webfontworld.github.io/amore/AritaBuri.css');

#intro {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: serif;
    font-family: "PartizenoRegular";
    height: 100vh;
}

#intro .text {
    position: absolute;
    left: 2%;
    top: 50%;
    z-index: 2000;
    transform: translatey(-50%);
}

#intro .text h3 {
    font-size: 5vw;
    line-height: 1;
    color: #fff;
    padding-bottom: 10px;
}

#intro .text p {
    width: 100%;
    color: #fff;
    font-family: 'AritaBuri';
    line-height: 1.5;
    font-weight: 100;
}

#intro .bg-main {
    font-size: 10vw;
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    overflow: hidden;

}

#intro .bg-main .bg {
    width: 120%;
    height: 120%;
    margin-left: -10%;
    transform: scale(1.3);
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(https://images.unsplash.com/photo-1659469378420-e68c6ee21a28?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-repeat: no-repeat;
}

#intro .bg-white {
    width: 75%;
    height: 100vh;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
}

#intro .bg-white .tl {
    position: absolute;
    left: 30px;
    top: 30px;
    font-size: 20px;
    font-family: 'Poppins';
}

#intro .bg-white .tr {
    position: absolute;
    right: 30px;
    top: 30px;
    font-family: 'Poppins';
}

#intro .bg-white .bl {
    position: absolute;
    left: 30px;
    bottom: 30px;
    font-family: 'Poppins';
}

#intro .bg-white .br {
    position: absolute;
    right: 30px;
    bottom: 30px;
    font-family: 'Poppins';
}

#intro .bg-small {
    cursor: pointer;
    width: 200px;
    height: 30vh;
    background-color: #000;
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 500;
    background-image: url(https://images.unsplash.com/photo-1659469378420-e68c6ee21a28?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* sub */
body {
    background-image: url(https://images.unsplash.com/photo-1659469378420-e68c6ee21a28?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#contents {
    display: flex;
    width: 1000%;
}

#contents>section {}

#section1 {
    width: 100vw;
    height: 100vh;
    background: #00000050;
    backdrop-filter: blur(15px);
}

#section2 {
    width: 100vw;
    height: 100vh;
    background: transparent;
}

#section3 {
    width: 300vw;
    height: 100vh;
    background: transparent;
    background: #0A090550;
    backdrop-filter: blur(25px);
    color: #fff;
    display: flex;
}

#section3 .num {
    font-size: 10vw;
    font-family: 'GmarketSans';
    border-right: 1px solid #ffffff26;
    display: block;
    width: 800px;
    height: 100vh;
    padding-left: 5vw;
    padding-top: 2vw;
}

#section3 .desc-wrap {
    display: flex;
    align-items: flex-end;
    width: 100%;
}

#section3 .desc-wrap>.desc {
    padding: 2% 2%;
    border-right: 1px solid #ffffff26;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
}

#section3 .desc-wrap>.desc h5 {
    font-family: 'GmarketSans';
    color: #dadada;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: left;
    opacity: 0.5;
}

#section3 .desc-wrap>.desc p {
    font-family: 'AritaBuri';
}



#section3 .desc-wrap>.desc.d1 {}

#section3 .desc-wrap>.desc.d2 {}

#section3 .desc-wrap>.desc.d3 {}

#section3 .desc-wrap>.desc.d4 {}



#section1 .subText {
    position: absolute;
    z-index: 10000;
    left: 2%;
    top: 50%;
    z-index: 2000;
    transform: translatey(-50%);
}

#section1 .subText h3 {
    font-size: 5vw;
    line-height: 1;
    color: #fff;
    padding-bottom: 10px;
    font-family: "PartizenoRegular";
}

#section1 .subText p {
    width: 100%;
    color: #fff;
    font-family: 'AritaBuri';
    line-height: 1.5;
}