#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #ffffff18;
    backdrop-filter: blur(10px);
}

#header h1 {
    font-family: "Poppins";
    color: #fff;
    line-height: 0.5;
}

#header h1 span {
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    display: block;
}

#header h1 em {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 11px;
}

#header nav {
    font-family: "Poppins";
    text-transform: uppercase;
    color: #fff;
    font-weight: 900;
    font-size: 18px;
    margin-top: 1px;
}

#section1 {
    height: 200vh;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: center bottom;
    padding-top: 60px;
    line-height: 1;
    overflow: hidden;
}
#section1 p {
    font-family: "Iropke Batang";
    width: 400px;
    line-height: 1.5;
    color: #fff;
    font-size: 14px;
    margin-top: 20vh;
    margin-left: 4vw;
}

#section1 .text > div {
    font-family: "NeoGeoTrial-Thin";
    font-size: 10vw;
    color: #fff;
    font-weight: 300;
    margin-left: 3.5vw;
    margin-top: 2vw;
    line-height: 0.85;
    text-transform: uppercase;
    overflow: hidden;
}
#section2 {
}
.container {
    width: 1400px;
    margin: 0 auto;
}

@media (max-width: 1420px) {
    .container {
        width: 96%;
    }
}
.sec2__inner {
    padding: 200px 0;
}
.sec2__inner h2 {
    font-size: 12.8vmax;
    margin-left: -0.6vw;
    font-family: "NeoGeoTrial-Thin";
    text-transform: uppercase;
}
.sec2__inner .article1 {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10vw;
    margin-top: -7vw;
    justify-content: space-between;
}
.sec2__inner .article1 .left {
    width: 50%;
    background-color: #d1d1d1;
}
.sec2__inner .article1 .right {
    width: 45%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    margin-bottom: 100px;
}
.sec2__inner .article1 .right h3 {
    font-family: "Italiana";
    font-size: 40px;
}
.sec2__inner .article1 .right p {
    font-family: "nanumSquareNeo";
    color: #666;
    font-size: 14px;
    line-height: 1.6;
}
.sec2__inner .article1 .right a {
    font-family: "Abel";
    padding: 10px 0 0 40px;
    border-bottom: 1px solid #666;
}

@media (max-width: 960px) {
    .sec2__inner .article1 .right p br {
        display: none;
    }
}
@media (max-width: 960px) {
    .sec2__inner h2 {
        font-size: 80px;
        margin-bottom: -40px;
    }
    .sec2__inner .article1 {
        flex-direction: column;
    }
    .sec2__inner .article1 .left {
        width: 100%;
    }
    .sec2__inner .article1 .right {
        width: 100%;
    }
}

.sec2__inner .article2 {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 100px;
}
.sec2__inner .article2 .left {
    width: 60%;
    height: 600px;
    background-color: #d1d1d1;
}
.sec2__inner .article2 .right {
    width: 30%;
    height: 600px;
    background-color: #8e8181;
    display: flex;
}

.sec2__inner .article3 {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
}
.sec2__inner .article3 .left {
    width: 70%;
    height: 600px;
    background-color: #d1d1d1;
}
.sec2__inner .article3 .right {
    width: 30%;
    height: 600px;
    background-color: #8e8181;
}
