/* layout */
#contents {}
#section1 {
    height: 5000px;
    background-color: #0D2821;
}
#section2 {
    height: 3000px;
    background-color: #0D2821;
}
#section3 {
    height: 3000px;
    background-color: #fff;
}
#section4 {}
#section5 {}
#section6 {}

.scroll {
    position: fixed;
    left: 10px; 
    bottom: 10px;
    color: #fff;
    font-family: 'Krona One', sans-serif;
    font-weight: 100;
    background: rgba(0,0,0,0.3);
    width: 100px; 
    height: 40px;
    text-align: center;
    line-height: 40px;
    z-index: 10000;
}

/* header */
#header {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    box-sizing: border-box;
    z-index: 10000;
}
#header h1 {
    color: #fff;
    font-family: 'Jura', sans-serif;
    font-size: 24px;
    line-height: 1;
    margin-top: -2px;
}
#header h1 span {
    display: inline-block;
    width: 27px;
    height: 16px;
    position: relative;
}
#header h1 span::before {
    content: '';
    width: 16px;
    height: 16px;
    background-color: #F3FF65;
    position: absolute;
    left: 0; 
    top: 0;
    border-radius: 50px;
}
#header h1 span::after {
    content: '';
    width: 16px;
    height: 16px;
    background-color: #F3FF65;
    position: absolute;
    right: 0; 
    top: 0;
    border-radius: 50px;
}
#nav .ham {
    width: 30px;
    height: 30px;
}
#nav .ham span {
    width: 22px;
    height: 2px;
    background: #fff;
    display: inline-block;
    margin-left: 4px;
    margin-top: 14px;
    position: relative;
    border-radius: 3px;
}
#nav .ham span::before {
    content: '';
    width: 22px;
    height: 2px;
    background: #fff;
    display: inline-block;
    position: absolute;
    left: 0px;
    border-radius: 3px;
    bottom: 7px;
}
#nav .ham span::after {
    content: '';
    width: 22px;
    height: 2px;
    background: #fff;
    display: inline-block;
    position: absolute;
    border-radius: 3px;
    left: 0px;
    top: 7px;
}

/* sec1 */
.sec1_text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.sec1_text div {
    text-align: center;
    font-size: 6vw;
    line-height: 1;
    color: #fff;
    font-family: 'Krona One', sans-serif;
}
.sec1_text .arrow {
    display: inline-block;
    background-color: #F3FF65;
    border-radius: 100px;
    width: 20vw;
    height: 5.1vw;
    vertical-align: -.51vw;
    background-image: url("data:image/svg+xml,%3Csvg width='62' height='62' viewBox='0 0 62 62' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M33.8938 0H27.6309V57.1034H33.8938V0Z' fill='%23003D31'/%3E%3Cpath d='M30.9992 61.9999L35.4277 57.5713L4.42775 26.5713L-0.000827652 30.9999L30.9992 61.9999Z' fill='%23003D31'/%3E%3Cpath d='M26.5714 57.5714L31 62L62 31L57.5714 26.5714L26.5714 57.5714Z' fill='%23003D31'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20%;
}

.sec1_text .box {
    width: 100%;
    height: 100vh;
    background: #F3FF65;
    position: absolute;
    left: 0;
    top: 100vh;
    mix-blend-mode: difference;
    z-index: 2000;
}
.sec1_text .img {
    position: absolute;
    left: 50%;
    top: 120%;
    width: 20%;
    transform: rotate(10deg);
    z-index: 100;
}
.sec1_text .t2 {
    position: relative;
    z-index: 1000;
}

.sec2_circle1 {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 1000px;
    height: 500px;
    background-color: #F3FF65;
    border-radius: 1000%;
    text-align: center;
    line-height: 500px;
}
.sec2_circle1 span {
    font-family: 'Krona One', sans-serif;
    font-size: 7vw;
}
.sec2_circle2 {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 1000px;
    height: 500px;
    background-color: #d5e058;
    border-radius: 1000%;
    text-align: center;
    line-height: 500px;
}
.sec2_circle3 {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 1000px;
    height: 500px;
    background-color: #c0ca4e;
    border-radius: 1000%;
    text-align: center;
    line-height: 500px;
}
.sec2_circle4 {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 1000px;
    height: 500px;
    background-color: #9ba33e;
    border-radius: 1000%;
    text-align: center;
    line-height: 500px;
}
.sec2_circle5 {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 1000px;
    height: 500px;
    background-color: #777d30;
    border-radius: 1000%;
    text-align: center;
    line-height: 500px;
}
.sec2_circle6 {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 1000px;
    height: 500px;
    background-color: #0D2821;
    border-radius: 1000%;
    text-align: center;
    line-height: 500px;
}
.sec2_arrow {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    background-image: url("data:image/svg+xml,%3Csvg width='62' height='62' viewBox='0 0 62 62' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M33.8938 0H27.6309V57.1034H33.8938V0Z' fill='%23003D31'/%3E%3Cpath d='M30.9992 61.9999L35.4277 57.5713L4.42775 26.5713L-0.000827652 30.9999L30.9992 61.9999Z' fill='%23003D31'/%3E%3Cpath d='M26.5714 57.5714L31 62L62 31L57.5714 26.5714L26.5714 57.5714Z' fill='%23003D31'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30px;
    background-color: #F3FF65;
    border-radius: 50%;
    z-index: 10000;
}
.sec3_arrow {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    background-image: url("data:image/svg+xml,%3Csvg width='62' height='62' viewBox='0 0 62 62' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M33.8938 0H27.6309V57.1034H33.8938V0Z' fill='%23003D31'/%3E%3Cpath d='M30.9992 61.9999L35.4277 57.5713L4.42775 26.5713L-0.000827652 30.9999L30.9992 61.9999Z' fill='%23003D31'/%3E%3Cpath d='M26.5714 57.5714L31 62L62 31L57.5714 26.5714L26.5714 57.5714Z' fill='%23003D31'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30px;
    background-color: #F3FF65;
    border-radius: 50%;
    z-index: 10000;
}



.sec2_site {
    
}
.sec2_site .site {
    position: fixed;
    left: 50%; 
    top: 50%;
    width: 80%;
    height: 70vh;
    transform: translate(-50%, -50%);
}
.sec2_site .site .img {
    width: 60%;
    border-radius: 4vw;
    overflow: hidden;
}
.sec2_site .site .title {
    font-family: "Krona One", sans-serif;
    font-size: 6vw;
    line-height: 1;
    z-index: 10;
    position: relative;
    color: #F3FF65;
    text-transform: uppercase;
    margin-top: -3vw;
    text-align: right;
}
.sec2_site .site .desc {
    font-family: 'GmarketSans';
    width: 30%;
    margin-left: auto;
    text-align: right;
    color: #fff;
    font-weight: 300;
    word-break: keep-all;
}
.sec2_site .site .arrow {
    
}


.sec2_card {

}
.sec2_card .card {
    position: fixed;
    left: 50%; 
    top: 50%;
    width: 80%;
    height: 70vh;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-evenly;
}
.sec2_card .card > div {
    width: 43%;
    overflow: hidden;
}
.sec2_card .card > div img {
    border-radius: 40px;
}
.sec2_card .card > div h3 {
    font-size: 3vw;
    line-height: 1;
    z-index: 10;
    position: relative;
    color: #F3FF65;
    font-family: "Krona One", sans-serif;
    text-transform: capitalize;
    padding-top: 20px;
}
.sec2_card .card > div p {
    color: #fff;
    font-family: 'GmarketSans';
    font-weight: 300;
    padding-top: 10px;
    text-align: justify;
    padding-left: 40%;
}



.sec2_card .card .left {
    
}
.sec2_card .card .right {
  
}