#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10000;
    color: #8CF4A1;
    background-color: #f4fff61d;
    display: none;
}

#header h1 {
    font-family: 'lotteriaDdag';
    text-transform: uppercase;
    font-size: 30px;
    line-height: 1;
    margin: 5px;
}

#section1 {
    height: 100vh;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

#section1 .text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1600px;
}

#section1 .text span {
    font-family: 'FRUIT-PUNCH';
    color: #8CF4A1;
    font-size: 80px;
    line-height: 1.1;
}

#section2 {
    background-color: #ccc;
    height: 2000px;
}