/*  container */
.container {
    width: 1477px;
    margin: 0 auto;
}
#section1 {
    width: 100%;
    height: 100vh;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.textTitle {
    padding: 0 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.textTitle h1 {
    color: #8cf4a1;
    font-family: "lotteriaChab";
}
.textTitle .time {
    flex: 1;
}
.textTitle .time .stop {
    color: #8cf4a1;
}
.textTitle .right {
    display: flex;
    justify-content: end;
    flex: 1;
    text-align: right;
}
.textTitle .right .stop {
    color: #000;
    margin-right: 10px;
    font-family: "lotteriaChab";
    text-transform: uppercase;
    background-color: #8cf4a1;
    border-radius: 60px / 20px;
    padding: 10px 20px;
}
.textTitle .right nav {
    background-color: #fff;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 50px / 20px;
    font-family: "lotteriaChab";
    color: #000;
}

/* textWrap */
.textWrap {
    color: #fff;
    text-align: center;
}
.textWrap ul {
    width: 1477px;
    overflow: hidden;
    padding-top: 13px;
    padding-left: 5px;
}
.textWrap ul li {
    float: left;
    width: 70px;
    list-style: none;
    font-family: fruit-punch;
    font-size: 87px;
    line-height: 0.9;
    text-align: center;
    text-shadow: -1px 0 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, 0 1px 0 #fff;
    color: #000;
}
.textWrap ul li.active {
    color: #8cf4a1;
    text-shadow: -1px 0 0 #8cf4a1, 0 -1px 0 #8cf4a1, 1px 0 0 #8cf4a1, 0 1px 0 #8cf4a1;
}

@media (max-width: 1500px) {
    .textWrap ul {
        width: 1184px;
    }

    .textWrap ul li {
        float: left;
        width: 56px;
        font-size: 73px;
        line-height: 0.9;
    }
}

@media (max-width: 1200px) {
    .textWrap ul {
        width: 890px;
        padding-bottom: 3px;
    }

    .textWrap ul li {
        float: left;
        width: 42px;
        font-size: 55px;
        line-height: 0.8;
    }
}

#section2 {
    width: 100%;
    background-color: #000;
    padding-bottom: 100px;
}

#section2 .about {
    width: 100%;
    height: 400px;
    background-color: #ececec;
    border-radius: 20px;
    text-align: center;
    padding: 2rem;
}

#section2 .about h3 {
    font-family: "Abel";
    margin-bottom: 20px;
    font-size: 14px;
}
#section2 .about p {
    font-family: "IropkeBatang";
    margin-bottom: 30px;
}

#section2 .about .desc {
    display: flex;
    justify-content: space-between;
}
#section2 .about .desc .lineBox {
    width: 24%;
    height: 200px;
}
#section2 .about .desc .text {
    padding: 20px;
}
#section2 .about .desc .text span {
    font-size: 12px;
    color: #777;
    font-family: "Abel";
    margin-bottom: 10px;
    display: inline-block;
}
#section2 .about .desc .text h4 {
    font-size: 40px;
    margin-bottom: 10px;
    background-image: url(../assets/img/t1.svg);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 10px;
}
#section2 .about .desc .text h4 .ir {
    color: transparent;
}

#section2 .me {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}
#section2 .me .title {
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#section2 .me .title .a {
    width: 50%;
}
#section2 .me .title .b {
    width: 44%;
}
#section2 .me .title .b span {
    background-color: #fff;
    width: 100%;
    display: block;
    padding: 10px 20px;
    border-radius: 50px;
    font-family: "IropkeBatang";
}

#section2 .me .left {
    width: 738.5px;
    padding: 30px;
    border: 1px solid #666;
    position: relative;
}
#section2 .me .left .cover {
    position: absolute;
    left: 2px;
    top: 4px;
    z-index: 10;
    width: 100%;
    height: 100%;
}
#section2 .me .left .cover li {
    float: left;
    width: 61px;
    height: 81px;
    border: 0.5px solid #ffffff30;
    text-align: center;
}
#section2 .me .left .cover li.blur {
    /* background-color: #000000b0;
    backdrop-filter: blur(10px); */
}

#section2 .me .right {
    width: 738.5px;
    height: 738.5px;
}
#section2 .me .right {
    color: #fff;
    text-align: right;
    /* background-color: #8cf4a1; */
}
#section2 .me .right ul {
    width: 100%;
    overflow: hidden;
    padding-top: 13px;
    padding-left: 18px;
    text-align: right;
}
#section2 .me .right ul li {
    float: left;
    width: 60px;
    list-style: none;
    font-family: fruit-punch;
    font-size: 77px;
    line-height: 0.9;
    text-align: center;
    text-shadow: -1px 0 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, 0 1px 0 #fff;
    color: #000;
}
#section2 .me .right ul li.active {
    color: #8cf4a1;
    text-shadow: -1px 0 0 #8cf4a1, 0 -1px 0 #8cf4a1, 1px 0 0 #8cf4a1, 0 1px 0 #8cf4a1;
}

#section3 {
    width: 100%;
    height: 2000px;
    background-color: #000;
}

#section3 .about {
    width: 100%;
    height: 400px;
    background-color: #ececec;
    border-radius: 20px;
    text-align: center;
    padding: 2rem;
}

#section3 .about h3 {
    font-family: "Abel";
    margin-bottom: 20px;
    font-size: 14px;
}
#section3 .about p {
    font-family: "IropkeBatang";
    margin-bottom: 30px;
}

#section3 .about .desc {
    display: flex;
    justify-content: space-between;
}
#section3 .about .desc .lineBox {
    width: 24%;
    height: 200px;
}
#section3 .about .desc .text {
    padding: 20px;
}
#section3 .about .desc .text span {
    font-size: 12px;
    color: #777;
    font-family: "Abel";
    margin-bottom: 10px;
    display: inline-block;
}
#section3 .about .desc .text h4 {
    font-size: 40px;
    margin-bottom: 10px;
    background-image: url(../assets/img/t1.svg);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 10px;
}
#section3 .about .desc .text h4 .ir {
    color: transparent;
}

/* linebox */
.lineBox {
    position: relative;
}

.lineBox .line {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.lineBox .line span:nth-child(1) {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 4px;
    top: 4px;
    transform: rotate(45deg);
    border-left: 1px solid #666;
}
.lineBox .line span:nth-child(1)::before {
    content: "";
    width: 30px;
    height: 1px;
    background-color: #666;
    position: absolute;
    left: 0;
    top: 20px;
    transform: rotate(45deg);
    transform-origin: top left;
}
.lineBox .line span:nth-child(1)::after {
    content: "";
    width: 30px;
    height: 1px;
    background-color: #666;
    position: absolute;
    left: -1px;
    top: 0;
    transform: rotate(-45deg);
    transform-origin: top left;
}

.lineBox .line span:nth-child(2) {
    width: 20px;
    height: 21px;
    position: absolute;
    right: 4px;
    top: 4px;
    transform: rotate(45deg);
    border-top: 1px solid #666;
}
.lineBox .line span:nth-child(2)::before {
    content: "";
    width: 30px;
    height: 1px;
    background-color: #666;
    position: absolute;
    right: 15.5px;
    top: 10px;
    transform: rotate(-45deg);
}
.lineBox .line span:nth-child(2)::after {
    content: "";
    width: 30px;
    height: 1px;
    background-color: #666;
    position: absolute;
    right: -26px;
    top: 10px;
    transform: rotate(45deg);
}
.lineBox .line span:nth-child(3) {
    width: 20px;
    height: 21px;
    position: absolute;
    left: 4px;
    bottom: 4px;
    transform: rotate(45deg);
    border-bottom: 1px solid #666;
}
.lineBox .line span:nth-child(3)::before {
    content: "";
    width: 30px;
    height: 1px;
    background-color: #666;
    position: absolute;
    left: -26px;
    top: 10px;
    transform: rotate(45deg);
}
.lineBox .line span:nth-child(3)::after {
    content: "";
    width: 1px;
    height: 30px;
    background-color: #666;
    position: absolute;
    right: -11px;
    top: -6px;
    transform: rotate(45deg);
}

.lineBox .line span:nth-child(4) {
    width: 20px;
    height: 21px;
    position: absolute;
    right: 4px;
    bottom: 4px;
    transform: rotate(-45deg);
    border-bottom: 1px solid #666;
}
.lineBox .line span:nth-child(4)::before {
    content: "";
    width: 30px;
    height: 1px;
    background-color: #666;
    position: absolute;
    right: 16px;
    top: 9px;
    transform: rotate(45deg);
}
.lineBox .line span:nth-child(4)::after {
    content: "";
    width: 1px;
    height: 30px;
    background-color: #666;
    position: absolute;
    right: -11px;
    top: -5px;
    transform: rotate(45deg);
}
