/* header */
#header {
    width: 96vw;
    text-align: center;
    font-family: 'CookieRun';
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1vw 2vw;
    transform: translateY(-150px);
}
#header h1 {
    display: inline-block;
    font-size: 3vw;
    position: relative;
    margin-top: -8px;
}
#header h1::after {
    content: '';
    width: 100%;
    height: 0.4vw;
    border-radius: 10px;
    background: #000;
    position: absolute;
    left: 0;
    bottom: -3px;
}
#header .top {
    border: 0.4vw solid #000;
    border-radius: 10vw;
    padding: 0.5vw 3vw;
    font-size: 2vw;
    opacity: 0;
    transform: translateX(400px);
}
#header .bom {
    border: 0.4vw solid #000;
    border-radius: 10vw;
    padding: 0.5vw 3vw;
    font-size: 2vw;
    opacity: 0;
    transform: translateX(-400px);

}

.noise {
    background-image: url(../img/noise.png);
    background-blend-mode: color;
}
.svg-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0; top: 0;
    overflow: hidden;
    border-radius: 0.6vw;
}
.svg-bg .svg {
    position: absolute;
    left: 50%;
    top: 100%;
    width: 4000px;
    height: 4000px;
    will-change: transform;
    user-select: none;
    pointer-events: none;
    transform-origin: center center;
    transform: translate(-50%, -50%) rotate(0deg);
    animation: rotate 60s linear infinite;
}
@keyframes rotate {
    0% {transform: translate(-50%, -50%) rotate(0deg)}
    100% {transform: translate(-50%, -50%) rotate(360deg)}
}

.boxStyle1 {
    background-color: #FFEB26;
    border: 0.4vw solid #000;
    font-family: 'CookieRun';
    padding: 1vw 2vw;
    font-size: 3vw;
    border-radius: 1vw;
    text-shadow: 0.2vw 0.2vw #fff;
    white-space: nowrap;
    overflow: hidden;
}


/* section1 */
#section1 {
    
}
.box1 {
    background-color: #FFEB26;
    border: 0.4vw solid #000;
    font-family: 'CookieRun';
    margin: 1vw 2vw;
    padding: 1vw 2vw;
    font-size: 3vw;
    border-radius: 1vw;
    text-shadow: 0.2vw 0.2vw #fff;
    white-space: nowrap;
    overflow: hidden;
    width: 0vw;
    opacity: 0;
    text-align: center;
}

.green {
    background-color: #5FD0B4;
}
.blue {
    background-color: #73AEFE;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box1 em span {
    display: inline-block;
    min-width: 1.2vw;
    transform: translateY(100px);
}
.box1 .ic {
    opacity: 0;
    display: inline-block;
    min-width: 1.2vw;
    transform: translateY(100px);
}

.box2 {
    background-color: #FF82C9;
    margin: 1vw 2vw;
    padding: 0.5vw 2vw;
    border: 0.4vw solid #000;
    border-radius: 1vw;
    position: relative;
    overflow: hidden;
    width: 0vw;
    opacity: 0;
}
.box2 .svg-bg {
    opacity: 0;
}

.box2 .text {
    position: relative;
    z-index: 10;
    font-size: 10vw;
    font-family: 'OKChan';
    line-height: 1;
    text-align: center;
    padding: 3vw;
    color: #FFEE42;
    /* -webkit-text-stroke: 0.1vw #000; */
    text-shadow: 0.4vw 0.4vw #000000;
}
.box2 .text .txt1 {
    opacity: 0;
    transform: translatex(230px);
}
.box2 .text .txt2 {
    opacity: 0;
    transform: translateY(130px);
}
.box2 .img1 {
    position: absolute;
    right: 10%;
    top: 4%;
    width: 15vw;
    border: 0.4vw solid #000;
    background: #000;
    border-radius: 500px;
    overflow: hidden;
    opacity: 0;
    transform: translateY(100px);
}
.box2 .img2 {
    position: absolute;
    left: 5%;
    top: 0%;
    width: 15vw;
    height: 15vw;
    border: 0.4vw solid #000;
    background: #000;
    border-radius: 500px;
    overflow: hidden;
    opacity: 0;
    transform: translateY(100px);
}
.box2 .img3 {
    position: absolute;
    left: 20%;
    bottom: -24%;
    width: 20vw;
    height: 20vw;
    border: 0.4vw solid #000;
    background: #000;
    border-radius: 500px;
    overflow: hidden;
    opacity: 0;
    transform: translateY(100px);
}
.box3 {
    margin: 1vw 2vw;
    display: grid;
    grid-template-areas: 
        "box1 box2"
        "box1 box3";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 3fr;
    gap: 1%;
}
.box3 .box3-1 {
    grid-area: box1;
    border: 0.4vw solid #000;
    border-radius: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateY(100px);
}
.box3 .box3-1 > div {
    width: 40%;
    margin: 0 auto;
    transition: all 0.8s ease-in-out;
}
.box3 .box3-1.red > div {
    transform: rotate(360deg);
}
.box3 .box3-2 {
    grid-area: box2;
    border: 0.4vw solid #000;
    border-radius: 1vw;
    opacity: 0;
    transform: translateY(100px);
}
.box3 .box3-3 {
    grid-area: box3;
    border: 0.4vw solid #000;
    border-radius: 1vw;
    margin-top: 1%;
    min-height: 300px;
    opacity: 0;
    transform: translateY(100px);
}



@media (max-width: 800px){
    .box3 {
        margin: 1vw 2vw;
        display: grid;
        grid-template-areas: 
            "box1"
            "box2"
            "box3";
        grid-template-columns: 100%;
        grid-template-rows: 30vh;
    }
}




/* section2 */
#section2 {
    height: 2000px;
}