#section1 {
    background-color: #e7e4df;
    width: 100%;
    height: 100vh;
}

#section1 .top {
    width: 100%;
    height: 50vh;
    background-color: #cccccc4d;
    overflow: hidden;
    position: relative;
}

#section1 .top span.bo {
    width: 100%;
    height: 140px;
    background-color: #11111131;
    backdrop-filter: blur(10px);
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
}
#section1 .top span.to {
    width: 100%;
    height: 140px;
    background-color: #11111131;
    backdrop-filter: blur(10px);
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

#section1 .top h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 17vw;
    line-height: 0.8;
    text-transform: uppercase;
    font-family: "NeoGeoTrial-Black";
    color: #111;
}

#section1 .bom {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #000;
}

#section1 .bom .title {
    width: 100%;
    border-bottom: 1px solid #000;
    height: 4vh;
    font-family: "Abel";
    display: flex;
    align-items: end;
    font-size: 14px;
    padding: 1px 5px;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 1000;
    background-color: #e7e4df;
}
#section1 .bom .title span {
    flex: 1;
    text-align: center;
}
#section1 .bom .title span:first-child {
    text-align: left;
}
#section1 .bom .title span:last-child {
    text-align: right;
}

#section1 .bom .cont {
    width: 100%;
    height: 46vh;
    display: flex;
}

#section1 .bom .left {
    width: 40%;
    height: 100%;
    border-right: 1px solid #000;
    display: flex;
    align-items: end;
    flex-direction: row;
    font-family: "NeoGeoTrial-Regular";
    padding: 1%;
}
#section1 .bom .left h3 {
    padding-right: 40px;
    font-size: 12px;
    text-transform: uppercase;
    color: #222;
}
#section1 .bom .left li {
    font-size: 14px;
    line-height: 1.3;
    color: #666;
}
#section1 .bom .right {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1%;
    font-size: 6vw;
    line-height: 1;
    font-family: "NeoGeoTrial-Light";
}

#section2 {
    background-color: #e7e4df;
}

#section2 .title {
    width: 100%;
    border-bottom: 1px solid #000;
    height: 4vh;
    font-family: "Abel";
    display: flex;
    align-items: end;
    font-size: 14px;
    padding: 1px 5px;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 1000;
    background-color: #e7e4df;
}
#section2 .title span {
    flex: 1;
    text-align: center;
}
#section2 .title span:first-child {
    text-align: left;
}
#section2 .title span:last-child {
    text-align: right;
}
#section2 .cont {
    display: flex;
    align-items: start;
    border-bottom: 1px solid #000;
}
#section2 .cont .left {
    width: 45%;
    height: 100%;
    border-right: 1px solid #000;
}
#section2 .cont .right {
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1%;
    font-size: 6vw;
    line-height: 0.91;
    font-family: "NeoGeoTrial-Light";
}
#section2 .cont .right span {
    color: rgb(252, 150, 47);
}

#section2 .cont .right div:last-child {
    margin-top: 10px;
}

#section3 {
    background-color: #e7e4df;
}

#section3 .title {
    width: 100%;
    border-bottom: 1px solid #000;
    height: 4vh;
    font-family: "Abel";
    display: flex;
    align-items: end;
    font-size: 14px;
    padding: 1px 5px;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 1000;
    background-color: #e7e4df;
}
#section3 .title span {
    flex: 1;
    text-align: center;
}
#section3 .title span:first-child {
    text-align: left;
}
#section3 .title span:last-child {
    text-align: right;
}

#section3 .cont {
    width: 100%;
    height: 46vh;
    display: flex;
    border-bottom: 1px solid #000;
}

#section3 .left {
    width: 30%;
    height: 100%;
    /* border-right: 1px solid #000; */
    display: flex;
    align-items: end;
    flex-direction: row;
    font-family: "NeoGeoTrial-Regular";
    padding: 1%;
}
#section3 .left h3 {
    padding-right: 40px;
    font-size: 12px;
    text-transform: uppercase;
    color: #222;
}
#section3 .left li {
    font-size: 14px;
    line-height: 1.3;
    color: #666;
}
#section3 .right {
    width: 70%;
    padding: 5% 2%;
    font-family: "NeoGeoTrial-Light";
}
#section3 .right > ul {
}
#section3 .right > ul > li {
    border-top: 1px solid #000;
    margin-top: 3px;
}
#section3 .right > ul > li > ul {
    text-align: left;
    width: 50%;
    margin-left: 50%;
    margin-top: -20px;
}
#section3 .right > ul > li > ul > li {
    border-top: 1px solid #000;
    padding: 3px 0;
    color: #888;
}
#section3 .right > ul > li > ul > li:first-child {
    border-top: 0;
}

/* section4 */
#section4 {
    background-color: #e7e4df;
}
.work__wrap {
}
.work__wrap .work {
    display: flex;
    height: 100vh;
    border-bottom: 1px solid #000;
}
.work__wrap .work .left {
    width: 70%;
    height: 100%;
    border-right: 1px solid #000;
    position: relative;
}
.work__wrap .work .left .text h2 {
    font-size: 10vw;
    font-family: "NeoGeoTrial-Light";
    font-family: "NeoGeoTrial-Black";
    line-height: 0.9;
    text-transform: uppercase;
    padding: 20px;
    border-bottom: 1px solid #000;
}
.work__wrap .work .left .text h2 em {
    display: block;
    font-size: 9.5vw;
}
.work__wrap .work .left .text p {
    width: 450px;
    padding: 20px;
    font-family: "IropkeBatang";
    word-break: keep-all;
}

.work__wrap .work .left .text a {
    display: inline-block;
    padding-left: 20px;
    font-family: "NeoGeoTrial-Light";
    color: #666;
}
.work__wrap .work .left .text a:hover {
    text-decoration: underline;
}
.work__wrap .work .left .text a:last-child {
    padding-left: 0;
}
.work__wrap .work .left .skill {
    position: absolute;
    right: 10px;
    top: 70%;
    font-family: "NeoGeoTrial-Light";
    text-align: right;
}
.work__wrap .work .left .skill em {
    display: block;
    margin-bottom: 2px;
    margin-top: 10px;
}
.work__wrap .work .left .skill i {
    border: 1px solid #000;
    padding: 4px;
    display: inline-block;
}
.work__wrap .work .left .skill span {
    display: block;
}

.work__wrap .work .right {
    width: 30%;
    background: #ccc;
    height: 100%;
    background-image: url("https://images.unsplash.com/photo-1577083165633-14ebcdb0f658?q=80&w=2483&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    position: relative;
}
.work__wrap .work .right::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #e2d6c6cb;
}
.work__wrap .work .right img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 100;
}
