@font-face {
    font-display: swap;
    font-family: 'PP Rader';
    font-style: italic;
    font-weight: 600;
    src: url(https://main--roaring-moonbeam-f735fd.netlify.app/static/media/PPRader-Thin.994e18beaea894e19d5c.woff2) format("woff2");
}