html.has-scroll-smooth {
    overflow: hidden;
}

html.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.has-scroll-smooth body {
    overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
    min-height: 1000vh;
}

[data-scroll-direction='horizontal'] [data-scroll-container] {
    white-space: nowrap;
    height: 100vh;
    display: inline-block;
    white-space: nowrap;
}

[data-scroll-direction='horizontal'] [data-scroll-section] {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    height: 100%;
}

.contents {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.sec_wrap {
    display: flex;
}
.section {
    width: 400px;
    height: 100vh;
}

/* section1 */
#section1 {
    position: relative;
    width: 100vw;
}
.sec1_text {
    font-family: 'Syncopate';
    color: #fff;
    font-size: 6vw;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-weight: bold;
    text-align: center;
    position: relative;
    z-index: 100;
}
.sec1_text .t2 {padding-right: 40vw;}
.sec1_text span{
    font-size: 18px;
    float: right;
    font-weight: 100;
    font-family: 'abel';
    padding-right: 8vw;
    margin-top: -.81vw;
}
.sec1_bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/* section2 */
#section2 {
    width: 100vw;
    background: #000;
}
.sec2_text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.sec2_text .t1 {
    font-family: 'Syncopate';
    color: #fff;
    font-size: 6vw;
    line-height: 1;
    font-weight: bold;
    text-transform: uppercase;
}
.sec2_text .t2 {
    font-family: 'Syncopate';
    color: #fff;
    font-size: 4vw;
    line-height: 1;
    text-transform: lowercase;
    text-align: center;
}



/* section3 */
#section3 {
    width: 400vw;
    background: #333;
}
.site_wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
}
.site_wrap .site {
    width: 80vw;
    height: 100vh;
    background: #fff;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.site_wrap .site .view1 {
    width: 50vw;
    height: 50vh;
    background: url(https://www.cappen.com/2022/img/cases/desktop/neondoor.4b62864487.png) no-repeat center center;
    background-size: cover;
    color: #fff;
    padding: 2.5vw 3vw;
    margin-top: -5vw;
}
.site_wrap .site .view1 h3 {
    font-family: 'Syncopate';
    color: #fff;
    font-size: 4vw;
    line-height: 1;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1vw;
}
.site_wrap .site .view1 p {
    font-family: 'IropkeBatang';
    width: 50%;
    white-space: normal;
}
.site_wrap .site .view1 a {
    background: #fff;
    color: #000;
    margin-top: 20px;
    padding: 0.7vw 2vw 0.5vw 2vw;
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Syncopate';
    font-weight: 700;
}
.site_wrap .site .view2 {
    position: absolute;
    right: 10vw;
    bottom: 15vh;
    width: 30vw;
    height: 30vh;
    background: url(https://images.unsplash.com/photo-1499951360447-b19be8fe80f5?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170);
    background-size: cover;
}

.site_wrap .site.site1 {
    background: #000;
}
.site_wrap .site.site2 {
    background: #000;
}
.site_wrap .site.site3 {
    background: #000;
}
.site_wrap .site.site4 {
    background: #000;
}
.site_wrap .site.site5 {
    background: #000;
}

/* section4 */
#section4 {
    width: 100vw;
    background: transparent;
}
.sec4_text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.sec4_text .t1 {
    font-family: 'Syncopate';
    color: #fff;
    font-size: 6vw;
    line-height: 1;
    font-weight: bold;
    text-transform: uppercase;
}
.sec4_text .t2 {
    font-family: 'Syncopate';
    color: #fff;
    font-size: 4vw;
    line-height: 1;
    text-transform: lowercase;
    text-align: center;
}

/* section5 */
#section5 {
    width: 350vw;
    background: #333;
}
.script_wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
}
.script_wrap .script {
    width: 70vw;
    height: 100vh;
    background: #fff;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.script_wrap .script .view1 {
    width: 25vw;
    height: 80vh;
    background: url(https://images.unsplash.com/photo-1652569521824-e0e3cf11a4c8?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=715) no-repeat center center;
    background-size: cover;
}
.script_wrap .script .text1 {
    position: absolute;
    right: 5vw;
    top: 20vh;
}
.script_wrap .script .text1 h3 {
    color: #fff;
    font-size: 4vw;
    font-family: 'Syncopate';
    text-transform: uppercase;
    font-weight: 800;
}
.script_wrap .script .text1 p {
    color: #fff;
    font-size: 0.8vw;
    font-family: 'IropkeBatang';
    white-space: normal;
    width: 20vw;
    text-align: right;
    margin-left: auto;
}
.script_wrap .script .text1 a {
    background: #fff;
    color: #000;
    margin-top: 20px;
    padding: 0.7vw 2vw 0.5vw 2vw;
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Syncopate';
    font-weight: 700;
    float: right;
}

.script_wrap .script.script1 {
    background: #000;
}
.script_wrap .script.script2 {
    background: #000;
}

/* section6 */
#section6 {
    width: 100vw;
    background: #000;
}

/* header */
#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(20px);
    z-index: 10000;
    display: flex;
    align-items: center;    
    justify-content: space-between;
    padding: 0.7vw 20px;
    color: #fff;
    font-family: 'Abel';
    font-size: 18px;
    text-transform: uppercase;
}
#header a {
    display: inline-block;
    padding: 0 10px;
}
#header .info {
    border: 1px solid #fff;
    border-radius: 50px;
    font-size: 0.8em;
    padding: 0.4em 0.8em;
}

/* footer */
#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,0.8);
    backdrop-filter: blur(10px);
    z-index: 10000;
    display: flex;
    align-items: center;    
    justify-content: space-between;
    padding: 0.5vw 20px;
    color: #fff;
    font-family: 'Abel';
    white-space: nowrap;
    overflow: hidden;
}
#footer em {
    color: #C2FF04;
    text-transform: uppercase;
    padding: 0 1vw;
}
