.scroll {
    position: fixed;
    left: 10px;
    bottom: 10px;
    color: #fff;
    background: rgba(0,0,0,0.3);
    text-align: center;
    line-height: 50px;
    width: 50px;
    height: 50px;
    z-index: 10000;
}
/* section1 */
#section1 {
    width: 100%;
    height: 100vh;
    position: relative;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2c1366;
}
.sec1__text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2000;
    color: #fff;
    text-align: center;
    -webkit-text-stroke: 3px #000;
    font-size: 8vw;
    font-family: 'Oi';
    line-height: 1;
}
.sec1__text .t2 {
    color: #FFD057;
}
.sec1__img {
    position: fixed;
    right: 17vw; bottom: 15vw;
    width: 15vw;
    height: 15vw;
    z-index: 30000;
    padding: 3vw;
    background: url(https://parkjongho1.github.io/portfolio01/assets/img/facebg.svg) no-repeat center center;
    background-size: cover;
}

/* section2 */
#section2 {
    height: 2000px;
}


/* title */
#header {
    position: absolute;    
    left: 0; 
    top: 100%;
    width: 100%;
    z-index: 20000;
    background: #fff;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}
#header.fixed {
    position: fixed;   
    top: 0; 
}
#nav {
    text-align: center;
}
#nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav li {
    width: 20%;
    position: relative;
    /* border-right: 1px solid #000; */
}
#nav li span {
    position: absolute;
    right: -35px;
    top: 9px;
    display: block;
    width: 70px;
}
#nav li .bg {
    width: 100%;
    height: 100%;
    background: #FFD057;
    position: absolute;
    left: 0; top: 0;
    z-index: -1;
}
#nav li span img {
    width: 100%;
}
#nav li a {
    font-size: 2vw;
    font-family: 'Oi';
    line-height: 1;
    padding: 1.4vw 1vw 1vw 1vw;
    display: inline-block;
}

/* section2 */
#section2 {
    background-color: #FFFEF1;
}
.sec2 h2 {
    color: #FFD057;
    font-size: 8vw;
    font-family: 'Oi';
    text-align: center;
    padding-top: 300px;
    -webkit-text-stroke: 3px #000;
}
.sec2_text {
    color: #fff;
    font-family: 'Oi';
    text-align: center;
}
.sec2_text > div {
    -webkit-text-stroke: 2px #000;
    font-size: 4vw;
    letter-spacing: 2px;
}
.sec2_text > div em {
    color: #000;
}