* {
    margin: 0;
    padding: 0;
}

/* locomotive */
html.has-scroll-smooth {
    overflow: hidden;
}
html.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.has-scroll-smooth body {
    overflow: hidden;
}
.has-scroll-smooth [data-scroll-container] {
    min-height: 100vh;
}
.c-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 11px;
    height: 100vh;
    transform-origin: center right;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
}
.c-scrollbar:hover {
    transform: scaleX(1.45);
}
.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
    opacity: 1;
}
.c-scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    width: 7px;
    border-radius: 10px;
    margin: 2px;
    cursor: -webkit-grab;
    cursor: grab;
}
.has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}
.has-scroll-smooth {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* layout */

#section2 {background-color: #7d7565; height: 500px;}
#section3 {background-color: #b9b3a9; height: 500px;}
#section4 {background-color: #524631; height: 500px;}
#section5 {background-color: #8b744c; height: 500px;}
#section7 {background-color: #4d3712; height: 500px;} 

#section6 {
    height: 100vh;
    overflow: hidden;
    display: flex;
    left: 0;
}
.sec6_wrap {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.sec6_wrap > div {
    min-width: 100vw;
    height: 40vh;
}
.sec6-1 {background-color: #51442b;} 
.sec6-2 {background-color: #b9b3a9;} 
.sec6-3 {background-color: #51442b;} 


/* section1 */
#section1 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text_wrap {
    font-family: 'GmarketSans';
}
.text_wrap > div {
    font-size: 8vw;
    font-weight: 800;
    line-height: 1.1;
    text-transform: uppercase;
    white-space: nowrap;
}
.text_wrap > div span {
    display: inline-block;
    vertical-align: -0.84vw;
    height: 6.7vw;
    
}
.text_wrap > div:nth-child(1) span {
    width: 15vw;
    background: url(https://images.unsplash.com/photo-1659998504891-6c2cad4a6bd1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80) no-repeat center;
    background-size: cover;
    margin-left: 1vw;
    margin-right: 1vw;
}
.text_wrap > div:nth-child(2) span{
    width: 17vw;
    background: url(https://images.unsplash.com/photo-1659998504891-6c2cad4a6bd1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80) no-repeat center;
    margin-left: 0.5vw;
}
.text_wrap > div:nth-child(3) span{
    width: 12.3vw;
    background: url(https://images.unsplash.com/photo-1659998504891-6c2cad4a6bd1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80) no-repeat center;
    margin: 0 1vw;
}
.text_wrap > div:nth-child(4) span{
    width: 21.4vw;
    background: url(https://images.unsplash.com/photo-1659998504891-6c2cad4a6bd1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80) no-repeat center;
}