:root {
    --blue: #0038e9;
}

#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

#header h1 {
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 300;
}

#header h1 span {
    font-weight: 800;
}

#header nav {
    width: 100px;
    height: 100px;
    background-color: var(--blue);
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    color: #fff;
    font-family: "Poppins";
    text-transform: uppercase;
    font-weight: 300;
}

#section1 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--blue);
}

#section1 .text > div:nth-child(1) {
    font-family: "Thin";
    font-size: 11vw;
    line-height: 1;
    text-align: left;
    margin-left: -4vw;
}

#section1 .text > div:nth-child(2) {
    font-family: "SemiExtendedBlack";
    font-size: 13vw;
    line-height: 0.7;
}

#section1 .text > div:nth-child(3) {
    font-family: "CondensedRegular";
    font-size: 10vw;
    line-height: 1;
    text-align: right;
    margin-right: -6vw;
    margin-top: -1vw;
}

#section2 {
    width: 100%;
    height: 100vh;
    position: relative;
}

#section2 .circle {
    width: 30vw;
    height: 30vw;
    background-color: #0038e9;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

#section2 .circle.c1 {
    transform: translate(-150%, -100%);
}
#section2 .circle.c2 {
    transform: translate(150%, -100%);
}
#section2 .circle.c3 {
    transform: translate(-100%, -100%);
    width: 25vw;
    height: 25vw;
    background-color: #2052f5;
}
#section2 .circle.c4 {
    transform: translate(100%, -100%);
    width: 25vw;
    height: 25vw;
    background-color: #2052f5;
}
#section2 .circle.c5 {
    background: url(../img/face.jpg) no-repeat;
    background-size: cover;
}
#section2 .desc {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50%;
    transform: translate(-50%, 270%);
    font-family: "ChosunNm";
    text-align: center;
}

#section3 {
    width: 100%;
    height: 2000px;
    background-color: #000;
    position: relative;
    z-index: 2000;
}

.container {
    width: 1400px;
    margin: 100px auto;
}

#section1,
#section2,
#section3,
#section4 {
    display: none;
}

#section5 {
    width: 100%;
    height: 2000px;
    background-color: #fff;
}
.sec5__inner {
    /* background-color: #eaeaea; */
}
.sec5__inner .sub {
    font-family: "ChosunNm";
    position: relative;
    padding-left: 20px;
    margin-bottom: 20vh;
}
.dotWrap {
    position: relative;
}
.dot {
    position: absolute;
    left: 0;
    top: -5px;
    padding-left: 20px;
    display: inline-block;
}
.dot::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #0038e9;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: -6px;
}
.dot.w15::before {
    width: 15px;
    height: 15px;
}
.sec5__inner .article .imgWrap {
    width: 45%;
    aspect-ratio: 9/12;
    background-color: #000;
    position: relative;
    overflow: hidden;
}

.sec5__inner .article .imgWrap .img {
    position: absolute;
    left: -5%;
    top: -5%;
    width: 110%;
    height: 110%;
    background: url(../img/bg01.jpg) center center no-repeat;
}

.sec5__inner .article h3 {
    font-family: "IropkeBatang";
    color: #0038e9;
    font-size: 34px;
    margin-top: 30px;
    padding-left: 20px;
}
.sec5__inner .article p {
    font-family: "IropkeBatang";
    margin-top: 20px;
    color: #666;
    line-height: 1.6;
    padding-left: 20px;
}
.sec5__inner .article .link {
    padding-left: 20px;
    margin-top: 10px;
    font-family: "IropkeBatang";
}
.sec5__inner .article .link a {
    position: relative;
    margin-right: 30px;
}
.sec5__inner .article .link a::after {
    display: inline-block;
    content: "";
    width: 16px;
    height: 16px;
    background: url("../img/arrow.svg") no-repeat;
    background-size: cover;
    position: absolute;
    right: -20px;
    top: 2px;
    transition: all 0.3s;
}
.sec5__inner .article .link a:hover::after {
    transform: rotate(-45deg);
}
