:root {
    --blue: #0038e9;
}

#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

#header h1 {
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 300;
}

#header h1 span {
    font-weight: 800;
}

#header nav {
    width: 100px;
    height: 100px;
    background-color: var(--blue);
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    color: #fff;
    font-family: "Poppins";
    text-transform: uppercase;
    font-weight: 300;
}

#section1 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--blue);
}

#section1 .text > div:nth-child(1) {
    font-family: "Thin";
    font-size: 11vw;
    line-height: 1;
    text-align: left;
    margin-left: -4vw;
}

#section1 .text > div:nth-child(2) {
    font-family: "SemiExtendedBlack";
    font-size: 13vw;
    line-height: 0.7;
}

#section1 .text > div:nth-child(3) {
    font-family: "CondensedRegular";
    font-size: 10vw;
    line-height: 1;
    text-align: right;
    margin-right: -6vw;
    margin-top: -1vw;
}

#section2 {
    width: 100%;
    height: 100vh;
    position: relative;
}

#section2 .circle {
    width: 30vw;
    height: 30vw;
    background-color: #0038e9;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

#section2 .circle.c1 {
    transform: translate(-150%, -100%);
}
#section2 .circle.c2 {
    transform: translate(150%, -100%);
}
#section2 .circle.c3 {
    transform: translate(-100%, -100%);
    width: 25vw;
    height: 25vw;
    background-color: #2052f5;
}
#section2 .circle.c4 {
    transform: translate(100%, -100%);
    width: 25vw;
    height: 25vw;
    background-color: #2052f5;
}
#section2 .circle.c5 {
    background: url(../img/face.jpg) no-repeat;
    background-size: cover;
}
#section2 .desc {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50%;
    transform: translate(-50%, 270%);
    font-family: "ChosunNm";
    text-align: center;
}

#section3 {
    width: 100%;
    height: 2000px;
    background-color: #000;
    position: relative;
    z-index: 2000;
}
