@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

#section {
    background-color: #F2F0E7;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

#section .top {
    border-bottom: 1px solid #000;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

#section .top .logo {
    font-family: 'Abel';
    font-size: 16px;
}

#section .top .contact {
    font-family: 'Abel';
    font-size: 16px;
    background: #000;
    color: #fff;
    padding: 0 10px 0 40px;
}

#section .left {
    border-right: 1px solid #000;
    width: 300px;
    height: 100vh;
}

#section .left .title {
    border-bottom: 1px solid #000;
    text-align: center;
    font-family: "PartizenoRegular";
    font-size: 50px;
    padding: 2vh 0;
    line-height: 1;
}

#section .left .title span {
    font-family: 'Cara';
    display: block;
    font-size: 20px;
    line-height: 0.7;
}

#section .left .nav {
    font-family: 'Abel';
    padding: 15%;
}

#section .left .nav ul {
    margin-bottom: 10px;
}

#section .left .nav ul ul {
    padding-left: 30px;
}

#section .left .nav a {
    position: relative;
}

#section .left .nav a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: #000;
    transition: width 0.5s;
}

#section .left .nav a:hover::before {
    width: 100%;
}


#section .content {
    width: calc(100% - 300px);
    height: 100vh;
}

#section .content .cont-header {
    text-align: center;
    background-color: #F2F0E7;

}

#section .content .cont-header h2 {
    font-family: "PartizenoRegular";
    font-size: 50px;
    line-height: 1;
    padding: 2vh 0;
    border-bottom: 1px solid #000;
}

#section .content .cont-header h2 span {
    font-family: 'Cara';
    display: block;
    font-size: 20px;
    line-height: 0.7;
}

#section .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 70px);
    background:
        radial-gradient(black 3px, transparent 4px),
        radial-gradient(black 3px, transparent 4px),
        linear-gradient(#F2F0E7 4px, transparent 0),
        linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
        linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
        #F2F0E7;
    background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

#section .content .cont-conts {
    display: flex;
    justify-content: center;
    padding: 5%
}

#section .content .cont-conts .circle1 {
    width: 34vw;
    height: 34vw;
    border: 1px solid #000;
    border-radius: 50%;
    margin-right: -2vw;
    background-color: #F2F0E7;
    position: relative;
}

#section .content .cont-conts .circle1 .circle1-1 {
    width: 30vw;
    height: 30vw;
    border: 1px solid #000;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url(https://images.unsplash.com/photo-1541823709867-1b206113eafd?q=80&w=3414&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
}

#section .content .cont-conts .circle1 .circle1-1 .circle1-1-1 {
    width: 28vw;
    height: 28vw;
    /* border: 1px solid #fff; */
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* background-color: #0000005c;
    backdrop-filter: blur(4px); */
}

#section .content .cont-conts .circle2 {
    width: 34vw;
    height: 34vw;
    border: 1px solid #000;
    border-radius: 50%;
    margin-left: -2vw;
    background-color: #F2F0E7;
    position: relative;
}

#section .content .cont-conts .circle2 .circle2-1 {
    width: 30vw;
    height: 30vw;
    border: 1px solid #000;
    border-radius: 50%;
    position: absolute;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#section .content .cont-conts .circle2 .circle2-1 .circle2-1-1 {
    width: 25vw;
    height: 25vw;
    border: 1px solid #000;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

#section .content .cont-footer {
    height: 100px;
    border-top: 1px solid #000;
    background-color: #F2F0E7;

}

@media (max-width: 1000px) {
    #section .left {
        display: none;
    }

    #section .content {
        width: 100%;
    }

    #section .content .cont-conts {
        padding: 0;
    }

    #section .content .cont-conts .circle1 {
        width: 50vw;
        height: 50vw;
    }

    #section .content .cont-conts .circle2 {
        width: 50vw;
        height: 50vw;
    }

    #section .content .cont-conts .circle2 .circle2-1 {
        width: 45vw;
        height: 45vw;
    }

    #section .content .cont-conts .circle2 .circle2-1 .circle2-1-1 {
        width: 40vw;
        height: 40vw;
    }
}



.cont-conts.over {
    height: 100%;
    overflow-y: scroll;
}

.port__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.port__wrap .port {
    width: 32%;
    height: 450px;
    background-color: #F2F0E7;
    border: 1px solid #000;
    margin-bottom: 2%;
    overflow: hidden;
}

.port__wrap .port .num {
    border-bottom: 1px solid #000;
    display: block;
    text-align: center;
    padding: 10px;
}

.port__wrap .port .title {
    border-bottom: 1px solid #000;
    text-align: center;
    font-family: 'Abel';
    font-weight: bold;
    padding: 5px;
    background-color: #554c4c;
    color: #fff;
}

.port__wrap .port .desc1 {
    display: block;
    border-bottom: 1px solid #000;
    text-align: center;
}

.port__wrap .port .desc2 {
    display: block;
    border-bottom: 1px solid #000;
    text-align: center;
}

.port__wrap .port .img {
    width: 100%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1461749280684-dccba630e2f6?q=80&w=2938&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center center;
}

.port__wrap .port:nth-child(2) .img {
    background-image: url(https://images.unsplash.com/photo-1502945015378-0e284ca1a5be?q=80&w=3540&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.port__wrap .port:nth-child(3) .img {
    background-image: url(https://images.unsplash.com/photo-1499750310107-5fef28a66643?q=80&w=3540&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.port__wrap .port:nth-child(4) .img {
    background-image: url(https://images.unsplash.com/reserve/LJIZlzHgQ7WPSh5KVTCB_Typewriter.jpg?q=80&w=3396&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.port__wrap .port:nth-child(5) .img {
    background-image: url(https://images.unsplash.com/photo-1591013078076-42ae16047f45?q=80&w=3570&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}



.port__view {
    display: flex;
}

.port__view .aaa {
    width: 30vw;
    height: 30vw;
    border: 1px solid #000;
    background-color: #F2F0E7;
    margin-top: 2vw;
    background-image: url(https://images.unsplash.com/photo-1591013078076-42ae16047f45?q=80&w=3570&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
}

.port__view .bbb {
    width: 35vw;
    height: 35vw;
    border: 1px solid #000;
    background-color: #F2F0E7;
    margin-left: -4vw;
    box-shadow: 0px 0px 20px #0000002d;
}

.port__view .bbb h3 {
    border-bottom: 2px double #000;
    font-family: "PartizenoRegular";
    text-align: center;
    line-height: 1;
    padding: 10px;
    font-size: 30px;
}

.port__view .bbb .desc {
    padding: 20px;
    overflow-y: scroll;
    height: calc(100% - 60px);
}

.port__view .bbb span {
    font-family: "Abel", "IropkeBatang";
    display: block;
}

.port__view .bbb span em {
    font-weight: bold;
}

.port__view .bbb p {
    margin-top: 5px;
    font-family: "Abel", "IropkeBatang";
}

.port__view .bbb p em {
    font-weight: bold;

}

.port__view .bbb .btn {
    text-align: center;
}

.port__view .bbb .btn a {
    border: 1px double #000;
    padding: 5px 40px;
    border-radius: 50px;
    display: inline-block;
    background-color: #000;
    color: #F2F0E7;
    font-family: 'IropkeBatang';
    margin-top: 20px;
    margin-bottom: 30px;
    cursor: pointer;
}