.scroll {
    position: fixed;
    left: 20px;
    top: 20px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'GmarketSans';
    z-index: 20000;
    font-weight: 700;
}
.scroll.s1 {
    left: auto;
    right: 20px;
}
.scroll.s2 {
    top: auto;
    bottom: 20px;
    right: 20px;
}
.scroll.s3 {
    left: auto;
    top: auto;
    right: 20px;
    bottom: 20px;
}

/* header */
#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 20000;
    text-align: center;
}
#header h1 {
    font-size: 16px;
    padding: 20px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    font-family: 'GmarketSans';
}

/* section1 */
#section1 {
    height: 100vh;
    background: url(https://images.unsplash.com/photo-1543083115-638c32cd3d58?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80) center center;
    background-size: cover;
    position: relative;
    z-index: 10;
    background-blend-mode: hard-light;
    animation: hue-rotate 13s linear infinite;
}
@keyframes hue-rotate {
    from {
      -webkit-filter: hue-rotate(0);
      -moz-filter: hue-rotate(0);
      -ms-filter: hue-rotate(0);
      filter: hue-rotate(0);
    }
    to {
      -webkit-filter: hue-rotate(360deg);
      -moz-filter: hue-rotate(360deg);
      -ms-filter: hue-rotate(360deg);
      filter: hue-rotate(360deg);
    }
  }
#section1:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 1;
}
#section2 {
    height: 100vh;
    background: #000;
}

#sec1_bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
}
.sec1_text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: 'Orbitron';
    font-size: 8vw;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
    z-index: 100;
    pointer-events: none;
    text-shadow: 5px 9px 5px rgba(0, 0, 0, 0.1);
}
.sec1_text .t1 {
    color: #94FEEA;
}