#section1 {
    background-color: #00D675;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.left-img h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    font-size: 12vw;
    font-family: 'AmazoTrial-XCnBlkContrast';
    font-weight: 600;
    letter-spacing: -0.7vw;
    z-index: 100;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: #ccc;
    display: block;
}

.sec1-inner .left-img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 500px;
    height: 700px;
    background-image: url(../img/left-bg.svg);
    background-position: left -40px bottom -40px;
    background-repeat: no-repeat;
}

.sec1-inner .left-img .flower1 {
    background-image: url(../img/left-bg-flower1.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 140px;
    height: 300px;
    position: absolute;
    left: 133px;
    bottom: 281px;
}

.sec1-inner .left-img .flower2 {
    background-image: url(../img/left-bg-flower2.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 140px;
    height: 300px;
    position: absolute;
    left: 60px;
    bottom: 121px;
}

.sec1-inner .left-img .flower3 {
    background-image: url(../img/left-bg-flower3.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 140px;
    height: 300px;
    position: absolute;
    left: 190px;
    bottom: -100px;
    z-index: 100;
    animation: down 10s infinite;
    transform-origin: bottom center;
}

.sec1-inner .left-img .flower4 {
    background-image: url(../img/left-bg-flower4.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 120px;
    height: 300px;
    position: absolute;
    left: 40px;
    bottom: -30px;
    z-index: 101;

}

.sec1-inner .right-img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 40vw;
    height: 70vh;
}

@keyframes down {
    0% {
        transform: rotateZ(0);
    }

    50% {
        transform: rotateZ(5deg);
    }

    100% {
        transform: rotateZ(0);
    }
}