.titleWrap {
    text-align: center;
    padding: 3vw;
    position: relative;
    z-index: 1000;
}
.titleWrap h2 {
    font-family: "Playfair Display";
    font-weight: 900;
    font-size: 40px;
    line-height: 1;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.titleWrap p {
    font-family: "IropkeBatang";
    font-size: 15px;
}
.titleWrap .menu ul {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.titleWrap .menu li a {
    padding: 2px 14px;
    border: 1px dashed #000;
    border-radius: 50px;
    font-family: "Abel";
    margin: 2px;
    color: #333;
    text-transform: uppercase;
    font-size: 13px;
    transition: all 0.3s;
}
.titleWrap .menu li a:hover {
    background-color: #000;
    color: #fff;
}
.bottomWrap {
    position: absolute;
    left: 50%;
    bottom: 3vw;
    transform: translateX(-50%);
}
.bottomWrap h3 {
    font-family: "Bodoni Moda SC";
    font-weight: 900;
    font-size: 120px;
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: -0.3vw;
}

@media (max-width: 1730px) {
}
@media (max-width: 960px) {
    .bottomWrap h3 {
        font-size: 90px;
    }
}
@media (max-width: 768px) {
    .bottomWrap h3 {
        font-size: 70px;
    }
    .titleWrap {
        padding-top: 50px;
    }
    .titleWrap h2 {
        font-size: 34px;
    }
    .bottomWrap {
        bottom: 30px;
    }
}
@media (max-width: 600px) {
    .bottomWrap h3 {
        font-size: 40px;
    }
    .titleWrap p br {
        display: none;
    }
}
@media (max-width: 400px) {
}

svg {
    width: 100%;
}
.abs {
    position: absolute;
}

p {
    word-break: keep-all;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    height: 100vh;
    position: relative;
}

/* #section1 : home */
#section1 {
    background-color: #00d675;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.SsvgWrap .svg1 {
    width: 700px;
    right: 5%;
    bottom: -3%;
}

.SsvgWrap .svg2 {
    width: 180px;
    left: 5%;
    top: 30%;
    transform: rotateY(180deg);
}

@media (max-width: 1730px) {
    .SsvgWrap .svg1 {
        width: 600px;
        right: 5%;
        bottom: -3%;
    }
    .SsvgWrap .svg2 {
        width: 160px;
        left: 10%;
        top: 30%;
    }
}

@media (max-width: 960px) {
    .SsvgWrap .svg1 {
        width: 500px;
        right: 5%;
        bottom: 3%;
    }
    .SsvgWrap .svg2 {
        width: 140px;
        left: 15%;
        top: 30%;
    }
}

@media (max-width: 768px) {
    .SsvgWrap .svg1 {
        width: 400px;
        right: 5%;
        bottom: 15%;
    }
    .SsvgWrap .svg2 {
        width: 120px;
        left: 15%;
        top: 30%;
    }
}

@media (max-width: 600px) {
    .SsvgWrap .svg1 {
        width: 400px;
        bottom: 5%;
    }
    .SsvgWrap .svg2 {
        width: 120px;
        left: 15%;
        top: 40%;
    }
}

@media (max-width: 400px) {
    .SsvgWrap .svg1 {
        width: 300px;
        bottom: 5%;
    }
    .SsvgWrap .svg2 {
        width: 100px;
        left: 15%;
        top: 40%;
    }
}

/* #section2 */
#section2 {
    background-color: #ffec2d;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

/* #section3 */
#section3 {
    background-color: #ff6a37;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

/* #section4 : project */
#section4 {
    background-color: #2cbffe;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.PsvgWrap .svg1 {
    width: 420px;
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translatex(-50%);
}
