.scroll {
    position: fixed;
    right: 20px;
    top: 10px;  
    color: #fff;
    font-family: 'Abel';
    z-index: 10000;
    font-size: 20px;
}

/* header */
#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    padding: 10px 20px;
}
#header h1 {
    color: #fff;
    font-family: 'Abel';
}
#header nav {
    display: none;
}

/* section1 */
.sec1-1 {
    height: 70vh;
    min-height: 600px;
    background: #000;
    position: relative;
}
.sec1_bg {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.sec1_title {
    position: absolute;
    z-index: 20;
    left: 10vw; top: 14vw;
    color: #fff;
    font-size: 6vmax;
    font-family: "Gilroy";
    text-transform: uppercase;
    line-height: 1;
}
.sec1_title .t1 {
    font-family: "Gilroy Semi-Bold";
}
.sec1_line {
    display: flex;
    height: 100%;
    position: relative;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 20;
}
.sec1_line span {
    margin-left: 20%;
    display: inline-block;
    width: 1px;
    height: 100%;
    background: rgb(255,255,255);
    opacity: 0.2;
}
.sec1_line span.line-last {
    position: absolute;
    left: 0; bottom: 0;
    width: 100%;
    height: 1px;
    background: rgb(255,255,255);
    opacity: 0.2;
    margin-left: 0;
}


/* section2 */
.sec1-2 {
    background: #000;
    padding-bottom: 600px;
    position: relative;
}
.sec1-2::after {
    content: '';
    width: 100%;
    height: 300px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
}
.sec2_tit {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.sec2_tit span {
    color: #fff;
    padding: 3vw;
    letter-spacing: 0.3vw;
    font-family: 'Abel';
    text-transform: uppercase;
}
.sec2_img {
    height: 400px;
    background: url(https://images.unsplash.com/photo-1652547507341-74aaa91ae783?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.sec2_img .bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    /* backdrop-filter: blur(20px); */
}

.sec2_about {
    border-top: 1px solid rgba(255,255,255,0.2);
    margin-top: 200px;
}   
.sec2_about > .title {
    color: #fff;
    font-size: 6vmax;
    text-transform: uppercase;
    line-height: 1;
    text-align: right;
    padding: 10vw;
}
.sec2_about .title > div:first-child {
    font-family: "Gilroy Semi-Bold";
}
.sec2_about .title > div:last-child {
    font-family: "Gilroy";
    font-size: 0.7em;
}

.sec2_intro {
    display: flex;
    border-top: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2)
}
.sec2_intro > div {
    width: 20%;
    border-right: 1px solid rgba(255,255,255,0.2)
}
.sec2_intro > div span {
    color: #fff;
}
.sec2_intro > div p {
    color: #fff;
}
.sec2_intro > div:last-child {
    border-right: 0;
}
.sec2_intro .img_wrap {
    width: 40%;
}
.sec2_intro .img_wrap .img {
    background: url(https://kimhyunwoo72.github.io/webs_class/portfolio/assets/img/about01.jpg) no-repeat center center;
    height: 600px;
    background-size: cover;
}
.sec2_wrap {
    border-top: 1px solid rgba(0,0,0,0.2);
}
.sec2_title {
    position: absolute;
    left: 0; top: 0;
    font-size: 6vmax;
    line-height: 1;
    text-transform: uppercase;
    z-index: 1000;
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 100%;
    padding: 2vw;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    background: #fff;
}
.sec2_title .left {
    width: 40vw;
}
.sec2_title .right {
    font-size: 18px;
    line-height: 1.4;
    width: 25vw;
    font-family: 'IropkeBatang';
    padding-bottom: 0.5vw;
}
.sec2_title .left > div:first-child {
    font-family: "Gilroy Semi-Bold";
}
.sec2_title .left > div:last-child {
    font-family: "Gilroy";
    font-size: 0.7em;
}

/* section2 */
#section2 {
    height: 100vh;
    overflow: hidden;
    display: flex;
    left: 0;
}
.sec2_wrap {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.sec2_wrap > div {
    min-width: 100vw;
}
.sec2-1 {
    height: 71vh;
    margin-top: 29vh;
    display: flex;
    justify-content: space-between;
} 
.sec2-1 .left {
    width: 30%;
    height: 100%;
    border-right: 1px solid rgba(0,0,0,0.2);
    padding: 3vw;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
.sec2-1 .left .top {
    width: 100%;
    letter-spacing: 0.5vw;
    font-family: "Gilroy";
    text-transform: uppercase;
    font-size: 16px;
}
.sec2-1 .left .bom {
    width: 100%;
    font-family: 'IropkeBatang';
}
.sec2-1 .right {
    width: 70%;
    height: 100%;
    border-right: 1px solid rgba(0,0,0,0.2);
    padding: 3vw;
}
.sec2-1 .right .iframe {
    width: 100%;
    height: 100%;
    background: #000;
}



.sec2-2 {background-color: #b9b3a9;} 
.sec2-3 {background-color: #51442b;} 


#section3 {
    height: 4000px;
}