body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #000;
}
#header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2000;
    width: 100%;
    background-color: #00000083;
    backdrop-filter: blur(16px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header h1 {
    color: #fff;
    font-size: 12px;
    padding: 12px 20px 12px 30px;
    font-family: "GmarketSans";
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}

#header h1::before {
    content: "";
    width: 14px;
    height: 14px;
    background-image: url(../img/star.svg);
    background-size: cover;
    position: absolute;
    left: 10px;
    top: 12px;
}

#header .time {
    color: #fff;
    padding-right: 20px;
    font-size: 14px;
    color: #cccccc;
    font-family: "GmarketSans";
}

#header .time em {
    font-weight: bold;
}

#header .login {
    border: 1px solid #ffffff66;
    font-size: 12px;
    padding: 2px 10px;
    border-radius: 30px;
    color: #ffffff74;
    font-family: "GmarketSans";
    text-transform: lowercase;
    font-weight: 400;
    margin-left: 10px;
}

#mainIntro {
    width: 100%;
    height: 100vh;
    /* background-image: url(../img/bg1.jpg);
    background-position: center center; */
    background-size: cover;
    position: relative;
    z-index: 2;
}

#mainIntro::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00000021;
    z-index: -1;
}

#mainIntro .videoBG {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    position: absolute;
}

.about {
    padding-top: 60px;
    padding-left: 20px;
    color: #fff;
    font-family: "eulyoo1945";
    color: #c0c0c0;
    line-height: 1.5;
    font-size: 14px;
}

.about p {
    width: fit-content;
    padding: 1rem;
    border-radius: 10px;
    transition: all 0.3s;
}

/* .about p:hover,
.about p.hover {
    cursor: pointer;
    background-color: #00000083;
    backdrop-filter: blur(16px);
    transition: all 0.3s;
    color: #e8e8e8;
} */

.about p span {
    display: inline-block;
    font-weight: bold;
}

.about p em {
    position: absolute;
    right: -9px;
    top: -9px;
    width: 23px;
    height: 23px;
    background-image: url("../img/close.svg");
    background-size: cover;
}

.about h1 {
    padding: 1rem;
    font-family: "NeoGeoTrial-Regular";
    font-family: "NeoGeoTrial-ExtraLight";
    font-family: "NeoGeoTrial-Book";
    font-family: "NeoGeoTrial-Bold";
    font-family: "NeoGeoTrial-Medium";
    font-family: "NeoGeoTrial-Thin";
    font-size: 180px;
    line-height: 1;
    text-transform: uppercase;
    padding-top: 0;
}

.footer__info {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    width: 560px;
    background-color: #00000083;
    backdrop-filter: blur(16px);
    text-align: center;
    padding: 5px 0;
    border-radius: 50px;
}

.footer__info .menu ul {
    display: flex;
    align-items: start;
    justify-content: center;
}

.footer__info .menu li {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #ccc;
    border-radius: 15px;
    margin: 5px;
    background-color: #0000007d;
    background-size: cover;
    background-position: center;
    color: #fff;
}

.footer__info .menu li:nth-child(1) {
    background-image: url(../img/jin.jpg);
    background-position: center top 0px;
    background-repeat: no-repeat;
    border-radius: 35px;
    transition: all 0.3s;
}

.footer__info .menu li:nth-child(2) {
    background-image: url(../img/youtube.png);
    background-position: center top 0px;
    background-repeat: no-repeat;
    border-radius: 35px;
    transition: all 0.3s;
}

.footer__info .menu li:nth-child(1):hover {
    border-radius: 15px;
}

.layer {
    width: 80vw;
    height: 86vh;
    position: absolute;
    z-index: 10000;
    left: 50%;
    transform: translatex(-50%);
    bottom: 80px;
    border-radius: 1px;
    color: #fff;
    font-family: "nanumSquareNeo";
    transition: all 0.3s ease-out;
}

.layer.op0 {
    visibility: hidden;
    opacity: 0;
}

.layer.show {
    visibility: visible;
    opacity: 1;
    bottom: 120px;
}

.layer__contents {
    background-color: #223167a8;
    backdrop-filter: blur(30px);
    height: calc(100% - 60px);
    border-radius: 10px 10px 0 0;
    padding: 5%;
    overflow-y: scroll;
    position: relative;
}

.layer__contents .head {
    display: flex;
}

.layer__contents .head .face {
    width: 180px;
    height: 240px;
    margin-right: 20px;
    background-image: url(../img/nib.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.layer__footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #22316767;
    backdrop-filter: blur(10px);
    color: #fff;
    padding: 19px;
    font-family: "nanumSquareNeo";
    border-radius: 0 0 10px 10px;
}

.layer__footer .ment {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.layer__footer .close {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 23px;
    height: 23px;
    background-image: url("../img/close.svg");
    background-size: cover;
    cursor: pointer;
}

.portlayer {
    width: 750px;
    height: 600px;
    position: absolute;
    z-index: 10000;
    left: 50%;
    transform: translatex(-50%);
    bottom: 80px;
    color: #fff;
    font-family: "nanumSquareNeo";
    transition: all 0.3s ease-out;
}
.portlayer .port {
    background-color: #223167a8;
    backdrop-filter: blur(30px);
    height: calc(100% - 60px);
    border-radius: 10px;
    overflow-y: scroll;
    display: flex;
}

.portlayer .port .c1 {
    width: 250px;
    height: 100%;
}
.portlayer .port .c1 .dot {
    background-color: red;
    position: absolute;
    left: 20px;
    top: 20px;
    width: 14px;
    height: 14px;
    border-radius: 50px;
    z-index: 1000;
}
.portlayer .port .c1 nav ul {
    padding: 50px 40px 40px 40px;
}
.portlayer .port .c1 nav li {
    font-family: "nanumSquareNeo";
    font-size: 16px;
    text-transform: capitalize;
    padding: 3px 0;
}
.portlayer .port .c1 nav li input {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 2px;
    margin-right: 5px;
}
.portlayer .port .c2 {
    width: 500px;
    height: 100%;
}

.portlayer .port .c2 .title {
    width: 100%;
    padding: 14px 20px 12px;
    background-color: #ffffff08;
}

.portlayer .port .c2 .cont {
    display: flex;
    height: calc(100% - 40px);
}
.portlayer .port .c2 .cont .left {
    width: 50%;
    height: 100%;
    background-color: #0000002e;
}
.portlayer .port .c2 .cont .left li {
    background-color: #ffffff0a;
    padding: 7px 14px 5px;
    font-size: 14px;
}
.portlayer .port .c2 .cont .left li:nth-child(even) {
    background-color: #00000048;
    backdrop-filter: blur(5px);
}
.portlayer .port .c2 .cont .right {
    width: 50%;
}

.portlayer .port .c2 .cont .right .img {
    border: 1px solid #cccccc2d;
    height: 160px;
    margin: 10px;
    background-image: url(../img/KIM_FOX01.png);
    background-position: center top -50px;
    background-size: 200%;
    background-repeat: no-repeat;
}
.portlayer .port .c2 .cont .right p {
    margin: 10px;
    font-size: 14px;
}
.portlayer .port .c2 .cont .right a {
    font-size: 14px;
    text-align: center;
    border: 1px solid #cccccc2d;
    padding: 7px;
    width: 30px;
    height: 30px;
}
.portlayer .port .c2 .cont .right .detail {
    width: 30px;
    height: 30px;
    display: block;
    border-radius: 50%;
    margin: auto;
}
.portlayer .port .c2 .cont .right .detail img {
    width: 100%;
    height: 100%;
}

/* youtube */
.youtube h3 {
    margin-bottom: 5px;
    font-size: 25px;
}

.youtube .small {
    font-size: 16px;
}

.youtube .small em {
    font-size: 13px;
    line-height: 1.5;
    opacity: 0.8;
    padding-left: 10px;
}

.youtube .mail {
    display: block;
    font-size: 12px;
    margin-top: 30px;
    position: relative;
    color: #c9c9c9;
}

.youtube .mail::before {
    content: "";
    width: 50px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: -16px;
}

.youtube .info {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 40px;
}

.youtube .info::after {
    content: "";
    width: 1px;
    height: 13px;
    background-color: #78828a44;
    position: absolute;
    left: 217px;
    top: 13px;
}

.youtube .info li {
    display: inline-block;
    color: #a7b7c4;
    padding: 5px 20px;
}

.youtube .info li.active {
    background-color: #ffffff20;
    border-radius: 40px;
    color: #fff;
}

.youtube .info li:first-child {
    color: #bcbdbe;
}

.youtube .info input {
    border: 1px solid #ffffff58;
    background-color: #78828a0a;
    backdrop-filter: blur(20px);
    padding: 8px 16px;
    border-radius: 100px;
    outline: none;
    color: #fff;
    margin-right: 36px;
    font-size: 14px;
}

.youtube .info input::placeholder {
    color: #fff;
    font-size: 14px;
}

.youtube .view {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
    margin-top: 30px;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.youtube .view > div {
    /* width: 32.333%; */
    margin-bottom: 2%;
    border-radius: 10px;
    overflow: hidden;
}

.youtube .view > div .img {
    width: 100%;
    padding-bottom: 56.25%;
}

.youtube .view > div .img {
    background-image: url(https://i.ytimg.com/vi/lkIFF4maKMU/hqdefault.jpg);
    background-position: center center;
    background-size: cover;
}

.youtube .view > div:nth-child(2) .img {
    background-image: url(https://i.ytimg.com/vi/k3hKLd7vYZ8/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBMdjxFQkiCgZtO_ycHMemaIfLNVw);
    background-position: center center;
    background-size: cover;
}

.youtube .view > div:nth-child(3) .img {
    background-image: url(https://i.ytimg.com/vi/ame1fRO7--4/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBL3owYZZQKQLQ4bBfv1_7l2ssV0g);
    background-position: center center;
    background-size: cover;
}

.youtube .view > div:nth-child(4) .img {
    background-image: url(https://i.ytimg.com/vi/k3hKLd7vYZ8/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBMdjxFQkiCgZtO_ycHMemaIfLNVw);
    background-position: center center;
    background-size: cover;
}

.youtube .view > div:nth-child(5) .img {
    background-image: url(https://i.ytimg.com/vi/k3hKLd7vYZ8/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBMdjxFQkiCgZtO_ycHMemaIfLNVw);
    background-position: center center;
    background-size: cover;
}

.youtube .view > div .title {
    background-color: #ffffff23;
    padding: 10px 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.layer.react .layer__contents h3 {
    margin-bottom: 5px;
    font-size: 25px;
}

.layer.react .layer__contents h4 {
    margin-bottom: 10px;
    font-size: 26px;
    margin-top: 20px;
}

.layer.react .layer__contents p {
    margin-bottom: 10px;
}

.layer.react .layer__contents .mail {
    display: block;
    font-size: 12px;
    margin-top: 30px;
    position: relative;
    color: #c9c9c9;
}

.layer.react .layer__contents .mail::before {
    content: "";
    width: 50px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: -16px;
}

.layer.react .layer__contents .img {
    overflow: hidden;
    padding: 10px;
    background-color: #00000049;
    margin-bottom: 20px;
}

.layer.react .layer__footer {
    display: flex;
    justify-content: space-between;
}

.layer.react .layer__footer span {
    display: inline-block;
    background-color: #fff;
    color: #000;
    padding: 1px 20px;
    border-radius: 40px;
}

/* layout - about */
.aboutLayer h3 {
    margin-bottom: 5px;
    font-size: 25px;
}

.aboutLayer .small {
    font-size: 16px;
}

.aboutLayer .mail {
    display: block;
    font-size: 12px;
    margin-top: 30px;
    position: relative;
    color: #c9c9c9;
}

.aboutLayer .mail::before {
    content: "";
    width: 50px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: -16px;
}

.aboutLayer .intro1 {
    margin-top: 30px;
    font-size: 18px;
    line-height: 1.5;
    word-break: keep-all;
}

.aboutLayer .intro2 {
    margin-top: 20px;
    font-size: 13px;
    line-height: 1.5;
    opacity: 0.8;
}

.aboutLayer .list {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.aboutLayer .list dl {
    width: 48.5%;
}

.aboutLayer .list dt {
    border-bottom: 1px solid #fff;
    padding: 5px 0;
    margin-bottom: 10px;
}

.aboutLayer .list dd {
    padding: 1px 0;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: justify;
}

.aboutLayer .list dd em {
    text-decoration: underline;
    text-underline-position: under;
    display: block;
    margin-bottom: 4px;
}

.aboutLayer .me {
    position: absolute;
    right: 5%;
    top: 5%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    display: none;
}

@media (max-width: 800px) {
    .aboutLayer .list dl {
        width: 100%;
    }
}

.wallpapers .introIcon {
    width: 75px;
    height: 75px;
    position: absolute;
    left: 20px;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.wallpapers .introIcon img {
    width: 40px;
    border-radius: 50%;
}

.wallpapers .introIcon span {
    display: block;
    font-size: 12px;
    color: #fff;
    margin-top: 10px;
    font-family: "nanumSquareNeo";
}

.wallpapers .youtubeIcon {
    width: 75px;
    height: 75px;
    position: absolute;
    left: 20px;
    top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.wallpapers .youtubeIcon img {
    width: 40px;
}

.wallpapers .youtubeIcon span {
    display: block;
    font-size: 12px;
    color: #fff;
    margin-top: 10px;
    font-family: "nanumSquareNeo";
}

.wallpapers .movieIcon {
    width: 75px;
    height: 75px;
    position: absolute;
    left: 20px;
    top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.wallpapers .movieIcon img {
    width: 40px;
}

.wallpapers .movieIcon span {
    display: block;
    font-size: 12px;
    color: #fff;
    margin-top: 10px;
    font-family: "nanumSquareNeo";
}

.wallpapers .reactIcon {
    width: 75px;
    height: 75px;
    position: absolute;
    left: 20px;
    top: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.wallpapers .reactIcon img {
    width: 40px;
}

.wallpapers .reactIcon span {
    display: block;
    font-size: 12px;
    color: #fff;
    margin-top: 10px;
    font-family: "nanumSquareNeo";
}

.wallpapers .vueIcon {
    width: 75px;
    height: 75px;
    position: absolute;
    left: 20px;
    top: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.wallpapers .vueIcon img {
    width: 40px;
}

.wallpapers .vueIcon span {
    display: block;
    font-size: 12px;
    color: #fff;
    margin-top: 10px;
    font-family: "nanumSquareNeo";
}

.wallpapers .viteIcon {
    width: 75px;
    height: 75px;
    position: absolute;
    left: 20px;
    top: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.wallpapers .viteIcon img {
    width: 40px;
}

.wallpapers .viteIcon span {
    display: block;
    font-size: 12px;
    color: #fff;
    margin-top: 10px;
    font-family: "nanumSquareNeo";
}

/* portLayer 공통요소 */
.portLayer {
    width: 80vw;
    height: 80vh;
    position: absolute;
    left: 50%;
    top: calc(50% - 30px);
    transform: translate(-50%, -50%);
}

.portLayer__contents {
    background-color: #0f1735a8;
    backdrop-filter: blur(30px);
    height: 100%;
    border-radius: 20px;
}

.youtubeLayer {
    color: #fff;
}

.youtubeLayer .portLayer__contents {
    padding: 5%;
}

.youtubeLayer .portLayer__contents h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.youtubeLayer .portLayer__contents .info {
    display: flex;
    align-items: center;
    position: relative;
}

.youtubeLayer .portLayer__contents .info::after {
    content: "";
    width: 1px;
    height: 13px;
    background-color: #78828a44;
    position: absolute;
    left: 235px;
    top: 17px;
}

.youtubeLayer .portLayer__contents .info li {
    display: inline-block;
    color: #78828a;
    padding: 5px 10px;
}

.youtubeLayer .portLayer__contents .info li:first-child {
    color: #bcbdbe;
}

.youtubeLayer .portLayer__contents .info input {
    border: 1px solid rgba(37, 30, 77, 0.671);
    background-color: #78828a0a;
    backdrop-filter: blur(20px);
    padding: 10px 16px;
    border-radius: 100px;
    outline: none;
    color: #fff;
    margin-right: 36px;
}

#loading {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 20000;
    transform: translate(-50%, -50%);
}

#loading .loader {
    position: relative;
    width: 40px;
    margin: auto;
}

#loading .text {
    color: #fff;
    margin-top: 60px;
    font-family: "nanumSquareNeo";
    text-align: center;
}

#loading .text span {
    opacity: 0.5;
    padding-top: 5px;
    display: inline-block;
}

#loading .loader .circle {
    position: absolute;
    width: 38px;
    height: 38px;
    opacity: 0;
    transform: rotate(225deg);
    animation-iteration-count: infinite;
    animation-name: orbit;
    animation-duration: 5.5s;
}

#loading .loader .circle:after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background: #fff;
    /* Pick a color */
}

#loading .loader .circle:nth-child(2) {
    animation-delay: 240ms;
}

#loading .loader .circle:nth-child(3) {
    animation-delay: 480ms;
}

#loading .loader .circle:nth-child(4) {
    animation-delay: 720ms;
}

#loading .loader .circle:nth-child(5) {
    animation-delay: 960ms;
}

@keyframes orbit {
    0% {
        transform: rotate(225deg);
        opacity: 1;
        animation-timing-function: ease-out;
    }

    7% {
        transform: rotate(345deg);
        animation-timing-function: linear;
    }

    30% {
        transform: rotate(455deg);
        animation-timing-function: ease-in-out;
    }

    39% {
        transform: rotate(690deg);
        animation-timing-function: linear;
    }

    70% {
        transform: rotate(815deg);
        opacity: 1;
        animation-timing-function: ease-out;
    }

    75% {
        transform: rotate(945deg);
        animation-timing-function: ease-out;
    }

    76% {
        transform: rotate(945deg);
        opacity: 0;
    }

    100% {
        transform: rotate(945deg);
        opacity: 0;
    }
}

@media (max-width: 800px) {
    .layer {
        width: 94vw;
        height: 90vh;
    }
}

@media (max-width: 600px) {
    .layer {
        width: 94vw;
        height: 90vh;
    }
}

.youLayer {
    width: 400px;
    background-color: #747474;
    position: absolute;
    right: 10px;
    top: 40px;
    z-index: 10000;
    background-color: #223167a8;
    backdrop-filter: blur(30px);
    border-radius: 10px;
    overflow: hidden;
}
.youLayer .title .close {
    position: absolute;
    left: 12px;
    top: 10px;
    width: 12px;
    height: 12px;
    background-color: #f00;
    border-radius: 50%;
    /* background-image: url(../img/close2.svg); */
}
.youLayer .title h3 {
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 7px;
}
.youLayer .youtube {
    border-radius: 15px 15px 0 0;
    overflow: hidden;
}
.youLayer .youtube iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
    margin-bottom: -5px;
}

.music {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 400px;
    height: 500px;
    z-index: 1000;
    background-color: #00000083;
    backdrop-filter: blur(16px);
}

.theme-button {
    position: absolute;
    top: 12px;
    right: 12px;
    padding: 8px;
}

.theme-button-icon {
    display: none;
    width: 24px;
    height: 24px;
    fill: currentColor;
}
.dark .theme-button-icon.light {
    display: block;
}
body:not(.dark) .theme-button-icon.dark {
    display: block;
}

.music-player-container {
    --border-color: rgb(0 0 0 / 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 36px 20px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
}
.dark .music-player-container {
    --border-color: rgb(255 255 255 / 0.08);
}

.vinyl-wrapper {
    position: relative;
    --size: 160px;
    width: var(--size);
    height: var(--size);
}
.vinyl-wrapper.rotate {
    filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.1));
}

.vinyl {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-mask-image: radial-gradient(#fff, #fff), radial-gradient(#fff 2.4%, transparent 0);
    mask-image: radial-gradient(#fff, #fff), radial-gradient(#fff 2.4%, transparent 0);
    -webkit-mask-composite: xor;
    mask-composite: substract;
    -webkit-mask-position: 50% 50%;
    mask-position: 50% 50%;
    -webkit-mask-size: 100% 100%, 0 0;
    mask-size: 100%, 0;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    transition: -webkit-mask-size 0.2s, mask-size 0.2s;
    transition-delay: 0s;
}
.vinyl-wrapper.rotate > .vinyl {
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    transition-delay: 0.2s;
}
.vinyl::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    transform: scale(0);
    background-image: conic-gradient(
            from 45deg,
            rgba(255, 255, 255, 0.1),
            transparent 6.25% 43.75%,
            rgba(255, 255, 255, 0.1) 50%,
            transparent 56.25% 93.75%,
            rgba(255, 255, 255, 0.1)
        ),
        radial-gradient(farthest-side, transparent 33%, rgba(255, 255, 255, 0.1) 33% calc(33% + 1px), transparent 0),
        radial-gradient(farthest-side, transparent 95%, #17151b 95% 100%),
        radial-gradient(
            farthest-side,
            rgba(255, 255, 255, 0.06) 40%,
            rgba(0, 0, 0, 0.1) 40% calc(40% + 1px),
            rgba(0, 0, 0, 0.1) calc(40% + 1px) 48%,
            rgba(255, 255, 255, 0.05) 48% calc(48% + 1px),
            transparent 0
        ),
        radial-gradient(
            farthest-side,
            transparent 64%,
            rgba(255, 255, 255, 0.006) 64% calc(64% + 1px),
            transparent calc(64% + 1px) 82%,
            rgba(255, 255, 255, 0.006) 82% calc(82% + 1px),
            transparent 0
        ),
        repeating-radial-gradient(farthest-side, rgba(255, 255, 255, 0.006) 0 1px, transparent 1px 2px),
        repeating-radial-gradient(farthest-side, rgba(255, 255, 255, 0.006) 0 1px, transparent 1px 5px),
        repeating-radial-gradient(farthest-side, #131118, #131118 12.5%);
    box-shadow: inset 0 0 0 1px #06040d, inset 0 0 0 2px #474649;
    transition: transform 0.4s;
}
.dark .vinyl::before {
    box-shadow: inset 0 0 0 1px #06040d, inset 0 0 0 2px #27262b;
}
.vinyl-wrapper.rotate > .vinyl::before {
    transform: scale(1);
    animation: rotate-shine 0.6s infinite alternate;
    animation-delay: 0.4s;
}

.vinyl::after {
    content: "";
    position: absolute;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    transform: rotate(0);
    background-image: url("https://assets.codepen.io/4175254/ymo.jpg");
    background-size: cover;
    image-rendering: crisp-edges;
    transition-property: border-radius, width, height;
    transition-duration: 0.4s;
}
.vinyl-wrapper.rotate > .vinyl::after {
    border-radius: 50%;
    width: 33%;
    height: 33%;
    animation: rotate 1.8s linear infinite;
}

@keyframes rotate-shine {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(2deg);
    }
}
@keyframes rotate {
    to {
        transform: rotate(1turn);
    }
}
.music-title {
    margin-top: 1em;
    margin-bottom: 0.25em;
    font-size: 1.125em;
    font-weight: 700;
}

.music-composer {
    margin-bottom: 1em;
    font-size: 0.75em;
    font-weight: 300;
}

.music-progress-container {
    display: flex;
    align-items: center;
    column-gap: 0.75em;
    font-size: 0.75em;
    font-feature-settings: "tnum";
    font-variant-numeric: tabular-nums;
}

.music-progress-input-container {
    position: relative;
    width: 200px;
    height: 24px;
}

.music-progress-input {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
.music-progress-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1px;
    height: 1px;
}
.music-progress-input::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1px;
    height: 1px;
}

.music-progress-input-visualizer {
    --color: #c9c9d0;
    width: 100%;
    height: 100%;
    fill: var(--color);
}
.dark .music-progress-input-visualizer {
    --color: rgb(255 255 255 / 0.1);
}

.music-progress-input-visualizer-bar {
    transition: height 0.2s, y 0.2s;
}
.music-progress-input-visualizer-bar.filled {
    fill: currentColor;
}

.music-controls-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
    width: 100%;
}

.play-button,
.music-controls-button {
    transition: transform 0.2s;
    transition-timing-function: cubic-bezier(0.65, 1.35, 0.5, 1);
}
.play-button:active,
.music-controls-button:active {
    transform: scale(0.86);
}

.music-controls-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.25em;
    height: 1.25em;
}

.music-controls-button-icon {
    width: 100%;
    height: 100%;
    fill: currentColor;
}
.music-controls-button.toggle:not(.active) > .music-controls-button-icon {
    fill: #c9c9d0;
}
.dark .music-controls-button.toggle:not(.active) > .music-controls-button-icon {
    fill: rgba(255, 255, 255, 0.1);
}

.play-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50%;
    padding: 12px;
    width: 2.5em;
    height: 2.5em;
    background-color: currentColor;
}

.play-button-icon {
    --icon-color: #fff;
    position: absolute;
    padding: inherit;
    width: 100%;
    height: 100%;
    fill: var(--icon-color);
    transition: transform 0.2s;
    transition-timing-function: cubic-bezier(0.65, 1.35, 0.5, 1);
    transition-delay: 0.1s;
}
.dark .play-button-icon {
    --icon-color: #0c041a;
}
.play-button.is-playing > .play-button-icon.play,
.play-button:not(.is-playing) > .play-button-icon.pause {
    transform: scale(0);
    transition-delay: 0s;
}
