@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@200;300;400;500;600;700&family=League+Gothic&display=swap');

#section {
    width: 100%;
    height: 100vh;
    background-color: #E0E1E3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#section .top {}

#section .top .title {
    font-family: 'League Gothic';
    font-size: 27vw;
    line-height: 0.8;
    letter-spacing: -1vw;
    padding: 1vw;
    overflow: hidden;
}

#section .top .desc {
    margin-left: auto;
    word-break: keep-all;
    font-family: 'IropkeBatang';
    text-align: right;
    margin-right: 2vw;
}

#section .bom {
    font-family: 'KoHo';
    font-size: 3vw;
    padding: 2vw;
}

#section .bom>div {
    margin-bottom: 1vw;
}

#section .bom>div:last-child {
    margin-bottom: 0;
}

#section .bom>div li {
    display: inline-block;
    padding-left: 10px;
}

#section .bom>div li a {
    position: relative;

}

#section .bom>div li a::before {
    content: 'project';
    color: #4c4c4c;
    font-size: 16px;
    vertical-align: 6px;
    padding-right: 10px;
}


.overlay {
    background: #000;
    width: 150vmax;
    height: 150vmax;
    pointer-events: none;
    will-change: transform;
    z-index: 3;
    position: fixed;
    top: calc(50% - 75vmax);
    left: calc(50% - 75vmax);
    background: 0 0;
    transform: rotate(45deg);
}

.overlay__inner {
    background: #000;
    width: 100%;
    height: 100%;
    position: relative;
}


.preview {
    height: 100vh;
    width: 100%;
    pointer-events: none;
    z-index: 4;
    color: #fff;
    display: grid;
    position: fixed;
    top: 0;
    left: 0;
}

.preview__item-title {
    color: #fff;
    grid-row: 1/span 4;
    will-change: transform;
    grid-area: title;
    place-self: center;
    margin: 0;
    padding-top: 1vw;
    font-family: kudryashev-d-excontrast-sans, sans-serif;
    font-size: clamp(3rem, 24vw, 17rem);
    font-weight: 300;
    line-height: 1;
    overflow: hidden;
}

.preview__item-title .oh__inner {
    display: inline-block;
}