/* layout */
#contents {}
#section1 {
    width: 100%;
    height: 100vh;
    background: #F4F3F3;
    position: relative;
}
#section2 {
    background: #ccc;
}
#section3 {
    background: #000;
}
#section4 {}
#section5 {}
#section6 {}


#canvas {
    position: absolute;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100vh;

}

/* header */
#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 10000;
}
#header h1 {
    font-family: 'GmarketSans';
    font-size: 34px;
    color: #344CA4;
    font-weight: 800;
    padding: 10px;
    padding-left: 0;
}
#header .nav {
    width: 60px;
    height: 34px;
    position: relative;
}
#header .nav span {
    display: block;
    width: 60px;
    height: 2px;
    background: #344CA4;
    position: absolute;
    top: 50%;
    margin-top: -1px;
}
#header .nav span::before {
    content: '';
    width: 60px;
    height: 2px;
    background: #344CA4;
    position: absolute;
    left: 0;
    top: 10px;
}
#header .nav span::after {
    content: '';
    width: 60px;
    height: 2px;
    background: #344CA4;
    position: absolute;
    left: 0;
    bottom: 10px;
}

/* section1 */
.sec1 {
    position: absolute;
    left: 0; 
    top: 0;
    width: 100%;
    z-index: 10000;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec1 .desc {
    font-size: 4vw;
    font-family: 'GmarketSans';
    font-weight: 300;
    padding-left: 2vw;
    color: #344CA4;
}
.sec1 .desc > div {
    display: inline-block;
    /* background: #EB5D62; */
    margin-bottom: 5px;
}
.sec1 .desc em {
    color: #EB5D62;
    font-weight: 500;
    display: inline-block;
}
.sec1 .desc i {
    display: inline-block;
    font-style: normal;
}
.sec1 .desc strong {
    position: relative;
    z-index: 2;
    color: #fff;
    font-weight: 300;
    display: inline-block;
    line-height: 1;
}
.sec1 .desc strong::before {
    content: '';
    position: absolute;
    left: 0; top: 0;
    height: 100%;
    width: 100%;
    background: #EB5D62;
    z-index: -1;
}

/* sec2 */
.sec2 {
    background: #ffcecf;
}
.sec2 .title {
    width: 100%;
    background-color: #ff4349;
    border-radius: 0 0 200px 200px;
    text-align: center;
    font-size: 4vw;
    font-family: 'GmarketSans';
    padding: 50px 100px;
    color: #fff;
    font-weight: 100;
    position: sticky;
    top: 0;
    transition: padding 1s ease-in, font-size 1s ease-in;
    z-index: 1000;
}
.sec2 .title.show {
    font-size: 2vw;
    padding: 20px 100px;
}
.sec2 .desc {
    text-align: center;
    width: 100%;
    background: #ffcecf;
    font-size: 4vw;
    font-family: 'GmarketSans';
    font-weight: 300;
    padding-left: 2vw;
    color: #344CA4;
    padding: 150px 0 200px 0;
}
.sec2 .desc span {
    width: 80px;
    height: 80px;
    display: inline-block;
    vertical-align: -18px;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
}
.sec2 .desc strong {
    color: #ff4349;
}
.sec2 .desc span.img1{
    background-image: url(https://images.unsplash.com/photo-1554151228-14d9def656e4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=986&q=80);
}
.sec2 .desc span.img2{
    background-image: url(https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80);
}
.sec2 .desc span.img3{
    background-image: url(https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=989&q=80);
}
.sec2 .img {
    width: 80%;
    margin: 0 auto;
    background: #ffcecf;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 400px;
}
.sec2 .img > div {
    width: 10vw;
    height: 32vw;
    background: #ffcecf;
    border-radius: 900px;
    transition: all 0.3s ease-in-out;
}

.sec2 .img .box1 {
    background-image:url(https://images.unsplash.com/photo-1554151228-14d9def656e4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=986&q=80);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}
.sec2 .img .box1::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0; top: 0;
    background: #ff4349;
    border-radius: 500px;
    transition: opacity 0.3s;
    opacity: 1;
}
.sec2 .img .box2 {
    background-image:url(https://images.unsplash.com/photo-1544005313-94ddf0286df2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=988&q=80);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}
.sec2 .img .box2::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0; top: 0;
    background: #0E2A93;
    border-radius: 500px;
    transition: opacity 0.3s;
    opacity: 1;
}
.sec2 .img > div:hover {
    width: 30vw;
}
.sec2 .img > div:hover::after {
    opacity: 0;
}

.sec2 .img .box3 {
    background-color: #fff537;
}
.sec2 .img .box4 {
    background: #0E2A93;
}
.sec2 .img .box5 {
    background: #ff4349;
}
.sec2 .img .box6 {
    background-color: #fff537;
}






/* sec3 */
.sec3 {
    height: 2000px;
    background: #d3dcfe;
}
.sec3 .title {
    width: 100%;
    background-color: #0E2A93;
    border-radius: 0 0 200px 200px;
    text-align: center;
    font-size: 4vw;
    font-family: 'GmarketSans';
    padding: 50px 100px;
    color: #fff;
    font-weight: 100;
    position: sticky;
    top: 0;
    transition: padding 1s ease-in, font-size 1s ease-in;
    z-index: 1000;
}
.sec3 .title.show {
    font-size: 2vw;
    padding: 20px 100px;
}
.sec3 .desc {
    width: 100%;
    background: #d3dcfe;
    text-align: center;
    font-size: 4vw;
    font-family: 'GmarketSans';
    font-weight: 300;
    padding-left: 2vw;
    color: #344CA4;
    padding: 20vw 0 200px 0;
}
.sec3 .desc em {
    position: relative;
    z-index: 1;
}
.sec3 .desc em::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    background: rgb(180, 180, 255);
    border-radius: 30px;
    z-index: -1;
    transition: all 0.3s;
}
.sec3 .desc em:hover::before {
    height: 50px;
}
.siteWrap {
    width: 90%;
    margin: 0 auto;
    padding-top: 200px;
}
.siteWrap .site {
    width: 100%;
    font-family: 'GmarketSans';
    border-radius: 50px;
    display: flex;
}
.siteWrap .site .left {
    width: 50%;
    height: 500px;
    background: #0E2A93;
    border-radius: 50px 0 0 50px;
    padding: 50px;
    color: #fff;
}
.siteWrap .site .left h3 {
    font-size: 70px;
    font-weight: 300;
}
.siteWrap .site .left p {
    font-size: 20px;
    padding-top: 50px;
    text-align: left;
}
.siteWrap .site .left .btn {
    margin-top: 50px;
}
.siteWrap .site .left .btn a {
    background: #fff;
    color: #0E2A93;
    display: inline-block;
    padding: 10px 40px;
    font-size: 18px;
    border-radius: 40px;
    margin-right: 10px;
}
.siteWrap .site .right {
    width: 50%;
    background: #0E2A93;
    border-radius: 0 50px 50px 0;
    position: relative;
}
.siteWrap .site .right .img {
    position: absolute;
    left: -3%; top: -30%;
    width: 95%;
}









body .textcontainer {
    padding: 40px 0;
    text-align: center;
  }
  body .particletext {
    text-align: center;
    position: relative;
  }
  body .particletext.bubbles > .particle {
    opacity: 0;
    position: absolute;
    background-color: rgba(33, 150, 243, 0.5);
    -webkit-animation: bubbles 3s ease-in infinite;
            animation: bubbles 3s ease-in infinite;
    border-radius: 100%;
  }
  body .particletext.hearts > .particle {
    opacity: 0;
    position: absolute;
    background-color: #cc2a5d;
    -webkit-animation: hearts 3s ease-in infinite;
            animation: hearts 3s ease-in infinite;
  }
  body .particletext.hearts > .particle:before, body .particletext.hearts > .particle:after {
    position: absolute;
    content: "";
    border-radius: 100px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #cc2a5d;
  }
  body .particletext.hearts > .particle:before {
    transform: translateX(-50%);
  }
  body .particletext.hearts > .particle:after {
    transform: translateY(-50%);
  }
  body .particletext.lines > .particle {
    position: absolute;
    background-color: rgba(244, 67, 54, 0.5);
    -webkit-animation: lines 3s linear infinite;
            animation: lines 3s linear infinite;
  }
  body .particletext.confetti > .particle {
    opacity: 0;
    position: absolute;
    -webkit-animation: confetti 3s ease-in infinite;
            animation: confetti 3s ease-in infinite;
  }
  body .particletext.confetti > .particle.c1 {
    background-color: rgba(76, 175, 80, 0.5);
  }
  body .particletext.confetti > .particle.c2 {
    background-color: rgba(156, 39, 176, 0.5);
  }
  body .particletext.fire > .particle {
    position: absolute;
    background-color: rgba(255, 193, 7, 0.5);
    border-radius: 40px;
    border-top-right-radius: 0px;
    -webkit-animation: fires 0.8s linear infinite;
            animation: fires 0.8s linear infinite;
    transform: rotate(-45deg);
    opacity: 0;
  }
  body .particletext.fire > .particle:before {
    position: absolute;
    content: "";
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    border-radius: 40px;
    border-top-right-radius: 0px;
    background-color: rgba(251, 140, 0, 0.5);
  }
  body .particletext.sunbeams > .particle {
    position: absolute;
    background-color: rgba(253, 216, 53, 0.5);
    -webkit-animation: sunbeams 3s linear infinite;
            animation: sunbeams 3s linear infinite;
  }
  
  @-webkit-keyframes bubbles {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
      transform: translate(0, -20%);
    }
    100% {
      opacity: 0;
      transform: translate(0, -1000%);
    }
  }
  
  @keyframes bubbles {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
      transform: translate(0, -20%);
    }
    100% {
      opacity: 0;
      transform: translate(0, -1000%);
    }
  }
  @-webkit-keyframes hearts {
    0% {
      opacity: 0;
      transform: translate(0, 0%) rotate(45deg);
    }
    20% {
      opacity: 0.8;
      transform: translate(0, -20%) rotate(45deg);
    }
    100% {
      opacity: 0;
      transform: translate(0, -1000%) rotate(45deg);
    }
  }
  @keyframes hearts {
    0% {
      opacity: 0;
      transform: translate(0, 0%) rotate(45deg);
    }
    20% {
      opacity: 0.8;
      transform: translate(0, -20%) rotate(45deg);
    }
    100% {
      opacity: 0;
      transform: translate(0, -1000%) rotate(45deg);
    }
  }
  @-webkit-keyframes lines {
    0%, 50%, 100% {
      transform: translateY(0%);
    }
    25% {
      transform: translateY(100%);
    }
    75% {
      transform: translateY(-100%);
    }
  }
  @keyframes lines {
    0%, 50%, 100% {
      transform: translateY(0%);
    }
    25% {
      transform: translateY(100%);
    }
    75% {
      transform: translateY(-100%);
    }
  }
  @-webkit-keyframes confetti {
    0% {
      opacity: 0;
      transform: translateY(0%) rotate(0deg);
    }
    10% {
      opacity: 1;
    }
    35% {
      transform: translateY(-800%) rotate(270deg);
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(2000%) rotate(1440deg);
    }
  }
  @keyframes confetti {
    0% {
      opacity: 0;
      transform: translateY(0%) rotate(0deg);
    }
    10% {
      opacity: 1;
    }
    35% {
      transform: translateY(-800%) rotate(270deg);
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(2000%) rotate(1440deg);
    }
  }
  @-webkit-keyframes fires {
    0% {
      transform: rotate(-70deg) translateY(0%);
    }
    25% {
      transform: rotate(-20deg) translateY(-5%);
      opacity: 1;
    }
    50% {
      transform: rotate(-70deg) translateY(-10%);
    }
    75% {
      transform: rotate(-20deg) translateY(-20%);
    }
    100% {
      transform: rotate(-70deg) translateY(-40%);
      opacity: 1;
    }
  }
  @keyframes fires {
    0% {
      transform: rotate(-70deg) translateY(0%);
    }
    25% {
      transform: rotate(-20deg) translateY(-5%);
      opacity: 1;
    }
    50% {
      transform: rotate(-70deg) translateY(-10%);
    }
    75% {
      transform: rotate(-20deg) translateY(-20%);
    }
    100% {
      transform: rotate(-70deg) translateY(-40%);
      opacity: 1;
    }
  }
  @-webkit-keyframes sunbeams {
    0% {
      transform: translateY(40%) rotate(0deg);
    }
    50% {
      transform: translateY(-40%) rotate(180deg);
    }
    100% {
      transform: translateY(40%) rotate(360deg);
    }
    0%, 14%, 17%, 43%, 53%, 71%, 80%, 94%, 100% {
      opacity: 0;
    }
    6%, 15%, 24%, 28%, 48%, 55%, 78%, 82%, 99% {
      opacity: 1;
    }
  }
  @keyframes sunbeams {
    0% {
      transform: translateY(40%) rotate(0deg);
    }
    50% {
      transform: translateY(-40%) rotate(180deg);
    }
    100% {
      transform: translateY(40%) rotate(360deg);
    }
    0%, 14%, 17%, 43%, 53%, 71%, 80%, 94%, 100% {
      opacity: 0;
    }
    6%, 15%, 24%, 28%, 48%, 55%, 78%, 82%, 99% {
      opacity: 1;
    }
  }