body {
    background-color: #F4E9E1;
}

#wrap {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}

#header {
    position: fixed;
    left: 20px;
    top: 20px;
    width: 200px;
    height: 100vh;
    border-radius: 20px;
}
#header .logo {
    background-color: #8a41ff;
    height: 300px;
    border-radius: 250px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    background:
    linear-gradient(rgb(73, 218, 131), transparent),
    linear-gradient(to top left, rgb(255, 217, 0), transparent),
    linear-gradient(to top right, rgb(255, 0, 76), transparent);
}

#header .logo canvas {
    position: absolute;
    left: -430px;
    top: -160px;
    width: 1000px;
    height: 600px;
    transform: rotate(40deg);
}
#header .nav {
    text-align: center;
}
#header .nav li {
    padding: 20px;
    margin-bottom: 10px;
    background-color: #FF3D00;
    border-radius: 50px;
    color: #fff;
    position: relative;
    font-family: 'Red Hat Display';
    font-size: 20px;
    font-weight: 900;
}
#header .nav li.active {
    min-height: 300px;
    line-height: 300px;
    
}
#header .nav li:nth-child(1).active::before {
    content: '01';
    position: absolute;
    left: 30px;
    top: 30px;
    line-height: 1;
}
#header .nav li:nth-child(1){
    background-color: #F33B1C;
    color: #fff;
}
#header .nav li:nth-child(2){
    background-color: #FF764B;
}
#header .nav li:nth-child(3){
    background-color: #FFB84F;
}
#header .nav li:nth-child(4){
    background-color: #78C6D9;
}
#header .nav li:nth-child(5){
    background-color: #FBFF00;
}


#main {
    width: calc(100% - 220px);
    margin-left: 220px;
}

#section1 {
    border-radius: 20px;
    width: 100%;
    height: calc(100vh - 40px);
    border: 1px solid #000;
    margin-bottom: 20px;
    padding: 20px 30px;
}
#section1 .title {
    height: 10%;
    display: flex;
    justify-content: space-between;
    font-family: 'Red Hat Display';
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
}
#section1 .mainText {
    overflow: hidden;
    height: 90%;
    /* background-color: #ddd; */
    font-size: 90vh;
    line-height: .91;
    letter-spacing: -20.7vw;
    text-transform: uppercase;
    font-weight: 100;
    font-family: 'Red Hat Display';
}
#section1 .mainText span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}





#section2 {
    width: 100%;
}
#section2 .sec2-title {
    padding: 5px 20px;
    border-radius: 20px;
    border: 1px solid #FF3D00;
    background-color: #FF3D00;
    font-size: 16px;
    color: #fff;
    font-family: 'Red Hat Display';
    margin-bottom: 20px;
}
#section2 .sec2-desc {
    border: 1px solid #000;
    font-family: 'NanumSquareNeo';
    padding: 20px;
    border-radius: 20px;
    font-size: 40px;
    word-break: keep-all;
}
#section2 .sec2-desc em {
    position: relative;
}
#section2 .sec2-desc em::before {
    content: '';
    width: 100%;
    height: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 50px;
    background-color: #ff8e6c85;
    z-index: -1;
}
#section2 .sec2-desc p {
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
/* #section2 .sec2-desc .div {
    display: flex;
}
#section2 .sec2-desc .div strong {
    color: #FF3D00;
    font-size: 20vw;
    font-weight: 900;
} */



#section3 {}
#section3 .sec3-title {
    padding: 7px 20px 5px 20px;
    border-radius: 20px;
    border: 1px solid #5927CC;
    background-color: #5927CC;
    font-size: 16px;
    color: #fff;
    font-family: 'Red Hat Display';
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 20px;
}
#section3 .sec3-desc {
    padding: 2vw;
    border-radius: 20px;
    border: 1px solid #5927CC;
    background-color: #5927CC;
    color: #fff;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}
#section3 .sec3-desc span {
    font-size: 4vw;
    line-height: 1;
    font-family: 'NanumSquareNeo';
    font-weight: 100;
}
#section3 .sec3-desc h3 {
    font-size: 10vw;
    line-height: 1;
    font-family: 'Red Hat Display';
    font-family: 'NanumSquareNeo';
    font-weight: 900;
    text-transform: uppercase;
}