body {
    background-color: #F4E9E1;
}

#wrap {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}

#header {
    position: fixed;
    left: 20px;
    top: 20px;
    width: 200px;
    height: 100vh;
    border-radius: 20px;
}
#header .logo {
    background-color: #8a41ff;
    height: 300px;
    border-radius: 250px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    background:
    linear-gradient(rgb(73, 218, 131), transparent),
    linear-gradient(to top left, rgb(255, 217, 0), transparent),
    linear-gradient(to top right, rgb(255, 0, 76), transparent);
}

#header .logo canvas {
    position: absolute;
    left: -430px;
    top: -160px;
    width: 1000px;
    height: 600px;
    transform: rotate(40deg);
}
#header .nav {
    text-align: center;
}
#header .nav li {
    padding: 20px;
    margin-bottom: 10px;
    background-color: #FF3D00;
    border-radius: 50px;
    color: #fff;
    position: relative;
    font-family: 'Red Hat Display';
    font-size: 20px;
    font-weight: 900;
}
#header .nav li.active {
    min-height: 300px;
    line-height: 300px;
    
}
#header .nav li:nth-child(1).active::before {
    content: '01';
    position: absolute;
    left: 30px;
    top: 30px;
    line-height: 1;
}
#header .nav li:nth-child(1){
    background-color: #F33B1C;
    color: #fff;
}
#header .nav li:nth-child(2){
    background-color: #FF764B;
}
#header .nav li:nth-child(3){
    background-color: #FFB84F;
}
#header .nav li:nth-child(4){
    background-color: #78C6D9;
}
#header .nav li:nth-child(5){
    background-color: #FBFF00;
}


#main {
    width: calc(100% - 220px);
    margin-left: 220px;
}

#section1 {
    border-radius: 20px;
    width: 100%;
    height: calc(100vh - 40px);
    border: 1px solid #000;
    margin-bottom: 20px;
    padding: 20px 30px;
}
#section1 .title {
    height: 10%;
    display: flex;
    justify-content: space-between;
    font-family: 'Red Hat Display';
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
}
#section1 .mainText {
    overflow: hidden;
    height: 90%;
    /* background-color: #ddd; */
    font-size: 90vh;
    line-height: .91;
    letter-spacing: -20.7vw;
    text-transform: uppercase;
    font-weight: 100;
    font-family: 'Red Hat Display';
}
#section1 .mainText span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}





#section2 {
    width: 100%;
}
#section2 .sec2-title {
    border-radius: 20px;
    border: 1px solid #FF3D00;
    background-color: #FF3D00;
    font-size: 16px;
    color: #fff;
    font-family: 'Abel';
    margin-bottom: 20px;
    font-weight: 900;
}
#section2 .sec2-title .line {
    padding: 8px 20px;
}
#section2 .sec2-desc {
    border-radius: 20px;
    border: 1px solid #FF3D00;
    background-color: #FF3D00;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}
#section2 .sec2-desc span {
    font-size: 4vw;
    line-height: 1;
    font-family: 'NanumSquareNeo';
    font-weight: 100;
    padding: 2vw;
}
#section2 .sec2-desc h3 {
    font-size: 12vw;
    line-height: 0.7;
    font-family: 'Abel';
    font-weight: 900;
    text-transform: uppercase;
    padding: 2vw;
}
#section2 .sec2-about {
    border: 1px solid #000;
    border-radius: 20px;
    padding: 2vw;
}
#section2 .sec2-about > div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#section2 .sec2-about > div h3 {
    width: 20%;
    font-family: "Abel";
    font-size: 26px;
}
#section2 .sec2-about > div h3 em {
    border: 1px solid #000;
    padding: 5px 20px;
    border-radius: 30px;
    display: block;
    margin-bottom: 10px;
}
#section2 .sec2-about > div p {
    width: 77%;
    border-bottom: 1px solid #000;
    font-size: 4vw;
    font-family: 'NanumSquareNeo';
    font-weight: 800;
    padding-bottom: 100px;
    padding-top: 20px;
}
#section2 .sec2-about > div p em {
    background-color: #FF3D00;
    color: #fff;
}

#section2 .sec2-about .t1 p {
    font-size: 4vw;
    line-height: 1.2;
    font-weight: 200;
    text-transform: uppercase;
    border-top: 1px solid #000;
}
#section2 .sec2-about .t2 p {
    font-size: 2vw;
    font-weight: 400;
}
#section2 .sec2-about .t3 p {
    font-size: 2vw;
    font-weight: 400;
    text-transform: uppercase;
}
#section2 .sec2-about .skill-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#section2 .sec2-about .skill-box > div {
    width: 32%;
    height: 500px;
}



#section3 {}
#section3 .sec3-title {
    padding: 7px 20px 5px 20px;
    border-radius: 20px;
    border: 1px solid #5927CC;
    background-color: #5927CC;
    font-size: 16px;
    color: #fff;
    font-family: 'Red Hat Display';
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 20px;
}
#section3 .sec3-desc {
    padding: 2vw;
    border-radius: 20px;
    border: 1px solid #5927CC;
    background-color: #5927CC;
    color: #fff;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}
#section3 .sec3-desc span {
    font-size: 4vw;
    line-height: 1;
    font-family: 'NanumSquareNeo';
    font-weight: 100;
}
#section3 .sec3-desc h3 {
    font-size: 10vw;
    line-height: 1;
    font-family: 'NanumSquareNeo';
    font-weight: 900;
    text-transform: uppercase;
}


.sec3-site {
    margin-top: 20px;
    border: 1px solid #000;
    border-radius: 20px;
    padding: 2vw;
    height: 90vh;
    display: flex;
    align-items: center;
    
}
.sec3-site .site {
    display: flex;
    align-items: center;
}
.sec3-site .site .left {
    width: 70%;
    padding: 5%;
}
.sec3-site .site .right {
    width: 50%;
}
.sec3-site .site .right h4 {
    color: #5927CC;
    font-size: 40px;
    font-family: 'NanumSquareNeo';
    font-size: 4vw;
    text-transform: capitalize;
    font-weight: 100;
}
.sec3-site .site .right p {
    font-family: 'NanumSquareNeo';
    font-size: 16px;
    line-height: 1.6;
}
.sec3-site .site .right a {
    background-color: #5927CC;
    color: #fff;
    padding: 5px 20px;
    color: #fff;
    display: inline-block;
    margin-top: 10px;
    font-family: 'NanumSquareNeo';
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    border-radius: 30px;
}
