body {
    background-size: 30px 30px;
    background-image: repeating-radial-gradient( #a010b3 0px, #000000 2px, #000000 48px);
}

#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}
@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

#header .logo  {
    position: fixed;
    left: 0;
    top: 0;

}

#header .logo {
    font-size: 40px;
    line-height: 1;
    text-transform: uppercase;
    font-family: 'Abel';
}



#section1 {
    width: 100%;
    height: 100vh;
    /* background-color: #000; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://fitalux-portfolio-vite-2023.netlify.app/assets/main_display-3dd24c2b.png);
    background-size: 80%;
    background-position: center center;
    background-repeat: no-repeat;
}
#section1 h1 {
    font-family: 'Herr Von Muellerhoff', cursive;
    font-size: 15vw;
    color: #fff;
    position: relative;
    z-index: 1000;
}
#section1 #canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
}
#section1 .intro {
    position: absolute;
    right: 5%;
    bottom: 10%;
    color: #fff;
    width: 600px;
    font-family: 'IropkeBatang';
}
#section1 .intro img {
    width: 100px;
    margin-bottom: 20px;
}
@font-face {
    font-family: "neontubes";
    src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot");
    src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot?#iefix") format("embedded-opentype"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff2") format("woff2"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff") format("woff"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.logo {
    padding: 20px;
    display: block;
    font-family: "neontubes";
    font-size: 16vw;
    transform: rotate(-4deg);
    color: #ffd9e2;
    text-shadow: 0 0 0 transparent, 0 0 10px #ff003c, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #ff003c, 0 0 100px #ff003c, 0 0 200px #ff003c, 0 0 300px #ff003c, 0 0 500px #ff003c, 0 0 1000px #ff003c;
    animation: blink 4s infinite alternate;
}
@keyframes blink {
    40% {
        opacity: 1;
    }
    42% {
        opacity: 0.8;
    }
    43% {
        opacity: 1;
    }
    45% {
        opacity: 0.2;
    }
    46% {
        opacity: 1;
    }
}
  


/* section2 */
#section2 {
    background-color: #170619;
    padding: 4vw;
    position: relative;
}
#section2 h2 {
    font-size: 10vw;
    line-height: 0.9;
    color: #EA3CFD;
    text-transform: uppercase;
    font-family: 'Orbitron';
    padding-top: 10vw;
    font-weight: 100;
}
#section2 p {
    color: #fff;
    font-family: 'IropkeBatang';
}
#section2 .box {
    width: 40vw;
    border: 1px solid #EA3CFD;
    padding: 30px;
    margin-top: 50px;
    border-radius: 10px;
    background-color: #ea3cfd4e;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    margin-left: 50vw;
}
#section2 .box .left {
    width: 20%;
    text-align: center;
}
#section2 .box .left span {
    background-color: #EA3CFD;
    color: #000;
    text-transform: uppercase;
    padding: 0px 8px;
    display: inline-block;
    margin-top: 10px;
    font-size: 14px;
}
#section2 .box .left em {
    color: #EA3CFD;
    display: block;
    font-weight: bold;
    font-size: 14px;
}
#section2 .box .right {
    width: 75%;
}
#section2 .box .right h3 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
}
#section2 .box .right p {
    color: #b2b2b2;
}

.smallBox1 {
    position: absolute;
    left: 10%;
    top: 60%;
    width: 200px;
    height: 200px;
    padding: 10px;
    background-color: #ea3cfd4e;
    backdrop-filter: blur(10px);
    border: 1px solid #EA3CFD;
    border-radius: 10px;
    text-align: center;
}
.smallBox1 .img {
    width: 100%;
    height: 100%;
    background-image: url(https://fitalux-portfolio-vite-2023.netlify.app/assets/maru02-72d1d391.jpg);
}
.smallBox1 span {
    background-color: #EA3CFD;
    color: #000;
    text-transform: uppercase;
    padding: 0px 8px;
    display: inline-block;
    margin-top: 20px;
    font-size: 14px;
}
.smallBox1 em {
    color: #EA3CFD;
    display: block;
    font-weight: bold;
    font-size: 14px;
}

.smallBox2 {
    position: absolute;
    left: 24%;
    top: 60%;
    width: 200px;
    height: 200px;
    padding: 10px;
    background-color: #ea3cfd4e;
    backdrop-filter: blur(10px);
    border: 1px solid #EA3CFD;
    border-radius: 10px;
    text-align: center;
}
.smallBox2 .img {
    width: 100%;
    height: 100%;
    background-image: url(https://fitalux-portfolio-vite-2023.netlify.app/assets/maru03-3597a509.jpg);
    background-size: cover;
}
.smallBox2 span {
    background-color: #EA3CFD;
    color: #000;
    text-transform: uppercase;
    padding: 0px 8px;
    display: inline-block;
    margin-top: 20px;
    font-size: 14px;
}
.smallBox2 em {
    color: #EA3CFD;
    display: block;
    font-weight: bold;
    font-size: 14px;
}

.smallBox3 {
    position: absolute;
    left: 38%;
    top: 60%;
    width: 200px;
    height: 200px;
    padding: 10px;
    background-color: #ea3cfd4e;
    backdrop-filter: blur(10px);
    border: 1px solid #EA3CFD;
    border-radius: 10px;
    text-align: center;
}
.smallBox3 .img {
    width: 100%;
    height: 100%;
    background-image: url(https://fitalux-portfolio-vite-2023.netlify.app/assets/maru01-e180eaa3.jpg);
    background-size: cover;
    background-position: center;
}
.smallBox3 span {
    background-color: #EA3CFD;
    color: #000;
    text-transform: uppercase;
    padding: 0px 8px;
    display: inline-block;
    margin-top: 20px;
    font-size: 14px;
}
.smallBox3 em {
    color: #EA3CFD;
    display: block;
    font-weight: bold;
    font-size: 14px;
}


/* line */
.line {
    width: 100%;
    height: 2px;
    background-color: #EA3CFD;
    display: block;
    margin-top: 50px;
    position: relative;
}
.line::before {
    content: '';
    height: 20px;
    width: 2px;
    background-color: #EA3CFD;
    position: absolute;
    left: 0;
    top: 0;
}
.line.end::after {
    content: '';
    height: 20px;
    width: 2px;
    background-color: #EA3CFD;
    position: absolute;
    right: 0;
    top: -20px;
}
.line.end::before {
    width: 0;
}



/* section3 */
#section3 {
    background-color: #170619;
    padding: 4vw;
    position: relative;
}
#section3 h2 {
    font-size: 10vw;
    line-height: 0.9;
    color: #65E3A2;
    text-transform: uppercase;
    font-family: 'Orbitron';
    padding-top: 10vw;
    font-weight: 100;
}
#section3 p {
    color: #fff;
    font-family: 'IropkeBatang';
}
#section3 .line {
    width: 100%;
    height: 2px;
    background-color: #65E3A2;
    display: block;
    margin-top: 50px;
    position: relative;
}
#section3 .line::before {
    content: '';
    height: 20px;
    width: 2px;
    background-color: #65E3A2;
    position: absolute;
    left: 0;
    top: 0;
}

.script-wrap {
    display: flex;
    justify-content: space-between;
}

.script {
    width: 24%;
    height: 600px;
    margin-top: 40px;
}
.IndexItem {
    position: relative;
    display: block;
    background-color: rgb(75 225 164);
    height: 650px;
}
.IndexItem_background {
    position: absolute;
    inset: 2px;
    z-index: 10;
    background-color: rgb(6 17 13);
}
.Index-info {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
}
.Index-info .img {
    width: 90%;
    height: 80%;
    margin-left: 5%;
    margin-top: 5%;
    background-image: url(https://images.unsplash.com/photo-1461749280684-dccba630e2f6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1169&q=80);
    background-position: center center;
    border-radius: 10px;
}
.Index-info h3 {
    color: rgb(75 225 164);
    padding: 20px;
    background-color: #142D21;
    margin: 20px;
    border-radius: 0 0 30px 0;
}