@font-face {
    font-family: 'Saint Monica Italic';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/SaintMonicaItalic.eot');
    src: url('../fonts/SaintMonicaItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SaintMonicaItalic.woff2') format('woff2'),
         url('../fonts/SaintMonicaItalic.woff') format('woff');
    font-display: swap;
} 

@font-face {
    font-family: 'Saint Monica Regular';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/SaintMonicaRegular.eot');
    src: url('../fonts/SaintMonicaRegular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SaintMonicaRegular.woff2') format('woff2'),
         url('../fonts/SaintMonicaRegular.woff') format('woff');
    font-display: swap;
} 

@font-face {
    font-family: 'GmarketSans';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'GmarketSans';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'GmarketSans';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.ttf') format("truetype");
    font-display: swap;
} 

body {
    background: #EDF0ED;
}

/* header */
#header {
    border-bottom: 1px solid #2e382848;
}
#header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header li a {
    font-family: 'Abel';
    padding: 20px;
    display: inline-block;
    text-transform: uppercase;
}

/* sectiono1 */
.sec1 {
    border-bottom: 1px solid #2e382848;
}
.sec1 h1 {
    text-align: left;
    color: #2E3828;
    font-size: 19.5vw;
    line-height: 0.91;
    font-family: 'Saint Monica Regular';
    padding-left: 1vw;
    margin-top: 10px;
    text-transform: uppercase;
}
.sec1 h1 span {
    display: block;
}
.sec1 .about {
    border-top: 1px solid #2e382848;
    border-bottom: 1px solid #2e382848;
    height: 500px;
    display: flex;
}
.sec1 .about .left {
    width: 30%;
    border-right: 1px solid #2e382848;
}
.sec1 .about .left h2, .titH2 {
    color: #656565;
    font-family: 'Abel';
    text-transform: uppercase;
    font-size: 20px;
    padding: 10px;
    display: inline-block;
}

.sec1 .about .right {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}
.sec1 .about .right p {
    padding: 20px;
    font-family: 'GmarketSans';
    font-size: 22px;
    color: #2E3828;
    font-weight: 300;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    text-align: justify;
}


.intro {
    height: 10000px;
}