@font-face {
    font-family: 'Saint Monica Italic';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/SaintMonicaItalic.eot');
    src: url('../fonts/SaintMonicaItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SaintMonicaItalic.woff2') format('woff2'),
         url('../fonts/SaintMonicaItalic.woff') format('woff');
    font-display: swap;
} 

@font-face {
    font-family: 'Saint Monica Regular';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/SaintMonicaRegular.eot');
    src: url('../fonts/SaintMonicaRegular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SaintMonicaRegular.woff2') format('woff2'),
         url('../fonts/SaintMonicaRegular.woff') format('woff');
    font-display: swap;
} 
@font-face {
    font-family: 'GmarketSans';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'GmarketSans';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'GmarketSans';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.ttf') format("truetype");
    font-display: swap;
} 
body {
    background: #EDF0ED;
}

/* header */
#header {
    position: fixed;
    left: 0; top: 0;
    width: 100%;
    z-index: 10000;
    border-bottom: 1px solid #2e382848;
    backdrop-filter : blur(10px)
}
#header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header li a {
    font-family: 'Abel';
    padding: 20px;
    display: inline-block;
    text-transform: uppercase;
}

/* layout */
.horizontal-scroll {
    height: 100vh;
    overflow: hidden;
    display: flex;
    left: 0;
}
.section7 {
    width: 100%;
    height: 100vh;
    color: #fff;
}




/* section1 */
.section1 {
    margin-top: 62px;
}
.sec1 h1 {
    text-align: left;
    color: #2E3828;
    font-size: 19vw;
    line-height: 0.91;
    font-family: 'Saint Monica Regular';
    padding-left: 1vw;
    margin-top: 10px;
    text-transform: uppercase;
}
.sec1 h1 em {
    display: block;
}
.sec1 h1 em span {
    display: inline-block;
}
.sec1 .about {
    border-top: 1px solid #2e382848;
    border-bottom: 1px solid #2e382848;
    height: 500px;
    display: flex;
}
.sec1 .about .left {
    width: 30%;
    border-right: 1px solid #2e382848;
}
.sec1 .about .left h2, .titH2 {
    color: #656565;
    font-family: 'Abel';
    text-transform: uppercase;
    font-size: 20px;
    padding: 10px;
    display: inline-block;
}
.sec1 .about .right {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}
.sec1 .about .right p {
    padding: 20px;
    font-family: 'GmarketSans';
    font-size: 22px;
    color: #2E3828;
    font-weight: 300;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    text-align: justify;
}
.sec1 .intro {
    display: flex;
}
.sec1 .intro .left {
    width: 40%;
    border-right: 1px solid #2e382848;
    height: 800px;
    overflow: hidden;
    background: url(https://images.unsplash.com/photo-1549068106-b024baf5062d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80) no-repeat center top -200px;
    background-size: cover;
}
.sec1 .intro .left img {
    object-position: 0 -30px;
}
.sec1 .intro .right {
    width: 60%;
}


/* section2 */
.section2 .pin-wrap {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.section2 .pin-wrap > div {
    min-width: 60vw;
    margin-top: 40vh;
    height: 60vh;
    background: #2E3828;
    color: #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
}
.section2 .pin-wrap > div:last-child {
    border-right: 0;
}
.section2 h2 {
    position: absolute;
    left: 0; top: 0;
    font-size: 8vw;
    width: 100%;
    height: 50vh;
    background: #2E3828;
    color: #fff;
    line-height: 0.91;
    font-family: 'Saint Monica Regular';
    padding: 4vw;
}
.section2 .pin-wrap > div {
    padding: 2%;
}
.section2 .pin-wrap > div h3 {
    font-family: 'Saint Monica Regular';
    font-weight: 300;
    font-size: 42px;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.section2 .pin-wrap > div p {
    font-family: 'GmarketSans';
    font-weight: 300;
    font-size: 22px;
    text-align: justify;
    margin-bottom: 40px;
}
.section2 .pin-wrap > div .key span {
    font-family: 'Saint Monica Regular';
    border: 1px solid #fff;
    border-radius: 50px;
    display: inline-block;
    padding: 4px 40px;
    font-size: 20px;
    margin-right: 5px;
    margin-bottom: 10px;
}

/* sec3 */
.sec3 .site {
    color: #000;
    height: 100vh;
}
.sec3 .site1 {border-bottom: 1px solid #2e382848;}
.sec3 .site2 {background: #555;}
.sec3 .site3 {background: #666;}
.sec3 .site4 {background: #777;}

.sec3 .site {
    display: flex;
}
.sec3 .site .left {
    flex-basis: 70%;
    border-right: 1px solid #2e382848;
    overflow: hidden;
}
.sec3 .site .left figcaption {
    padding: 2%;
    font-family: 'Saint Monica Regular';
    display: inline-block;
    font-size: 20px;
    color: #2e3828;
    text-transform: capitalize;
}
.sec3 .site .left figure {
    border-bottom: 1px solid #2e382848;
    overflow: hidden;
    height: 100%;
}
.sec3 .site .right {
    flex-basis: 30%;
    padding: 3%;
    overflow: hidden;
}
.sec3 .site .right h3 {
    font-family: 'Saint Monica Regular';
    font-size: 4vw;
    margin-bottom: 10px;
}
.sec3 .site .right p {
    font-family: 'GmarketSans';
    font-weight: 300;
    font-size: 16px;
    text-align: justify;
    margin-bottom: 20px;
}
.sec3 .site .right .btn a {
    display: block;
    border: 1px solid #2e382848;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'GmarketSans';
    font-weight: 300;
    padding: 10px;
    font-size: 20px;
}


/* section4 */
.section4 {
    background: #2E3828;
}
.section4 .top {
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 60vh;
    background: #2E3828;
    color: #fff;
    font-family: 'Saint Monica Regular';
    padding: 4vw;
    display: flex;
    align-items: center;
    justify-content: start;
}
.section4 .top h2 {
    font-size: 12vw;
    white-space: nowrap;
    line-height: 0.91;
}

.section4 .pin-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.section4 .pin-wrap > div {
    min-width: 60vw;
    margin-top: 60vh;
    height: 40vh;
    background: #2E3828;
    color: #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
}

.section4 .pin-wrap > div {
    padding: 2%;
}
.section4 .pin-wrap > div h3 {
    font-family: 'Saint Monica Regular';
    font-weight: 300;
    font-size: 42px;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.section4 .pin-wrap > div p {
    font-family: 'GmarketSans';
    font-weight: 300;
    font-size: 22px;
    text-align: justify;
    margin-bottom: 40px;
}
.section4 .pin-wrap > div .key span {
    font-family: 'Saint Monica Regular';
    border: 1px solid #fff;
    border-radius: 50px;
    display: inline-block;
    padding: 4px 40px;
    font-size: 20px;
    margin-right: 5px;
    margin-bottom: 10px;
}
.sec4 .site {
    color: #000;
    height: 100vh;
}


/* section5 */
.script-wrap {}

.script {
    height: 100vh;
    color: #fff;
}
.script .top {
    height: 50vh;
    background: url(https://images.unsplash.com/photo-1611996575749-79a3a250f948?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80);
    background-size: cover;
    background-position: center center;
}
.script .bom {
    height: 50vh;
    background: #555;
}



.script1 {
    background: #000;
}
.script2 {
    background: #ccc;
}
.script3 {}
.script4 {}