@font-face {
  font-family: neue haas grotesk display pro;
  font-style: normal;
  font-weight: 400;
  src: local("Neue Haas Grotesk Display Pro"),
    url(https://fonts.cdnfonts.com/s/47998/NeueHaasDisplayLight.woff)
      format("woff");
}
@font-face {
  font-family: neue haas grotesk display pro;
  font-style: italic;
  font-weight: 400;
  src: local("Neue Haas Grotesk Display Pro"),
    url(https://fonts.cdnfonts.com/s/47998/NeueHaasDisplayLightItalic.woff)
      format("woff");
}
@font-face {
  font-family: neue haas grotesk display pro;
  font-style: normal;
  font-weight: 100;
  src: local("Neue Haas Grotesk Display Pro"),
    url(https://fonts.cdnfonts.com/s/47998/NeueHaasDisplayXXThin.woff)
      format("woff");
}
@font-face {
  font-family: neue haas grotesk display pro;
  font-style: italic;
  font-weight: 100;
  src: local("Neue Haas Grotesk Display Pro"),
    url(https://fonts.cdnfonts.com/s/47998/NeueHaasDisplayXXThinItalic.woff)
      format("woff");
}
@font-face {
  font-family: neue haas grotesk display pro;
  font-style: normal;
  font-weight: 200;
  src: local("Neue Haas Grotesk Display Pro"),
    url(https://fonts.cdnfonts.com/s/47998/NeueHaasDisplayXThin.woff)
      format("woff");
}
@font-face {
  font-family: neue haas grotesk display pro;
  font-style: italic;
  font-weight: 200;
  src: local("Neue Haas Grotesk Display Pro"),
    url(https://fonts.cdnfonts.com/s/47998/NeueHaasDisplayXThinItalic.woff)
      format("woff");
}
@font-face {
  font-family: neue haas grotesk display pro;
  font-style: normal;
  font-weight: 300;
  src: local("Neue Haas Grotesk Display Pro"),
    url(https://fonts.cdnfonts.com/s/47998/NeueHaasDisplayThin.woff)
      format("woff");
}
@font-face {
  font-family: neue haas grotesk display pro;
  font-style: italic;
  font-weight: 300;
  src: local("Neue Haas Grotesk Display Pro"),
    url(https://fonts.cdnfonts.com/s/47998/NeueHaasDisplayThinItalic.woff)
      format("woff");
}
@font-face {
  font-family: neue haas grotesk display pro;
  font-style: normal;
  font-weight: 500;
  src: local("Neue Haas Grotesk Display Pro"),
    url(https://fonts.cdnfonts.com/s/47998/NeueHaasDisplayRoman.woff)
      format("woff");
}
@font-face {
  font-family: neue haas grotesk display pro;
  font-style: italic;
  font-weight: 500;
  src: local("Neue Haas Grotesk Display Pro"),
    url(https://fonts.cdnfonts.com/s/47998/NeueHaasDisplayRomanItalic.woff)
      format("woff");
}
@font-face {
  font-family: neue haas grotesk display pro;
  font-style: normal;
  font-weight: 600;
  src: local("Neue Haas Grotesk Display Pro"),
    url(https://fonts.cdnfonts.com/s/47998/NeueHaasDisplayMediu.woff)
      format("woff");
}
@font-face {
  font-family: neue haas grotesk display pro;
  font-style: italic;
  font-weight: 600;
  src: local("Neue Haas Grotesk Display Pro"),
    url(https://fonts.cdnfonts.com/s/47998/NeueHaasDisplayMediumItalic.woff)
      format("woff");
}
@font-face {
  font-family: neue haas grotesk display pro;
  font-style: normal;
  font-weight: 700;
  src: local("Neue Haas Grotesk Display Pro"),
    url(https://fonts.cdnfonts.com/s/47998/NeueHaasDisplayBold.woff)
      format("woff");
}
@font-face {
  font-family: neue haas grotesk display pro;
  font-style: italic;
  font-weight: 700;
  src: local("Neue Haas Grotesk Display Pro"),
    url(https://fonts.cdnfonts.com/s/47998/NeueHaasDisplayBoldItalic.woff)
      format("woff");
}
@font-face {
  font-family: neue haas grotesk display pro;
  font-style: normal;
  font-weight: 900;
  src: local("Neue Haas Grotesk Display Pro"),
    url(https://fonts.cdnfonts.com/s/47998/NeueHaasDisplayBlack.woff)
      format("woff");
}
@font-face {
  font-family: neue haas grotesk display pro;
  font-style: italic;
  font-weight: 900;
  src: local("Neue Haas Grotesk Display Pro"),
    url(https://fonts.cdnfonts.com/s/47998/NeueHaasDisplayBlackItalic.woff)
      format("woff");
}
