/* locomotive */
html.has-scroll-smooth {
    overflow: hidden;
}
html.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.has-scroll-smooth body {
    overflow: hidden;
}
.has-scroll-smooth [data-scroll-container] {
    min-height: 100vh;
}
.c-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 11px;
    height: 100vh;
    transform-origin: center right;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
}
.c-scrollbar:hover {
    transform: scaleX(1.45);
}
.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
    opacity: 1;
}
.c-scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    width: 7px;
    border-radius: 10px;
    margin: 2px;
    cursor: -webkit-grab;
    cursor: grab;
}
.has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

/* layout */
#section2 {background-color: #7d7565;}
#section3 {background-color: #2A57DC; height: 100vh;}

.sec1_wrap {
    width: calc(100% - 100px);
    margin-left: 100px;
}
.sec1-4 {background-color: #2A57DC; height: 100vh;} 
.sec1-5 {background-color: #2A57DC; height: 100vh;} 

#section2 {
    height: 100vh;
    overflow: hidden;
    display: flex;
    left: 0;
}
.sec2_wrap {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.sec2_wrap > div {
    min-width: 60vw;
    height: 40vh;
}
.sec2-1 {background-color: #51442b;} 
.sec2-2 {background-color: #b9b3a9;} 
.sec2-3 {background-color: #51442b;} 


/* header */
#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100px;
    height: 100vh;
    background: #2A57DC;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #628AFF;
    z-index: 1000;
}

/* nav */
#nav > div {
    width: 40px; 
    height: 40px;
    /* background: rgba(0,0,0,0.3); */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
}
#nav > div span {
    width: 100%;
    height: 3px;
    background: #fff;
    display: inline-block;
    position: relative;
}
#nav > div span::before {
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    height: 3px;
    background: #fff;
}
#nav > div span::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    height: 3px;
    background: #fff;
}
#nav .scroll {
    position: absolute;
    left: 27px;
    bottom: 20px;
    color: #fff;
    transform: rotate(0deg);
}

/* contents */
.contents {
    width: calc(100% - 100px);
    margin-left: 100px;
}


/* section1 */
#section1 {
    width: 100%;
}
.sec1__inner {
    display: flex;
    /* border-bottom: 1px solid #628AFF; */
    position: relative;
    height: 800px;
    width: 100%;
}
.sec1__inner .left {
    width: 60%;
    background: #2A57DC;
}
.sec1__inner .left .text {
    position: absolute;
    left: 5vw;
    bottom: 10vw;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 5vw;
    line-height: 1.2;
    font-weight: 100;
    transform: rotate(0deg);
}
.sec1__inner .left .text span {
    opacity: 0;
    transform: translateY(40px);
    display: inline-block;
}
.sec1__inner .right {
    width: 40%;
    background: #2A57DC;
    border-left: 1px solid #628AFF;
}
.sec1__inner .right .title {
    padding: 1.4vw;
    border-bottom: 1px solid #628AFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sec1__inner .right .title h2 {
    font-size: 20px;
    font-family: "Jost";
    color: #fff;
}
.sec1__inner .right .title a {
    font-size: 20px;
    font-family: "Jost";
    color: #fff;
}
.sec1__inner .right .intro {
    padding: 1.4vw;
    height: 500px;
    margin-top: 10vw;
    border-top: 1px solid #628AFF;
    font-family: "ChosunNm";
}
.sec1__inner .right .intro p {
    color: #fff;
}
.sec1__inner .right .intro img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 200px;
    margin-top: 2vh;
}

@media (max-width:900px){
    .sec1__inner {
        flex-direction: column-reverse;
    }
    .sec1__inner .left {
        width: 100%;
    }
    .sec1__inner .right {
        width: 100%;
        border-left: 0;
    }
    .sec1__inner .right .intro {
        height: auto;
        border-bottom: 1px solid #628AFF;
    }
    .sec1__inner .left p {
        position: relative;
        transform : rotate(0);
        bottom: 0;
        left: 0;
        padding: 3vw;
    }
}


/* section2 */
.sec2__inner {
    background: url("https://vooban.com/uploads/placeholders/video.jpg");
    height: 80vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #628AFF;
}
.sec2__inner h2 {
    font-family: "Abel";
    color: #fff;
    letter-spacing: 2vw;
    text-transform: uppercase;
}
.sec2__inner h2 em {
    display: inline-block;
}
.sec2__inner h2 span {
    display: inline-block;
}


/* section3 */
.sec3__inner {
    height: 2000px;

}
.text1 {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(42,87,220,0.4);
    padding: 10vw;
}
.text1 .left {
    width: 55%;
    font-family: 'Raleway', sans-serif;
    font-size: 5vw;
    line-height: 1.2;
    font-weight: 100;
    color: #2A57DC;
    white-space: nowrap;
    mix-blend-mode: overlay;
}
.text1 .left p em {
    font-weight: 700;
}
.text1 .left p.in {
    font-size: 1vw;
    white-space: normal;
    font-family: ChosunNm;
    line-height: 1.6;
    margin-top: 2vh;
}
.text1 .right {
    width: 45%;
    z-index: -1;
    position: relative;
}

/* section4 */
.sec4__inner {
    background: url("https://vooban.com/uploads/placeholders/video.jpg");
    height: 80vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec4__inner h2 {
    font-family: "Abel";
    color: #fff;
    letter-spacing: 2vw;
    text-transform: uppercase;
}
.sec4__inner h2 em {
    display: inline-block;
}
.sec4__inner h2 span {
    display: inline-block;
}



