/* header */
#header {
    position: fixed;
    left: 0;
    top: -100px;
    width: 100%;
    height: 70px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins';
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.437);
    backdrop-filter: blur(10px);
}
#header h1 {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    padding-left: 10px;
    position: relative;
}
#header nav {
    padding-left: 10px;
}

/* vertex */
.vertex {
    position: relative;
}
.vertex span {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
}
.vertex span:nth-child(1) {
    left: 0;
}
.vertex span:nth-child(1):before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 1px;
    background: #fe451c;
}
.vertex span:nth-child(1)::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 4px;
    background: #fe451c;
}

#header nav {
    color: #fff;
}

/* section1 */
#section1 {
    width: 100%;
    overflow: hidden;
    height: 100vh;
    background: #000;
    position: relative;
    border-bottom: 1px dotted #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
#canvas {
    position: fixed;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 0;
    user-select: none;
    pointer-events: none;
}
.title__inner {
    
}
.title__inner > div {
    font-size: 6vw;
    color: #fff;
    font-family: 'Poppins';
    text-transform: uppercase;
    line-height: 0.8;
    font-weight: 800;
    white-space: nowrap;
    text-align: center;
}
.title__inner > div.tit1 {
    margin-left: -40vw;
    opacity: 0;
}
.title__inner > div.tit2 {
    margin-left: 0vw;
    opacity: 0;
}
.title__inner > div.tit3 {
    color: #fe451c;
    font-family: 'TheramyRegular';
    text-transform: lowercase;
    font-weight: normal;
    padding-top: 5vw; /* 1vw */
    /* margin-bottom: 8vw; */
    z-index: 200;
    padding-bottom: 3vw;
    overflow: hidden;
}
.title__inner > div.tit3 span {
    opacity: 0;
    transform: translateY(50px) translateX(10px);
    display: inline-block;
    min-width: 1.3vw
}
.title__inner > div.tit3 span:first-child {
    text-transform: uppercase;
    min-width: 1.3vw
}
.title__inner > div.tit4 {
    margin-left: -40vw;
    opacity: 0;
}
.title__inner > div.tit5 {
    margin-left: 0vw;
    opacity: 0;
}
.title__inner > div.tit6 {
    color: #fe451c;
    font-family: 'TheramyRegular';
    text-transform: lowercase;
    font-weight: normal;
    padding-top: 1vw;
    z-index: 200;
    transform: translateY(-12vw);
}
.title__inner > div.tit6 span {
    opacity: 0;
    transform: translateY(50px) translateX(10px);
    display: inline-block;
    min-width: 1.3vw
}
.title__inner > div.tit6 span:first-child {
    text-transform: uppercase;
}

/* section2 */
#section2 {
    height: 10000px;
    background: #000;
}