/* font */
@import url('https://webfontworld.github.io/iropke/IropkeBatang.css');
@font-face {
    font-family: 'NewYork';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/NewYork.eot');
    src: url('../fonts/NewYork.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NewYork.woff2') format('woff2'),
         url('../fonts/NewYork.woff') format('woff'),
         url('../fonts/NewYork.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'NanumBrush';
    font-weight: normal; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/naver/NanumBrush.woff2) format('woff2');
    font-display: swap;
}

/* layout */
.horizontal-scroll {
    height: 100vh;
    overflow: hidden;
    display: flex;
    left: 0;
}
.section3, .section5, .section7 {
    width: 100%;
    height: 100vh;
    background: #111;
    color: #fff;
}
.section2 .pin-wrap {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.section2 .pin-wrap > div {
    min-width: 60vw;
}
.section4 .pin-wrap {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.section4 .pin-wrap > div {
    min-width: 60vw;
}

/* header */
#header {
    position: fixed;
    left: 0; top: 0;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    z-index: 1000;
    border-bottom: 1px solid #000;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
}
#header nav li {
    display: inline;
    font-family: 'NewYork';
    font-size: 20px;
    margin-right: 10px;
}
#header nav li a {
    margin-right: 20px;
    text-transform: uppercase;
}
#header .me {
    background: #000;
    color: #fff;
    padding: 10px 40px;
    font-family: 'NewYork';
}


/* section1 */
.section1 {
    background: #DBDBDB;
}
.sec1_main {
    height: 100vh;
    display: flex;
    align-items: center;    
    justify-content: center;
    position: relative;
}
.sec1_main .text {
    font-family: 'NewYork';
    font-size: 13vw;
    color: #1E27F0;
    line-height: 0.9;
    text-align: center;
    font-weight: 100;
    margin-top: -15vh;
}
.sec1_main .text > div:first-child {
    margin-left: -30vw;
}
.sec1_main .text > div:last-child {
    margin-right: -30vw;
}
.sec1_main .img {
    position: absolute;
    left: 20%;
    top: 35%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 20vw;
}
.sec1_main .desc {
    position: absolute;
    right: 10%;
    bottom: 10%;
    width: 33vw;
    font-family: 'IropkeBatang';
}
.sec1_main .desc h3 {
    margin-bottom: 14px;
    padding-left: 120px;
    position: relative;
}
.sec1_main .desc h3::before {
    content: '';
    width: 100px;
    height: 1px;
    background: #000;
    position: absolute;
    left: 0; bottom: 3px;
}
.sec1_main .desc span {
    float: right;
    display: inline-block;
    padding-top: 20px;
    font-family: 'NanumBrush';
    font-size: 20px;
}

.sec1_about {
    height: 100vh;
    background: blue;
}
