/* layout */
#contents {}
#section1 {
    height: 6000px;
}
#section2 {
    height: 6000px;
    background-color: #222;}
#section3 {background-color: #333;}
#section4 {background-color: #444;}
#section5 {background-color: #555;}
#section6 {background-color: #666;}
#section7 {background-color: #777;}

/* scroll */
.scroll {
    position: fixed;
    left: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
    background-color: rgba(0,0,0,0.3);
    text-align: center;
    line-height: 40px;
    color: #fff;
    z-index: 20000;
}

.cloud_left {
    position: fixed;
    left: 0%;
    bottom: 0%;
    width: 70vw;
    height: 80vh;
    background: url(https://suna99.github.io/portfolio/assets/svg/cloud_left.svg) no-repeat left bottom;
    background-size: 100%;
    z-index: 1000;
}
.cloud_right {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: url(https://suna99.github.io/portfolio/assets/svg/cloud_right.svg) no-repeat right bottom;
    background-size: 100%;
    z-index: 1100;
}
.min_cloud_left {
    position: fixed;
    left: 0%;
    bottom: 20vh;
    width: 70vw;
    height: 70vh;
    background: url(https://suna99.github.io/portfolio/assets/svg/min_cloud_left.svg) no-repeat left bottom;
    background-size: 100%;
    z-index: 500;
}
.min_cloud_right {
    position: fixed;
    right: 0;
    bottom: 10vh;
    width: 60vw;
    height: 80vh;
    background: url(https://suna99.github.io/portfolio/assets/svg/min_cloud_right.svg) no-repeat right bottom;
    background-size: 100%;
    z-index: 400;
}
.starWrap {
    position: fixed;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    background: #1941b8;
    z-index: 300;
}
.starWrap i {
    position: absolute;
    background: #fff;
    border-radius: 50%;
    animation: star linear infinite;
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 80px #fff;
}
  
@keyframes star {
    0% {opacity: 0;}
    10% {opacity: 1;}
    90% {opacity: 1;}
    100% {opacity: 0;}
}

.air {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url(https://suna99.github.io/portfolio/assets/img/about_me03.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: 2000;
}
.air_desc {
    position: fixed;
    left: 60%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #fff;
    width: 40vw;
    z-index: 2002;
    padding: 20px 30px;
    background: #1941b8;
}
.air_desc h2 {
    color: #fff;
    font-size: 40px;
    font-family: 'Poppins';
    font-weight: 200;
    margin-bottom: 3px;
}
.air_desc p {
    color: #fff;
    font-size: 18px;
    font-family: 'GmarketSans';
    font-weight: 300;
}
.air_desc .cover {
    position: absolute;
    left: -3px;
    top: -3px;
    width: 101%;
    height: 103%;
    background: #1941b8;
    display: none;
}

@media (max-width: 800px){
    .air_desc {
        left: 50%;
        width: 80vw;
    }
}

.line {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #1941b8;
    z-index: 3000;
}
.stop {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 50%;
    background: #1941b8;
}