@font-face {
    src: url("https://assets.codepen.io/2479807/gilroy-regular.ttf");
    font-family: "Gilroy";
}

@font-face {
    src: url("https://assets.codepen.io/2479807/gilroy-semibold.woff2");
    font-family: "Gilroy Semi-Bold";
}