/* body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #111;
} */

#header {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    z-index: 1000;
}

#header h1 {
    font-family: "PP NeueBit";
    color: #ffacac;
    font-size: 18px;
    line-height: 0.8;
    margin: 20px;
    padding-left: 30px;
}

#header h1::before {
    content: "";
    background-image: url(../img/star2.svg);
    background-repeat: no-repeat;
    background-size: 60%;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 30px;
    top: 29px;
}

#header h1 span {
    display: block;
}

#header nav {
    border: 1px solid #ffacac93;
    padding: 0.8rem 2.2rem;
    border-radius: 100px;
}

#header nav ul {
    display: flex;
}

#header nav li {
    color: #ffacac;
}

#header nav li a {
    padding: 10px 20px;
    font-family: "PP NeueBit";
    opacity: 0.5;
    text-transform: uppercase;
}

#header nav li.active a {
    opacity: 1;
}

#header .right {
    border: 1px solid #ffacac93;
    width: 40px;
    height: 40px;
    background-image: url(../img/dd.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 20px;
}

#section1 {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111;
    overflow: hidden;
}

#section1::after {
    content: "";
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(../img/noise.gif);
    opacity: 0.051;
    z-index: 10;
    pointer-events: none;
}

#section1 .top {
    width: 100vw;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ffacac31;
    color: #ffacac;
    white-space: nowrap;
    overflow: hidden;
    background-color: #0000004f;
    backdrop-filter: blur(10px);
}

#footer span {
    position: relative;
    padding-right: 30px;
    padding-left: 1px;
    padding-bottom: 8px;
    font-size: 12px;
    line-height: 1;
    display: inline-block;
    animation: marquee 10s linear infinite;
}

#footer span::after {
    content: "";
    background-image: url(../img/star.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 0;
    top: -2px;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.vert-text {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    width: 15rem;
    display: flex;
    align-items: center;
    z-index: 10;
}
.vert-text span {
    display: block;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.1;
    transform: rotate(-90deg) translateY(15rem);
    transform-origin: bottom left;
    font-size: 1.35rem;
}

.cart-total {
    display: block;
    height: 2rem;
    width: 2rem;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 50%;
    text-align: center;
    line-height: 2rem;
    margin-left: 1rem;
}

.slider {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.slider__text {
    position: absolute;
    bottom: calc(2rem + 3vw);
    left: calc(2rem + 3vw);
    z-index: 10;
    font-size: calc(1rem + 4vw);
    text-transform: uppercase;
    transform-origin: top;
    line-height: 1.075;
    color: #fff;
    font-weight: 500;
}
.slider__text-line {
    overflow: hidden;
}
.slider__inner {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.slider__nav {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 10;
}
.slider-bullet {
    display: flex;
    align-items: center;
    padding: 1rem 0;
}
.slider-bullet__text {
    color: #fff;
    font-size: 0.65rem;
    margin-right: 1rem;
}
.slider-bullet__line {
    background-color: #fff;
    height: 1px;
    width: 1rem;
}
.slider canvas {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.slide {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
.slide__content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.slide__img {
    position: relative;
    width: 25vw;
    height: 70vh;
    padding: 0;
    margin: 0;
    min-width: 12.5rem;
    transform-origin: top;
}
.slide__img:first-child {
    top: -1.5rem;
}
.slide__img:last-child {
    bottom: -1.5rem;
}
.slide__img img {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
