#header div {
    position: fixed;
    font-family: 'GmarketSans';
    color: #fff;
    z-index: 1000;
    text-transform: uppercase;
}

#header .leftTop {
    left: 10px;
    top: 10px;
    font-size: 18px;
    font-weight: 900;

}

#header .rightTop {
    right: 10px;
    top: 10px;
    font-size: 18px;
    font-weight: 900;
    opacity: 0.3;
}

#section1 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

#section1 #stars {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#section1 .center {
    width: 100%;
    display: flex;
    align-items: center;
    font-family: 'GmarketSans';
    flex-direction: column;
}

#section1 .center .top {
    font-size: 13vw;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 0.9;
    padding-top: 0.7vw;
    color: #fff;

}

#section1 .center .img {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.1vw;
    justify-content: space-between;
}

#section1 .center .img>div {
    width: 6vw;
    height: 8vw;
    margin: 0.1vw;
    border-radius: 10px;
    background-image: url(https://source.unsplash.com/500x500/?water);
    background-size: cover;
    background-position: center center;
}

#section1 .center .img>div:nth-child(1) {
    background-image: url(https://source.unsplash.com/500x500/?abstract)
}

#section1 .center .img>div:nth-child(2) {
    background-image: url(https://source.unsplash.com/500x500/?animal)
}

#section1 .center .img>div:nth-child(3) {
    background-image: url(https://source.unsplash.com/500x500/?visual)
}

#section1 .center .img>div:nth-child(4) {
    background-image: url(https://source.unsplash.com/500x500/?story)
}

#section1 .center .img>div:nth-child(5) {
    background-image: url(https://source.unsplash.com/500x500/?space)
}

#section1 .center .img>div:nth-child(6) {
    background-image: url(https://source.unsplash.com/500x500/?technology)
}

#section1 .center .img>div:nth-child(7) {
    background-image: url(https://source.unsplash.com/500x500/?texture)
}

#section1 .center .img>div:nth-child(8) {
    background-image: url(https://source.unsplash.com/500x500/?food)
}

#section1 .center .img>div:nth-child(9) {
    background-image: url(https://source.unsplash.com/500x500/?interior)
}

#section1 .center .img>div:nth-child(10) {
    background-image: url(https://source.unsplash.com/500x500/?abstract)
}

#section1 .center .img>div:nth-child(11) {
    background-image: url(https://source.unsplash.com/500x500/?art)
}

#section1 .center .img>div:nth-child(12) {
    background-image: url(https://source.unsplash.com/500x500/?red)
}

#section1 .center .img>div:nth-child(13) {
    background-image: url(https://source.unsplash.com/500x500/?black)
}

#section1 .center .img>div:nth-child(14) {
    background-image: url(https://source.unsplash.com/500x500/?blue)
}

#section1 .center .img>div:nth-child(15) {
    background-image: url(https://source.unsplash.com/500x500/?yellow)
}

#section1 .center .img>div:nth-child(16) {
    background-image: url(https://source.unsplash.com/500x500/?abstract)
}

#section1 .center .bom {
    font-size: 13vw;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 0.9;
    padding-top: 0.7vw;
    color: #fff;
}





#section2 {
    height: 2000px;
    background-color: #fff;
    margin-top: 100vh;
    border-radius: 100px 100px 0 0;
    padding: 10%;
}

#section2 .text {}

#section2 .text>div:nth-child(1) {
    font-size: 60px;
    font-weight: 900;
    font-family: 'GmarketSans';

}

#section2 .text>div:nth-child(2) {
    font-family: PartizenoRegular;
    font-size: 8vw;
    line-height: 0.8;
    padding-left: 5vw;
}

#section2 .text>div:nth-child(3) {
    font-family: PartizenoRegular;
    font-size: 12vw;
    line-height: 0.8;
    padding-left: 15vw;
    margin-top: -1vw;
}



#section3 {
    height: 3000px;
    background-color: #ccc;
}

.intro-wrap {}

.intro-wrap .intro {
    height: 100vh;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10vw;
    font-family: 'GmarketSans';
}

.intro-wrap .intro.i1 {
    background-color: #ffe0e0;
}

.intro-wrap .intro.i2 {
    background-color: #a08282;
}

.intro-wrap .intro.i3 {
    background-color: #4f3737;
}




#section4 {
    margin-top: 100vh;
    height: 4000px;
}

.port-wrap {}

.port-wrap .port.p1 {
    background: #350202;
    height: 100vh;
    border-radius: 100px 100px 0 0;
    overflow: hidden;
}

.port-wrap .port {
    padding: 30px;
    color: #fff;
    position: relative;
}

.port-wrap .port h3 {
    text-align: center;
    font-family: 'GmarketSans';
    font-size: 6vw;
    font-weight: bold;
    position: relative;
    z-index: 100;
}

.port-wrap .port p {
    font-family: 'IropkeBatang';
    margin: 0 auto;
    text-align: center;
    word-break: keep-all;
    position: relative;
    z-index: 100;
}

.port-wrap .port .img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 10%;
    z-index: 1;
    border-radius: 20px;
    overflow: hidden;
}

.port-wrap .port .btn a:first-child {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.port-wrap .port .btn a:last-child {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.port-wrap .port .btn a {
    padding: 10px 40px;
    border-radius: 50px;
    font-family: 'PartizenoRegular';
    font-size: 4vw;

}



#section5 {
    background-color: #fff;
    border-radius: 100px 100px 0 0;
}

.sec5-text {
    font-family: 'GmarketSans';
    font-size: 11vw;
    padding: 10% 20px;
    font-weight: 800;
    line-height: 0.9;
    text-transform: uppercase;

}

.sec5-text>div {
    display: inline-block;
    position: relative;
}

.sec5-text span {
    font-size: 24px;
    font-weight: 2;
    line-height: 1.3;
    position: absolute;
    right: -90px;
    top: 0;
}

#section6 {
    background-color: #000;
    color: #fff;
    padding: 100px;
    position: relative;
}

#section6 .text>div:nth-child(1) {
    font-size: 60px;
    font-weight: 900;
    font-family: 'GmarketSans';
}

#section6 .text>div:nth-child(2) {
    font-family: PartizenoRegular;
    font-size: 8vw;
    line-height: 0.8;
    padding-left: 5vw;
}

#section6 .text>div:nth-child(3) {
    font-family: PartizenoRegular;
    font-size: 12vw;
    line-height: 0.8;
    padding-left: 8vw;
    margin-top: -1vw;
    position: relative;
    z-index: 300;
    white-space: nowrap;
}

#section6 .img {
    position: relative;
    z-index: 100;
    width: 50%;
}

#section6 .input {
    padding-top: 20px;
    display: flex;
    gap: 10px;
}

#section6 .input input {
    border: 0;
    background-color: transparent;
    border: 1px solid #ffffff62;
    padding: 5px 10px;
    color: #fff;
}

#section6 .input button {
    border: 0;
    background-color: transparent;
    border: 1px solid #ffffff62;
    padding: 5px 30px;
    color: #fff
}

#section6 .input .input1 {
    width: 20%;
}

#section6 .input .input2 {
    width: 20%;
}

#section6 .input .input3 {
    width: 40%;
}

#section6 .input button {
    width: 20%;
}

#section6 .comment__wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#section6 .comment__wrap .comment {
    max-width: 300px;
    backdrop-filter: blur(10px);
    position: absolute;
    left: 10%;
    bottom: 10%;
    z-index: 1000;
    border: 1px solid #ffffff61;
    border-radius: 10px;
    padding: 20px;
    line-height: 1.7;
    font-family: 'IropkeBatang';
}

#section6 .comment__wrap .comment.c1 {
    left: 10%;
    bottom: 20%;
}

#section6 .comment__wrap .comment.c2 {
    left: 20%;
    bottom: 30%;
}

#section6 .comment__wrap .comment.c3 {
    left: 50%;
    bottom: 40%;
}

#section6 .comment__wrap .comment.c4 {
    left: 70%;
    bottom: 60%;
}

#section6 .comment__wrap .comment.c5 {
    left: 70%;
    bottom: 30%;
}

#section6 .comment__wrap .comment.c6 {
    left: 70%;
    bottom: 30%;
}

#section6 .comment__wrap .comment span em {
    display: inline-block;
    border: 1px solid #ffffff43;
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
    font-size: 12px;
}