#section1 {
    width: 100%;
    height: 100vh;
    background-color: #d7d3d0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    font-family: "PartizenoRegular";
}

#section1 .text {
    padding: 2rem;
    margin-top: 10vh;
}

#section1 .text h1 {
    margin-top: 4rem;
    margin-bottom: 1rem;
    font-size: 4vw;
}

#section1 .text h1 .split {
    opacity: 0;
}

#section1 .text p {
    font-size: 16px;
    width: 100%;
    margin-inline-start: auto;
    margin-inline-end: auto;
    font-family: "heirOfLight";
    line-height: 1.5;
}

#section1 canvas {
    pointer-events: none;
}

.matter-container {
    pointer-events: none;
}

/* section2 */
#section2 {
    height: 200vh;
    background-color: #10376b;
    position: relative;
    overflow: hidden;
}

#section2 .number {
    text-align: right;
    font-size: 40vw;
    line-height: 0.9;
    color: #fff;
    font-family: "SwisspoTrial-CondensedBold";
    text-transform: uppercase;
    letter-spacing: 1vw;
    padding-right: 4vw;
    color: #ececd1;
}

#section2 .number.absolute {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2000;
    width: 100%;
}

#section2 .number .front {
    color: #f1cb61;
    -webkit-text-stroke: 2px #ececd1;
    -webkit-text-fill-color: transparent;
}

#section2 .bgWrap {
    position: relative;
    z-index: 1500;
    padding-top: 200px;
}

#section2 .bgWrap .bg {
    background-color: #10376b;
    width: 100%;
    padding: 0 5vw;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40vh;
}

#section2 .bgWrap .bg h2 {
    font-size: 6vw;
    line-height: 0.8;
    position: relative;
    font-family: "SwisspoTrial-SemiCondMedTall";
    color: #ececd1;
}

#section2 .bgWrap .bg h2::before {
    content: "01";
    position: absolute;
    left: 0;
    top: -30px;
    font-size: 24px;
    font-family: "SwisspoTrial-ThinTall";
}
#section2 .bgWrap .bg .right {
    width: 60%;
}
#section2 .bgWrap .bg .right .text {
    width: 56vw;
    display: flex;
    gap: 20px;
    font-family: "nixgonFonts";
    color: #ececd1;
}
#section2 .bgWrap .bg .right .text p {
    margin-bottom: 10px;
    text-align: justify;
}
#section2 .bgWrap .bg .right .text p span {
    display: block;
    margin-bottom: 4px;
}
#section2 .bgWrap .bg .right .img {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-top: 5%;
}
#section2 .bgWrap .bg .right .img img {
    border: 1px solid #fff;
    border-radius: 10px;
}
#section2 .bgWrap .bg .right .img > div {
    width: 50%;
}
#section2 .bgWrap .bg .right .img > p {
    width: 45%;
    font-family: "heirOfLight";
}

#section3 {
    height: 100vh;
    background-color: #e0dcd8;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#section3 h3 {
    font-size: 70vw;
    line-height: 0.9;
    color: #fff;
    font-family: "SwisspoTrial-CondensedBold";
    text-transform: uppercase;
    letter-spacing: 1vw;
    color: #d9d5d1;
}

#section3 .botLeft {
    position: absolute;
    left: 5%;
    bottom: 5%;
    z-index: 1000;
    font-family: "PartizenoRegular";
    font-size: 10vw;
    line-height: 0.9;
}
#section3 .topRight {
    position: absolute;
    right: 5%;
    top: 5%;
    width: 600px;
}
#section3 .topRight p {
    margin-bottom: 10px;
    font-family: "gyeonggiBatang";
    font-weight: 400;
}
#section3 .topRight p strong {
    font-weight: 900;
}

#section4 {
    height: 100vh;
    background-color: #0d59d0;
    padding: 3% 0;
}
#section4 .textTitle {
    font-family: "SwisspoTrial-CondensedBold";
    font-size: 16vw;
    line-height: 1;
    color: #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    font-weight: 900;
    margin: 0 5%;
}
#section4 .textTitle .space {
    text-align: center;
    width: 8.1vw;
    display: inline-block;
    font-size: 10vw;
}
#section4 .textDesc {
    margin: 0 5%;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-top: 3%;
}
#section4 .textDesc .left {
    width: 20%;
    font-family: "PartizenoRegular";
    font-size: 40px;
    line-height: 1;
}
#section4 .textDesc .right {
    width: 30%;
    font-family: "gyeonggiBatang";
    word-break: keep-all;
}
#section4 .textDesc .right a {
    display: block;
    background: #fff;
    display: inline-block;
    margin-top: 10px;
    color: #000;
    font-family: "gyeonggiBatang";
    padding: 2px 15px;
    border-radius: 30px;
}
#section4 {
    position: relative;
    overflow: hidden;
}
.imgWrap {
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
    width: 50%;
    height: 1000px;
    /* background-color: #fff; */
}
.imgWrap .img.img1 {
    width: 100%;
    aspect-ratio: 4 / 3;
    background-image: url(../img/site1.png);
    background-size: cover;
    transform: rotate(5deg);
}
.imgWrap .img.img2 {
    margin-top: -100px;
    width: 100%;
    aspect-ratio: 4 / 3;
    background-image: url(../img/site2.png);
    background-size: cover;
    transform: rotate(-5deg);
}
