:root {
    --text-color: #111;
    --bg-color: #b9b3a9;
}

body {
    color: var(--text-color);
    background: var(--bg-color);
    transition: 0.3s ease-out;
    overflow-x: hidden;
    max-width: 100%;
    width: 100%;
    overscroll-behavior: none;
}

section:not(.horizontal-scroll) {
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    padding: 50px 10vw;
    margin: auto;
    place-items: center;
}
img {
    height: 80vh;
    width: auto;
    object-fit: cover;
}
.horizontal-scroll {
    height: 100vh;
    overflow: hidden;
    display: flex;
    left: 0;
}
.pin-wrap {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.pin-wrap > div{
    min-width: 40vw;
}

/* header */
#header {
    position: fixed;
    left: 0; 
    top: 0;
    width: 70px;
    height: 100vh;
    background: rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Montserrat';
    text-transform: uppercase;
    z-index: 10000;
    backdrop-filter: blur(10px);
}
#header h1 {
    font-size: 18px;
    transform: rotate(-90deg);
    font-weight: 600;
    padding: 10vw;
    letter-spacing: 0.1vw;
}
#header .left {
    font-size: 14px;
    transform: rotate(-90deg);
    letter-spacing: 0.2vw;
}
#header .right {
    font-size: 14px;
    transform: rotate(-90deg);
    letter-spacing: 0.2vw;
}

/* sec1_text */
.sec1_text {
    font-family: "Eros Romano";
    font-size: 9vw;
    line-height: .91;
}
.sec1_text .t1 {padding-left: 10vw;}
.sec1_text .t2 {padding-left: 12vw;}
.sec1_text .t3 {padding-left: 20vw;}
.sec1_text .t2 span {
    font-family: 'Montserrat';
    font-size: 3vw;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: .81vw;
    padding: 0 1vw;
    font-weight: 200;
}

.pin-wrap .sec2_1 {
    min-width: 100vw;
}
.pin-wrap .sec2_2 {
    min-width: 60vw;
}
.pin-wrap .sec2_3 {
    min-width: 60vw;
}
.pin-wrap .sec2_4 {
    min-width: 60vw;
    margin-right: 20vw;
}
.pin-wrap .sec2_5 {
    min-width: 200vw;
    height: 100vh;
    background: #000;
}
.sec2_1 {
    display: flex;
    align-items: center;    
    justify-content: center;
    font-family: 'IropkeBatang';
}
.sec2_2 {
    display: flex;
    align-items: center;    
    justify-content: center;
    height: 100vh;
}
.sec2_2 .title .imgWrap {
    width: 40vw;
    height: 40vh;
    overflow: hidden;
    position: relative;
}
.sec2_2 .title .imgWrap .img {
    background: url(https://images.unsplash.com/photo-1653226439336-177c4c1ccc51?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170) no-repeat center center;
    background-size: cover;
    width: 130%;
    height: 130%;
    position: absolute;
    left: -15%;
    top: -15%;
}
.sec2_2 .title .desc {
    width: 30vw;
    font-family: 'IropkeBatang';
    margin-left: 15vw;
}
.sec2_2 .title .desc h3 {
    padding: 5vw 0 1vw 0;
}

.sec2_3 {
    display: flex;
    align-items: center;    
    justify-content: center;
    width: 40vw;
    height: 100vh;
}
.sec2_3 .title {
    display: flex;
}
.sec2_3 .title .imgWrap {
    width: 20vw;
    height: 70vh;
    margin-top: -10vw;
    position: relative;
    overflow: hidden;
}
.sec2_3 .title .imgWrap .img {
    background: url(https://images.unsplash.com/photo-1653161926079-ae2fde0fd6e1?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764) no-repeat center center;
    background-size: cover;
    width: 150%;
    height: 150%;
    position: absolute;
    left: -25%;
    top: -25%;
}
.sec2_3 .title .desc {
    width: 20vw;
    font-family: 'IropkeBatang';
    margin-right: 5vw;
}
.sec2_3 .title .desc h3 {
    padding: 3vw 0 1vw 0;
}

.sec2_4 {
    display: flex;
    align-items: center;    
    justify-content: center;
    height: 100vh;
}
.sec2_4 .title .imgWrap {
    width: 40vw;
    height: 40vh;
    overflow: hidden;
    position: relative;
}
.sec2_4 .title .imgWrap .img {
    background: url(https://images.unsplash.com/photo-1653226439336-177c4c1ccc51?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170) no-repeat center center;
    background-size: cover;
    width: 130%;
    height: 130%;
    position: absolute;
    left: -15%;
    top: -15%;
}
.sec2_4 .title .desc {
    width: 30vw;
    font-family: 'IropkeBatang';
    margin-left: 15vw;
}
.sec2_4 .title .desc h3 {
    padding: 5vw 0 1vw 0;
}